@charset "utf-8";

.junior-psycho-wrap .header_common_test {background:#fff6e5;}
.junior-psycho-wrap .test_inner_header {background:#fff6e5;}
.junior-psycho-wrap .test_inner_header .tit_cont {margin-left:50px;}
.junior-psycho-wrap .header_dev_lightgreen .test_inner_header .tit_cont .txt_tit {background:#feaa03;}
.junior-psycho-wrap .test_inner_header .item_share .list_item {background:#fff;}
.junior-psycho-wrap .test_inner_header .gnb_test .btn_gnb {width:61px;height:61px;margin-top:-6px;}
.junior-psycho-wrap .test_inner_header .gnb_test .btn_gnb .ico_common {width:61px;height:61px;}
.junior-psycho-wrap .box_common_service .list_service .service4 {height:67px;padding-top:0;line-height:67px;}