@charset "utf-8";

/* 회사소개 공통 */
.tit-wrap .stit{font-size:24px;}
.box-aboutus {overflow:hidden; width:100%; line-height:26px; font-weight:300; color:#404040;}
.box-aboutus .aboutus-inner .aboutus-tit{width:920px; margin-top:180px; padding:50px 0 0 30px; background-color:#fff;}
.box-aboutus .aboutus-inner strong{display:inline-block; font-size:24px; line-height:36px; color:#043b73; font-weight:300; margin-bottom:20px;}
.box-aboutus .aboutus-inner em{display:inline-block; font-size:18px; padding-bottom:10px;}
.box-aboutus .aboutus-inner.type02{width:100%; margin-top:20px; padding:0 0 0 30px;}
.box-aboutus .aboutus-inner .list-box > em{position: absolute; top: 50%; left: 50%; transform: translateX(-50%)translateY(-50%); padding-bottom: 0; color: #f7681a; font-size: 20px;font-weight: 500; text-align: center; }
.box-aboutus .aboutus-inner .list-box > em:before{ transform: rotate(-45deg); display: block; width: 128px; height: 128px; background: #fff;border:2px solid #f7681a; content: ''; }
.box-aboutus .aboutus-inner .list-box > em span { position: absolute; top: 50%; left: 50%; transform: translateX(-50%)translateY(-50%); }
.box-aboutus .aboutus-inner .list-box ul li strong { display: block; margin-bottom: 5px; font-size: 15px; font-weight: 400;line-height: 26px; }
.box-aboutus .aboutus-list{padding-left:30px;}
.box-aboutus.line{padding-bottom:100px; border-bottom:1px solid #ddd;}

.txtbox-col { overflow: hidden; padding-bottom: 100px;margin-top: 100px; border-bottom: 1px solid #ddd; }
.txtbox-col > div { float: left; width: 50%; padding-left: 50px; border-left: 1px solid #ddd; }
.txtbox-col > div:first-child { border-left: none; padding-left: 0; }



/* 인사말 */
.greeting-txt1{position: relative; height: 360px; background: url(../img/aboutus/img_greeting.png) no-repeat;}
.greeting-txt1 > div {position: absolute; top: 100px;left: 480px;}
.greeting-txt1 h3 { color:#043b73; font-size: 24px; font-weight: 300; line-height: 36px; }
.greeting-txt1 .sign { margin-top: 26px; padding-bottom: 56px; background: url(../img/aboutus/img_greeting_sign.png) no-repeat 0 bottom; color:#404040; font-size: 15px; font-weight: 300; line-height: 26px; }
.greeting-txt2{ margin-top: 45px; padding: 0 20px; overflow: hidden;}
.greeting-txt2 > p { float: left; width: 505px; margin-left: 45px; color:#404040; font-size: 15px; font-weight: 300; line-height: 26px; }
.greeting-txt2 > p:first-child {margin-left: 0;}

.list-box {position: relative; margin-top: 22px;}
.list-box ul{overflow: hidden;border: 1px solid #ddd; }
.list-box ul li{float: left;width: 50%; padding: 35px 40px;border-top: 1px solid #ddd; border-left: 1px solid #ddd;}
.list-box ul li:nth-child(odd) { border-left: none; }
.list-box ul li:nth-child(even) { text-align: right; }
.list-box ul li:nth-child(1),
.list-box ul li:nth-child(2){ border-top: none; }

.list-box-circle {overflow: hidden; margin-top: 53px;}
.list-box-circle li {position: relative; vertical-align: middle; float: left;width:289px; height: 230px; padding-left: 56px; font-size: 18px; font-weight: 400; text-align: center;  }
.list-box-circle li:nth-child(odd){ background: url(../img/aboutus/bg_list_odd.png) no-repeat; color: #fff; }
.list-box-circle li:nth-child(even){background: url(../img/aboutus/bg_list_even.png) no-repeat;color: #043b73; }
.list-box-circle li:first-child { width: 230px; padding-left: 0; background-position:-59px 0; }
.list-box-circle li:first-child span {left: 50%; }
.list-box-circle li span { position: absolute; top: 50%; left: 60%; width: 230px; transform: translateX(-50%)translateY(-50%); }



/* 윤리경영 */
.box-aboutus.ethical01 {margin-top:10px; background:url(../img/aboutus/img_ethical01.png) no-repeat center top;}
.box-aboutus-img {overflow:hidden; width:100%; height:300px; margin:100px 0; background:url(../img/aboutus/img_ethical02.png) no-repeat center top; font-size:0; line-height:0; border-bottom:1px solid #ddd;}

/* 나눔소개 */
.box-aboutus.social01 {margin-top:10px; background:url(../img/aboutus/img_social01.png) no-repeat center top;}
.box-aboutus.social02 .aboutus-inner{padding:0;}
.box-aboutus.social02 .aboutus-inner ul{margin-top:40px; overflow:hidden;}
.box-aboutus.social02 .aboutus-inner ul li em{padding-bottom:0;}
.box-aboutus.social02 .aboutus-inner ul li{width:33.3333333%; float:left; padding-top:138px; text-align:center;}
.box-aboutus.social02 .aboutus-inner ul li.cont01{background:url(../img/aboutus/icon_social01.png) no-repeat center 0;}
.box-aboutus.social02 .aboutus-inner ul li.cont02{background:url(../img/aboutus/icon_social02.png) no-repeat center 0;}
.box-aboutus.social02 .aboutus-inner ul li.cont03{background:url(../img/aboutus/icon_social03.png) no-repeat center 0;}

/* 나눔활동 */
.box-aboutus.social03{background:url(../img/aboutus/img_social02.png) no-repeat center 0;}
.box-aboutus.social04{background:url(../img/aboutus/img_social03.png) no-repeat center 0;}
.box-aboutus.social04 .aboutus-inner ul li.cont01{background:url(../img/aboutus/icon_social04.png) no-repeat 8px 0;}
.box-aboutus.social04 .aboutus-inner ul li.cont02{background:url(../img/aboutus/icon_social05.png) no-repeat 18px 0;}
.box-aboutus.social04 .aboutus-inner ul li.cont03{background:url(../img/aboutus/icon_social06.png) no-repeat 8px 0;}
.box-aboutus.social04 .aboutus-inner ul li.cont04{background:url(../img/aboutus/icon_social07.png) no-repeat 18px 0;}
.box-aboutus.social05{background:url(../img/aboutus/img_social04.png) no-repeat center 0;}
.box-aboutus.social05 .aboutus-inner ul li.cont01{background:url(../img/aboutus/icon_social08.png) no-repeat 8px 0;}
.box-aboutus.social05 .aboutus-inner ul li.cont02{height:373px; background:url(../img/aboutus/icon_social09.png) no-repeat 18px 0;}
.box-aboutus.social05 .aboutus-inner ul li.cont03{background:url(../img/aboutus/icon_social10.png) no-repeat 8px 0;}

/* 나눔활동 - 사회복지, 나눔문화 정렬 */
.box-aboutus .aboutus-inner .aboutus-list ul{display:inline-block; width:100%; margin-top:70px;}
.box-aboutus .aboutus-inner .aboutus-list li:nth-child(3),
.box-aboutus .aboutus-inner .aboutus-list li:nth-child(4){margin-top:65px;}
.box-aboutus .aboutus-inner .aboutus-list ul li:nth-child(even){padding-left:10px;}
.box-aboutus .aboutus-inner .aboutus-list ul li{width:50%; float:left; padding-top:77px;}

/* 연혁 */
.history-wrap{padding:100px 0 0 0;overflow:hidden;}
.history-wrap h3{float:left;padding:54px 0 0 0;width:349px;font-size:36px;line-height:100%;font-weight:500;}
.history-wrap .hostory{overflow:hidden;}
.history-wrap .hostory > ul{float:left;width:750px;}
.history-wrap .hostory > ul > li{position:relative;display:table;table-layout:fixed;width:100%;}
.history-wrap .hostory:first-child h3{padding:0;}
.history-wrap .hostory:first-child > ul > li:first-child .year:after{content:'';display:inline-block;width:16px;height:3px;background:#fff;position:absolute;right:0;top:0;}
.history-wrap .hostory:first-child > ul > li:first-child .detail{padding:0 0 0 30px;}
.history-wrap .hostory:first-child > ul > li:first-child .year{padding:0;}
.history-wrap .hostory:first-child > ul > li:first-child .year:before{top:3px;}
.history-wrap .year{display:table-cell;position:relative;width:114px;padding:60px 0 0 0;font-size:24px;font-weight:300;color:#2469b0;background:url(../img/aboutus/bg_history02.png) repeat-y right top;}
.history-wrap .year:before{content:'';display:inline-block;width:16px;height:16px;position:absolute;right:0;top:61px;background:url(../img/aboutus/bg_history01.png) no-repeat;}
.history-wrap .detail{display:table-cell;width:635px;padding:60px 0 0 30px;vertical-align: top;}
.history-wrap .month{float:left;width:58px;color:#757575;font-size:16px;font-weight:300;}
.history-wrap .detail li{padding:0 0 32px 0;}
.history-wrap .detail p{display:block;padding:0 0 0 58px;font-size:15px;color:#313131;font-weight:300;}
.history-wrap .detail p + p{padding-top:5px;}

/*위치*/
.location-cont img { vertical-align: top; }
.location-cont div { padding:39px 40px 38px; margin-top: 20px; border: 1px solid #ddd; overflow: hidden; }
.location-cont div p { float: left; color: #404040; font-size: 18px; font-weight: 300; }
.location-cont div p strong { display: inline-block; margin-right: 20px; color: #0f0f0f; font-weight: 400; }
.location-cont div span { float: right; color:#f7681a; font-size: 20px; font-weight: 400; }