@charset "utf-8";

.page-title-style.type02 { margin:72px 0 38px;  }
.page-title-style.type02 .page-title {font-size: 40px;}
.page-title-style.type02 .title-txt { margin-top: 8px; }
.tit-wrap { margin:0; }
.tit-wrap .stit { font-size: 24px; }
.tit-wrap .title-txt { font-size: 15px; line-height: 26px; }
.box-business { width:100%; margin-top: 97px; font-size:0; line-height:0; }


/* 기업금융 */
.box-business1-01-01 {margin-top:50px; height:796px; background:url(../img/business/img_business1_01_01.png) no-repeat center top;}
.box-business1-01-02 {margin-top:50px; height:503px; background:url(../img/business/img_business1_01_02.png) no-repeat center top;}
.business1-02 {margin-top:50px; height:515px; background:url(../img/business/img_business1_02.png) no-repeat center top; }
.business1-03 {margin-top:50px; height:505px; background:url(../img/business/img_business1_03.png) no-repeat center top;}
.business1-04 {margin-top:50px; height:511px; background:url(../img/business/img_business1_04.png) no-repeat center top;}

/* 신성장투자 */
.box-business2-01 {height:560px; background:url(../img/business/img_business2_01.png) no-repeat center top;}
.box-business2-02 {height:650px; background:url(../img/business/img_business2_02.png) no-repeat center top;}
.box-business2-03 {height:892px; background:url(../img/business/img_business2_03.png) no-repeat center top;}
.box-business2-04 {height:588px; background:url(../img/business/img_business2_04.png) no-repeat center top;}
.box-business2-05 {height:748px; background:url(../img/business/img_business2_05.png) no-repeat center top;}
.box-business2-06 {margin:75px auto 0; overflow: hidden;}
.box-business2-06 > li {position:relative; float:left; width:290px; margin-left:85px; padding-bottom:80px; text-align:center;}
.box-business2-06 > li:first-child {margin:0;}
.box-business2-06 > li > strong {display:block; width:100%; height:175px; font-size:0; line-height:0;}
.box-business2-06 > li.miraeasset-naver > strong {background:url(../img/business/partner01.png) no-repeat;}
.box-business2-06 > li.miraeasset-gs > strong {background:url(../img/business/partner02.png) no-repeat;}
.box-business2-06 > li.miraeasset-cell > strong {background:url(../img/business/partner03.png) no-repeat;}
.box-business2-06 > li > strong em {position:absolute; left:0; bottom:0; display:block; width:100%; height:60px; background:#043b73; border-radius:10px; -webkit-border-radius:30px; -moz-border-radius:30px; color:#fff; font-size:18px; line-height:60px;}
.box-business2-06 > li > p {margin-top:20px; height:60px; background:#f5f7f9; border-radius:10px; -webkit-border-radius:30px; -moz-border-radius:30px; font-size:16px; line-height:60px;}
.box-business2-06 > li > em {display:block; margin-top:10px; height:60px; background:#f5f7f9; border-radius:30px; -webkit-border-radius:30px; -moz-border-radius:30px; color:#f7681a; font-size:20px; line-height:60px;}
.box-business2-06 > li > div {height:250px; margin:20px 10px 0; border-top:1px solid #d1d7de; border-bottom:1px solid #d1d7de;}
.box-business2-06 > li > div strong{display:block; margin-top:20px; font-size:16px; font-weight:400; line-height:16px;}
.box-business2-06 > li > div ul {padding:15px 10px 0;}
.box-business2-06 > li > div ul li {color:#757575; font-weight:300; line-height:28px; text-align:left;}
.box-business2-06 > li > div ul li:before {top:12px;}
.box-business2-06 .dot-list01 li:before{background:#757575;}
.box-business-txt{margin-top:100px; padding-bottom:50px; font-size:15px; font-weight:300; color:#404040; line-height:26px;}
