@charset "utf-8";

/* 페이지 타이틀 정렬 */
/* .page-title-center{text-align: center; margin-top:80px; line-height:1.4;}
.page-subtitle{font-size:18px; color:#404040; font-weight:300; text-align: center; margin-top:25px;}
.title-money{color:#d83d20;} */

/*
견적신청 라디오버튼
.customer-pick-list {overflow: hidden; margin-top: 12px;}
.customer-pick-list.type02 li{float:left; width:25% !important;} */

/*
오토리스 차량선택
 .color-pick-cont  {overflow: hidden; padding: 8px 0; }
.color-pick-cont  > * { float: left; }
.color-pick-cont strong {width: 120px;color: #404040; font-size: 15px; font-weight: 400;}
.color-pick-cont .customer-pick-list {width: 466px; padding: 10px 0; margin-top: -11px;}
.color-pick-cont .customer-pick-list li{ width:50%; margin-top: 25px;}
.color-pick-cont .customer-pick-list li:nth-child(1),
.color-pick-cont .customer-pick-list li:nth-child(2){margin-top: 0;}
.color-pick-cont .customer-pick-list input[type="radio"].common-radio + label {
	padding-left: 40px;
}
.color-pick-cont .customer-pick-list input[type="radio"].common-radio + label:before {
	top: -5px; width: 30px;height: 30px;border-radius: 50px; border:none;
}
.color-pick-cont .customer-pick-list .color01 label:before {background: #1a2a3f;}
.color-pick-cont .customer-pick-list .color02 label:before{background: #133f58;}
.color-pick-cont .customer-pick-list .color03 label:before{background: #353a40;}
.color-pick-cont .customer-pick-list .color04 label:before{background: #232323;}
.color-pick-cont .customer-pick-list .color05 label:before{background: #b6b7b9;}
.color-pick-cont .customer-pick-list .color06 label:before{background: #8a1f23;}
.color-pick-cont .customer-pick-list .color07 label:before{background: #1a1a1a;}
.color-pick-cont .customer-pick-list .decision label:before{background: url(../img/comm/icon_decision.png) no-repeat;}
.color-pick-cont input[type="radio"].common-radio + label:after {
	top:-5px;
	left: 0;
	width: 30px;
	height: 30px;
	background: url(../img/comm/icon_check_w.png) no-repeat center ;
}
.color-pick-cont .decision input[type="radio"].common-radio + label:after{
	background: url(../img/comm/icon_decision_on.png) no-repeat;
} */

/* 테이블 */
/* .customer-number01{float:left; padding:13px 0 20px 0; box-sizing: border-box;}
.customer-number01-1{float:right;}
.customer-number01-1 input{width:163px !important;}
.customer-number01-1 span{margin:0 5px;}
.customer-number01-1 a{margin-left:10px;}

.customer-number02{float:left;}
.customer-number02-1{float:right;}

.stit02 th{border-bottom:1px solid #ccc; color:#757575 !important;}
.stit02 td{ border-bottom:1px solid #ccc; text-align: right; color:#d83d20;}
*/

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 2018-05-04 */
/* autolease.html, popup_payment_way.html > 초기납부형식 radio tab, radio button css */
/* .pick-list.type02 li{width:50%;} */


/* 상담안내_n */
/* .pop-cont .result-cont {margin-top:40px;}
.pop-cont .result-cont.limit-n{padding-top:95px; background-size:70px;}
.pop-cont .result-cont strong{font-size:20px;}
.pop-cont .result-cont p{font-size: 15px; margin-top:0;}

.pop-btm.type02{border-top:0;}
*/


/* 차량 조건 변경 > 결제방식 */
/* .popup-payment-way .estimate-cont{display:block;} */

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 2018-05-08 */
/* 비밀번호 변경 */
/* .pop-certificate-reg.type02{padding-top:20px;}
.pop-certificate-reg.type02 .notice-list{margin-top:60px; padding:0;}
.pop-certificate-reg.type02 .cont{font-size:20px; text-align: center;}

.pop-cont .stit03{color:#757575;} */

/* .pwd-checklist span{display:table-cell;}
.pwd-checklist span:before{background: url(../img/member/ico_check.png) no-repeat left top; content:''; overflow:hidden; display:inline-block; width:12px; height:10px; margin-right:10px; vertical-align:middle;}
.pwd-checklist span.selected{color:#d83d20;}
.pwd-checklist span.selected:before {background-position:left -10px;} */
