@charset "utf-8";

/* 상품소개 */
.autoloan-intro{position:relative;padding:72px 55px 0;}
.autoloan-intro .tit-area{width:1100px;margin:0 auto;height:309px;}
.autoloan-intro h2{float:left;width:600px;font-weight:700;color:#043b72;font-size:50px;line-height:58px;}
.autoloan-intro .t-cont{float:left;width:490px;color:#043b72;}
.autoloan-intro .t-cont p{font-size:18px;line-height:28px;}
.autoloan-intro .t-cont em{position:relative;display:block;padding:17px 0 0 0;margin-top:54px;font-size:20px;font-weight:300;}
.autoloan-intro .t-cont em:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:30px;height:1px;background:#043b72;vertical-align:top;}
.autoloan-intro .t-cont strong{display:block;padding:12px 0 4px 0;font-size:34px;line-height:40px;font-weight:500;}
.autoloan-intro .t-cont span{display:block;font-size:16px;line-height:24px;}
.ask-application{width:100%;height:125px;background:#043b73;}
.ask-application ul{width:1100px;margin:0 auto;}
.ask-application ul li{float:left;position:relative;width:50%;}
.ask-application ul li:first-child:after{content:'';display:inline-block;width:1px;height:87px;background:#50769d;position:absolute;right:0;top:19px;}
.ask-application ul li:first-child em{padding:50px 0 0 0;}
.ask-application ul li em{display:inline-block;padding:50px 0 0 49px;font-size:26px;color:#fff;font-weight:300;}
.ask-application ul li button{position:absolute;right:50px;top:40px;}
.autoloan-intro .commission{position:relative;width:100%;overflow:hidden;background:#f4f4f4;border-top:1px solid #fff;}
.autoloan-intro .commission:after{content:'';display:block;width:100%;height:1px;position:absolute;left:0;top:50%;background:#fff;}
.autoloan-intro .commission ul{width:1100px;margin:0 auto;}
.autoloan-intro .commission ul li{float:left;padding:23px 0 22px;font-size:16px;width:50%;}
.autoloan-intro .commission ul li em{float:left;width:200px;color:#1d1d1d;font-weight:500;}
.autoloan-intro .commission ul li span{display:inline-block;color:#404040;}
.pdt-characteristic{overflow:hidden;padding:80px 0 66px;}
.pdt-characteristic ul li{float:left;width:33.3%; padding-top: 132px; text-align: center;}
.pdt-characteristic ul li em{display:block;padding:0 0 11px 0;font-weight:500;color:#0f0f0f;font-size:18px;}
.pdt-characteristic ul li p{margin-top:10px; font-size:16px; line-height:26px;}
.pdt-characteristic ul li p span{display:block; margin-top:5px; font-size:15px; font-weight:300;}
.pdt-characteristic ul li.cont1{background:url('../img/car/icon_stock_info01.png') no-repeat center 0;}
.pdt-characteristic ul li.cont2{background:url('../img/car/icon_stock_info02.png') no-repeat center 0;}
.pdt-characteristic ul li.cont3{background:url('../img/car/icon_stock_info03.png') no-repeat center 0;}
.pdt-characteristic ul li.cont4{background:url('../img/car/icon_stock_info04.png') no-repeat center 0;}
.pdt-characteristic ul li.cont5{background:url('../img/car/icon_stock_info05.png') no-repeat center 0;}
.pdt-characteristic ul li.cont6{background:url('../img/car/icon_stock_info06.png') no-repeat center 0;}
.pdt-characteristic .autolease li{width:33.3%;}
.pdt-characteristic .tit-wrap{padding: 0 0 29px 0;}
.notice-list > div {color:#757575; font-size:15px; font-weight:300;padding-left:10px;}
.notice-list > div > strong {display:block; color:#0f0f0f; font-weight:400; font-size:18px; margin:24px 0 10px;}

/* 신규대출 신청 */
.customer-info-form .card-pw {display:inline-block; padding-left:10px;}
.customer-info-form .card-pw span {display:inline-block; padding-right:5px;}

/* 추가대출 */
.tooltip .box{margin:-36px 0 0 160px}
.tooltip .box:after{left:209px;}
.tooltip .box em{display:block; font-size:18px; font-weight:500; color:#0f0f0f; padding-bottom:18px;}
.tooltip .box em.stit{font-size:14px; padding-bottom:0;}
.limit-result{width: 100%;min-height: 213px; padding:15px 50px; margin:20px 0;background:#f9f9f9;}
.limit-result table{ width:100%;  table-layout: fixed;}
.limit-result table th{text-align:left; padding:15px 0; font-weight:400;}
.limit-result table td{text-align:right; font-weight:300;}

/* 대출신청 */
.list-type1 {border-top:1px solid #2d2d2d;overflow:hidden;}
.list-type1 li{display:table;width:100%;height:60px;border-bottom:1px solid #e7e7e7;}
.list-type1 li em{display:table-cell;padding:0 0 0 20px;vertical-align:middle;}
.list-type1 li em.check:before{content:'';width:22px;height:10px;display:inline-block;background:url('../img/comm/icon_check.png') no-repeat 0 0;}
.list-type1 li em:before{content:'';width:22px;height:10px;display:inline-block;background:url('../img/comm/icon_check01.png') no-repeat 0 0;}
.list-type1 li .r-btn{display:table-cell;width:265px;padding-right:30px;vertical-align:middle;text-align:right;}
.list-type1 li .r-btn button:last-child{margin-right:0;}
.list-type1 li .r-btn button{margin-right:8px;}
.list-type1.list-type1-2 li { padding: 0 20px; }

/* 추가대출 대상자 확인 */
.pop-cont.type3 .popup-application-finish p{padding-top:95px;}

/* 신규 대출 대상자 확인 */
.popup-application-finish.none-icon {background:none;}
.popup-application-finish.none-icon strong {padding:0;}


/* 이용약관 팝업 */
.layer-popup .pop-consumer-info .notice-list{padding-top:0px;}
.layer-popup .pop-consumer-info .notice-list li{font-size:15px;}
.pop-consumer-info{line-height: 26px;}
.pop-consumer-info strong{display: inline-block; font-weight:400; padding-top:20px;}
.pop-consumer-info p.notice-list{padding:0 0 0 10px !important;}
.pop-consumer-info p.notice-list:before{top:10px;}
.pop-consumer-info p{color:#757575; font-weight:300;}
.pop-consumer-info .terms-list li{padding-left:16px; color:#757575; font-weight:300; text-indent:-16px;}
.pop-consumer-info .consumer-list li{padding:0 !important;}
.pop-consumer-info .consumer-list li::before{content:none;}

/* 준비사항체크 팝업 */
.pop-cont .pop-stock em{display:block; color:#0f0f0f; padding-bottom:12px;}
.pop-cont .pop-stock .pop-txt{line-height:26px; color:#757575; font-weight:300;}
.pop-cont .pop-stock .pop-txt span {color:#f7681a}
.pop-cont .pop-stock .pop-txt .check-list{color:#0f0f0f; margin-top:30px}

.list-type1 {border-top:1px solid #2d2d2d;}
.list-type1:after{content:'';display:block;width:100%;clear:both;overflow:hidden;}
.list-type1 li{display:table;width:100%;height:60px;border-bottom:1px solid #e7e7e7;}
.list-type1 li em{display:table-cell;vertical-align:middle;}
.list-type1 li em.check:before{content:'';width:22px;height:10px;display:inline-block;background:url('../img/comm/icon_check.png') no-repeat 0 0;}
.list-type1 li em:before{content:'';width:22px;height:10px;display:inline-block;background:url('../img/comm/icon_check01.png') no-repeat 0 0;}
.list-type1 li .r-btn{display:table-cell; vertical-align:middle;text-align:right;}
.list-type1 li .r-btn button:last-child{margin-right:0;}
.list-type1 li .r-btn button{margin-right:8px;}
.list-type1.file li em{width:153px;}
.list-type1.file li .file{display:table-cell;vertical-align:middle;font-weight:300;color:#414141;}
.list-type1.file li .r-btn .file-btn-type{}
.list-type1.list-type1-2 li { padding: 0 20px; }
.list-type1.list-type1-2 + .notice-list { padding-top: 10px; }
