@charset "utf-8";

/* 타이틀 */
.tit-wrap { margin:40px 0 8px 0; }
.tit-wrap:first-child { margin-top: 0; }
.tit-wrap .stit { color: #0f0f0f; font-size: 15px; font-weight: 400; line-height: 20px; }

/* 인사말 */
.greeting-txt1{position: relative; height: 195px; min-width: 345px; background: #e8ebee url(../img/aboutus/img_greeting.png) no-repeat 19px 40px; background-size: 115px 153px;}
.greeting-txt1 > div {position: absolute; top: 30px;left: 129px; }
.greeting-txt1 h3 { color:#043b73; font-size: 13px; font-weight: 400; line-height: 19px; }
.greeting-txt1 .sign { margin: 22px 0 0 47px; padding-bottom: 28px; background: url(../img/aboutus/img_greeting_sign.png) no-repeat 5px bottom; background-size:89px auto;  color:#404040; font-size: 12px; font-weight: 400; }
.greeting-txt2{ margin-top: 28px; }
.greeting-txt2 > p { color:#404040; font-size: 13px; font-weight: 400; line-height: 19px; word-break: keep-all;}

/* 경영철학 */
.list-box {margin-top: 21px;border: 1px solid #ddd; border-top: none;}
.list-box li{word-break: keep-all;width: 100%; padding: 26px 25px; border-top: 1px solid #ddd; color: #686868; font-size: 13px;font-weight: 400;line-height: 19px; font-weight: 400;  }
.list-box li strong { display: block;margin-bottom: 4px;  color: #043b73; font-weight: 400; }
.invest_rules { width: 325px; height: 325px; margin: 17px auto 0; background: url(../img/aboutus/bg_invest_rules.png) no-repeat; background-size: 100%; font-size: 0; line-height: 0;}

/* 윤리경영 */
.txt-box-cont { padding: 28% 0 0 0; margin-top: 13px; }
.txt-box-cont.ethical{  background: url(../img/aboutus/bg_ethical01.png)no-repeat;background-size: 100% auto; }
.txt-box-cont p { background: #fff; width: 90%; padding:22px 30px 0 9px; color: #686868; font-size: 13px; line-height: 19px; word-break: keep-all;}
.txt-box-cont p strong {display: block; margin-bottom: 13px; color:#043b73; font-size: 15px; font-weight: 400; line-height: 20px; word-break: keep-all;}
.ethical-box { width: 269px; height: 474px; margin: 28px auto 0; background: url(../img/aboutus/bg_ethical02.png) no-repeat; background-size:100%; font-size: 0; line-height: 0;}
.txt-cont strong {display: block; margin-top: 7px; color: #043b73; font-size: 15px; font-weight: 400; line-height: 20px; word-break: keep-all;}
.txt-cont em {display: block; margin-top: 10px; color: #0f0f0f; font-size: 13px; line-height: 19px;}
.txt-cont em + p { margin-top: 9px; }
.txt-cont p { margin-top: 13px; color: #686868; font-size: 13px; font-weight: 400; line-height: 19px; word-break: keep-all; }
.txt-cont.type02 { padding:0 8px; }

/* 나눔소개 */
.txt-box-cont.contribute{ background: url(../img/aboutus/bg_contribute01.png)no-repeat;background-size: 100% auto; }
.txt-box-cont.contrib-act01{ background: url(../img/aboutus/bg_contrib-act01.png)no-repeat;background-size: 100% auto; }
.txt-box-cont.contrib-act02{ background: url(../img/aboutus/bg_contrib-act02.png)no-repeat;background-size: 100% auto; }
.txt-box-cont.contrib-act03{ background: url(../img/aboutus/bg_contrib-act03.png)no-repeat;background-size: 100% auto; }
.contribute-box {width: 325px; margin: 0 auto; overflow: hidden;}
.contribute-box li{float: left;width: 50%;  padding-top: 85px; text-align: center;}
.contribute-box li.cont01{ background: url(../img/aboutus/icon_social01.png) no-repeat center 15px; background-size: 65px; }
.contribute-box li.cont02{ background: url(../img/aboutus/icon_social02.png) no-repeat center 15px; background-size: 65px; }
.contribute-box li.cont03{ background: url(../img/aboutus/icon_social03.png) no-repeat center 15px; background-size: 65px; }
.contribute-box li em{color: #404040; font-size: 13px; line-height:13px;}
.contribute-box li p{color: #686868; font-size: 12px; line-height: 19px;}

.guide-detail-box .detail { max-height: none; padding-left: 0; margin-bottom: 15px;}

/* 연혁 */
.history-wrap{overflow:hidden;}
.history-wrap {background:url(../img/aboutus/bg_history02.png) repeat-y 4px 0; background-size: 2px auto;}
.history-wrap > li {margin-top: 28px; }
.history-wrap > li:first-child {margin-top: 0;}
.history-wrap .year{padding-left: 24px; font-size:15px;font-weight:400;color:#2469b0;background:url(../img/aboutus/bg_history01.png) no-repeat 0 5px; background-size: 10px;}
.history-wrap .detail{padding:4px 0 0 24px; margin: 0;}
.history-wrap .detail li{padding:0 0 17px 0;}
.history-wrap .detail li:last-child{padding:0 0 0 0;}
.history-wrap .detail p{padding:0 0 0 39px;font-size:13px;line-height: 19px;color:#232323;font-weight:400;word-break: keep-all;}
.history-wrap .detail p + p{padding-top:5px;}
.history-wrap .month{float:left;color:#686868;font-size:13px;line-height: 19px; font-weight:400;}

.location-cont div { padding: 27px 25px 0; }
.location-cont div strong { color: #0f0f0f; font-size: 16px; font-weight:500;  }
.location-cont div p { margin-top: 7px; color: #686868; font-size: 14px; line-height: 20px; }
.location-cont div span { display: block; margin-top: 10px; color: #f68121; font-size: 15px; line-height: 19px; }
.location-cont img { display: block; width: 100%; margin-top: 25px; vertical-align: top; }