@charset "utf-8";

/* 약관 */
input[type="checkbox"].common-check + label {font-weight:400;}
.clause-box-wrap > ul > li > em > .cont{display:none; padding:4px 28px 0 28px; font-size:12px; color:#686868;}
.clause-box-wrap > ul > li > em.active > .cont{display:block;}
.detail-clause .agency{overflow: hidden; padding-bottom:5px;}
.detail-clause .agency > ul > li:first-child{margin-left:0;}
.detail-clause .agency > ul > li{float:left; margin-left:18px;}
.detail-clause .cont{font-size:12px;}
.confirm_stipulation input[type="checkbox"].common-check + label { color: #404040; }
.top-area{padding:25px 15px 0;}
/* 안내문 */
.info-list .stit{display:block;padding:15px 0 3px 24px;background: url('../img/comm/icon_notice.png') no-repeat 0 16px; background-size:16px;}
.guide-detail-box .detail{padding-left:10px; font-size:12px;}

/* 휴대폰 인증 */
.customer-cont .form-board01 table tr:first-child th{padding-top:0;}
.customer-cont .pick-list.type03 li{width: calc(25% + 1px);width:-webkit-calc(25% + 1px);width:-moz-calc(25% + 1px);}
.customer-check-bottom{margin-top:8px; font-size:13px;}

/* 계약신청하기 */
.customer-cont .board-input li{margin-right:0;}
.customer-cont .board-input li{width:38%;}
.customer-cont .board-input li:first-child{width:24%;}
.customer-cont .board-input.type02 li { width: 33.3%; }
.customer-cont .customer-check-title{font-size:15px; display: block; margin-bottom:10px; color:#0f0f0f; font-weight:400;}
.customer-cont .customer-check-title span {font-size:12px; float: right; background: url('../img/comm/icon_check03.png') no-repeat 0 center; background-size:10px 8px; padding-left:17px; color: #2469b0;}
.customer-cont .customer-check-title.type2{border:none; margin-bottom:0; padding:30px 0 10px 0;}
.customer-cont .customer-check-title.type2:first-child{padding-top:0;}
.customer-cont .customer-license,
.customer-cont .customer-license .license-notice{text-align: center;}
.customer-cont .customer-license .license-notice p{display:inline-block; font-size:13px; text-align:left; color:#999; padding:15px 0 20px 22px; background: url('../img/comm/icon_notice.png') no-repeat 0 16px; background-size:16px;}
.customer-cont .customer-license img{width:186px;}
.customer-cont .certificate-box .btn-center{padding-top:20px;}
.customer-cont .certificate-box > span{ display:block; margin-top:5px;}
.customer-cont .certificate-box > span:first-child{margin-top:0;}

/* 계약신청완료 */
.estimate-detail .top-txt {margin-bottom: 16px; color: #2d2d2d;font-size: 13px; line-height: 17px; }
.estimate-detail .top-txt span { color:#2469b0; }
.estimate-detail .top-txt span a{text-decoration:underline;}
.estimate-detail.type2{padding:30px 0 0 0; border-bottom: 9px solid #f2f5f8;}
.estimate-detail.type2:after {position: absolute; left:0;right: 0; display: block; border-top: 1px solid #e2e7ec; content: ''; }
.estimate-detail.type2 .top-area{ padding-top:0;}
.estimate-detail-list .detail-tit{padding:0 0 12px 0;}
.estimate-detail-list .detail-tit strong{display:inline-block;font-size:15px;font-weight:500;line-height: 22px;}
.estimate-detail-list .detail-tit strong em{font-weight:400;}
.btm-box.join .btm-box-tit{text-align: center;font-size:14px;background-size:50px;line-height:22px;color:#686868;}
.btm-box.join .box > em{margin-top:20px;}
.btm-box.join .box > em:first-child{margin-top:0;}
.btm-box.join .keypad-wrap{width:100%;}
.btm-box.join .box .btn-center{padding-top:20px;}
.btm-box.join .box .btn-center button span{height:40px;line-height:40px;}

/* 상품소개 */
.product-top-area .info-txt{display:block;padding:33px 28px 35px;color:#fff;font-size:16px; background:#0c2d4e;}
.product-top-area .slide{position:relative;padding:0 15px;border-bottom:9px solid #f2f5f8;}
.product-top-area .slide:after {position: absolute; left:0;right: 0; display: block; border-top: 1px solid #e2e7ec; content: ''; }
.product-top-area .slide > ul{overflow:hidden;width:1000%;margin:0 auto;}
.product-top-area .slide > ul > li{float:left;width:100%;padding:0 0 38px 0;}
.product-top-area .slide .stit{display:block;padding:24px 0 15px 0;text-align:center;color:#232323;font-size:23px;font-weight: 500; line-height:32px;}
.product-top-area .slide .stit em{color:#f7681a;}
.product-top-area .slide .img{display:block;width:300px;height:150px;margin:0 auto;}
.product-top-area .slide .img img{width:100%;height:100%;}
.product-top-area .slide .info{display:block;padding:16px 0 0 0; width:345px;margin:0 auto;font-size:20px;text-align: center;}
.product-top-area .slide .info .txt-model { font-size: 14px;  font-weight:400; line-height: 20px; color: #404040; }
.product-top-area .slide .info .txt-price { margin-top: 12px;  font-size: 12px; font-weight:400; line-height: 25px; color: #0f0f0f; }
.product-top-area .slide .info .txt-price em{display: inline-block; margin-left:35px; color: #f7681a; font-size:16px; font-weight: 400;}
.product-top-area .slide .info strong{display:block;text-align:right;font-weight:400;}
.product-top-area .slide .pagination{width:100%;position:absolute;left:0;bottom:13px;text-align:center;}
.product-top-area .slide .pagination a{display:inline-block;width:7px;height:7px;margin:0 3px;border-radius:100%;padding:0;background:#ccc;font-size:0;text-indent:-9999px;}
.product-top-area .slide .pagination .swiper-pagination-bullet-active{background:#2469b0;}
.product-top-area .brand-banner{position:relative;overflow:hidden;height:117px;padding:0 15px;}
.product-top-area .brand-banner ul{overflow:hidden;width:1000%;height:76px;margin:20px auto;}
.product-top-area .brand-banner ul li{float:left;width:100%;padding:0 26px 0 18px;}
.product-top-area .brand-banner span{float:left;width:100px;height: 68px;padding:9px 0 0 0;text-align: center;}
.product-top-area .brand-banner span img{width:100px;height: 68px;}
.product-top-area .brand-banner em{display:block;font-size:13px;line-height: 19px; color:#686868;}
.product-top-area .brand-banner strong{display:block;margin: 8px 0 6px; font-weight:500;font-size:23px;font-weight: 500; color:#232323;}
.product-top-area .brand-banner .pagination button{position:absolute;top:50%;display:inline-block;width:33px;height:75px;margin-top:-38px;padding:0;font-size:0;text-indent:-9999px;}
.product-top-area .brand-banner .pagination button.prev{left:0;background:#fff url('../img/car/btn_prev.png') no-repeat center;background-size:13px 25px;}
.product-top-area .brand-banner .pagination button.next{right:0;background:#fff url('../img/car/btn_next.png') no-repeat center;background-size:13px 25px;}
.product-top-area .pros{ border-top: 1px solid #e2e7ec; }
.sticky-btn-cont{padding-bottom:60px;}

/* 견적신청하기 */
.estimate-group {display: none; position:absolute; top:0; left:0; width:100%; background:#fff; border-bottom: 9px solid #f2f5f8; z-index:2;}
.estimate-group:after {position: absolute; left:0;right: 0; display: block; border-top: 1px solid #e2e7ec; content: ''; }
.estimate-group .group-inner {position:relative; display:table; height:312px; margin:60px auto 0; table-layout:fixed;}
.estimate-group .group-inner .estimate-none {display:table-cell; padding-top: 141px; vertical-align:middle; text-align: center;}
.estimate-group .group-inner .estimate-none:before {content:''; position:absolute; top:61px; left:-30px;  width:263px; height:99px; background:url('../img/car/bg_car.png') no-repeat; background-size: 263px 99px;}
.estimate-group .group-inner .estimate-none strong {display:block; font-size:23px; font-weight:500; line-height:29px;}
.estimate-group .group-inner .estimate-none p {margin-top:8px; color:#999; font-size:13px; font-weight:400; line-height:19px;}

.estimate-detail{overflow:hidden;text-align:center;}
.estimate-detail .img{position:relative;display:block;width:345px;height:165px;margin:0 auto;}
.estimate-detail .img img{width:100%;}
.estimate-detail .img a{position:absolute;right:50px;bottom:6px;display:inline-block;width:56px;height:56px;background:#ee8022;border-radius:100%;color:#fff;line-height:15px;padding-top:12px;}
.estimate-detail .stit{display:block;font-weight:500;font-size:23px;color:#2d2d2d;line-height:100%;}
.estimate-detail .info{display:block;padding:3px 0 0 0;font-size:13px;color:#999;}
.estimate-detail .month-payment{padding:23px 0 28px 0;text-align:center;overflow:hidden;}
.estimate-detail .month-payment span{display:inline-block;}
.estimate-detail .month-payment span strong{font-weight:500;}
.estimate-detail .month-payment span + span:before{content:'';display:inline-block;width:1px;height:12px;background:#ddd;margin:0 15px;vertical-align:-1px;}
.step-inner.brand { padding: 0 5px; }
.brand-choice ul {width:100%;overflow:hidden;display:table;}
.brand-choice ul li{float:left;margin:0 10px 10px 0;text-align:center;}
.brand-choice ul li a{position:relative;display:block;width:63px;height: 63px;padding:10px;}
.brand-choice ul li.selected a:after{content:'';display:block;width:100%;height:100%;position:absolute;border:1px solid #2469b0;left:0;top:0;}
.brand-choice ul li .img{display:block; width: 45px; height: 30px; margin: 0 auto;}
.brand-choice ul li .img img{width:100%;vertical-align: top;}
.brand-choice ul li em{display:block;color:#404040;font-size:12px; font-weight: 400; line-height: 24px;}
.model-choice ul li{margin-top:10px;}
.model-choice ul li:first-child{margin-top:0;}
.model-choice ul li a{position:relative;display:block;height:115px;overflow:hidden;padding:0 0 0 14px;border:1px solid #ddd;border-radius:2px;}
.model-choice ul li.selected a{border:1px solid #2469b0;}
.model-choice ul li .img{position:absolute;bottom:13px;right:0;width:180px;height:90px;text-align: center;}
.model-choice ul li img{width: 100%;}
.model-choice ul li em{display:block;padding:10px 0 2px 0;font-size:12px;color:#686868;}
.model-choice ul li strong{display:block;padding:0 0 10px 0;font-size:16px;color:#0f0f0f;font-weight:400;}
.model-choice ul li span{display:block;color:#0f0f0f;}
.model-choice .search a{height:140px;border:0;border-bottom:1px solid #ddd;}
.model-choice .search a:hover, .model-choice .search a.selected{border:0;border-bottom:1px solid #ddd;}
.model-choice .search li{margin-top:0;}
/*.model-choice .search li img{width:170px;height:110px;}*/
.model-choice .search li em{padding:20px 0 2px 0;}
.model-choice .search li em span{display:inline-block;color:#f7681a;}
.rating-choice ul li {margin-top:-1px;}
.rating-choice ul li input[type="radio"] {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.rating-choice ul li label {position:relative;width:100%;display:block;padding:13px 15px 11px;overflow:hidden;border:1px solid #ddd;color:#404040;}
.rating-choice ul li input:checked + label{border:1px solid #2469b0;color:#2469b0;z-index:2;}
.rating-choice ul li label em{float:left;display: inline-block; width: 60%}
.rating-choice ul li label span{float:right;}
.option-choice{}
.option-choice ul li {margin-top:-1px;}
.option-choice ul li input[type="checkbox"] {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.option-choice ul li label{position:relative;width:100%;display:block;padding:13px 15px 11px;overflow:hidden;border:1px solid #ddd;color:#404040;}
.option-choice ul li input:checked + label{border:1px solid #2469b0;color:#2469b0;z-index:2;}
.option-choice ul li label em{float:left; display: inline-block; width: 60%;}
.option-choice ul li label span{float:right;}
.estimate-cont .payment-plan:first-child {margin:0;}
.estimate-cont .pick-list li label{font-size:13px;}
.payment-plan {width:100%;margin:20px 0 0 0;}
.payment-plan > strong {display:block; width:100%; padding:13px 0 3px 0; font-weight:400; font-size:12px;vertical-align:top;color:#686868;}
.payment-plan > strong.info{display:inline-block;width:auto;}
.payment-plan > strong:first-child{padding-top:0;}
.payment-plan > div input[type="text"] {text-align:right;}
.payment-plan > div p {margin:8px 0 3px; color:#2469b0;font-size:12px;}
.payment-plan .tooltip .box{left:-34px;z-index:5;transform: translateY(23px);-webkit-transform: translateY(23px);}
.box-percent {position:relative; margin-bottom:15px; font-size:0; line-height:0;}
.box-percent .ui-slider {width:100%; height:8px; background:#ddd; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.box-percent .ui-slider .ui-slider-range {position:absolute; top:0; left:0; width:50%; height:8px; background:#2469b0; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; z-index:2;}
.box-percent .ui-slider .ui-slider-handle {position:absolute; top:-4px; left:0; width:16px; height:16px; margin-left:-8px; background:#2469b0; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; z-index:2;}

.percent-list {position: relative;display: inline-block;width: 100%;}
.percent-list li {float:left; width:33.3%; text-align:center;}
.percent-list li:first-child {text-align:left;}
.percent-list li:last-child{text-align:right;}
.percent-list li a {position:relative; display:block; height:40px; padding-top:20px; color:#757575; font-size:10px; z-index:2;}
.percent-list li.active a {color:#2469b0; font-size:10px; font-weight:400;}

.top-search{position:relative;padding:0 15px 28px;background:#0c2d4e;}
.top-search span{display:block;height:48px;border-bottom:2px solid #fff;}
.top-search input{height:48px;width:calc((100% - 30px));background:none;border:0;font-size:14px;color:#b3b4b5;}
.top-search a{display:inline-block;position:absolute;right:15px;top:0;width:30px;height:48px;font-size:0;text-indent:-9999px;background:url('../img/comm/btn_search.png') no-repeat right center;background-size:18px 17px}
.top-search .search-txt{padding:12px 0 0 0;color:#fff;}
.top-search .search-txt em{color:#f7681a;font-weight:500;}
.search-result-cont {padding-bottom:10px; border-bottom: 1px solid #2d2d2d;}
.search-result-cont .search-txt {padding-bottom:10px;}
.search-result-cont .search-txt em{color:#f7681a;font-weight:500;}

/*공인인증*/
.login-cont { padding-bottom: 139px; }
.login-cont input { height: 40px; }
.login-cont .btn-center { padding-top: 29px; }
.login-cont .input-cont { margin-top: 20px; }
.login-cont .input-tit { display: block; margin: 15px 0 4px 0; color: #686868; font-size: 13px; font-weight: 400; }
.login-cont .input-tit:first-child { margin-top: 0; }
.login-cont .keypad-wrap { display: inline-block; }
.login-cont .keypad-wrap.type02 { width: 100%; }
.login-cont .keypad-wrap.type03 { width: 48%; }
.login-input input[type="text"] { margin-top: 5px; }
.login-input input[type="text"]:first-child { margin-top: 0; }
.login-input .checkbox-cont { margin-top: 5px; }
.login-input .keypad { top: 5px; }
.certifi-info { padding:30px 0 30px 155px; background: url(../img/login/bg_certifi.png) no-repeat 30px 25px; background-size: 90px; border-bottom: 1px solid #ddd; }
.certifi-info .name { margin-bottom: 5px; color: #0f0f0f; font-size: 16px;line-height: 18px; }
.certifi-info p { color: #686868; font-size: 13px;line-height: 19px; }


/*차량 상세보기*/
.pop-cont .view-box {position: relative; padding-bottom:30px; border-bottom: 9px solid #f2f5f8;}
.pop-cont .view-box:after {position: absolute; bottom: 0; left:0;right: 0; display: block; border-top: 1px solid #e2e7ec; content: ''; }

.pop-cont .view-box .car-name { color: #000; font-size: 29px; font-weight: 500; text-align: center; line-height: 1.2;}
.pop-cont .view-box ul {width: 284px; margin: 30px auto 0;overflow: hidden; text-align: center;}
.pop-cont .view-box ul li {float: left; width: 50%; padding-top: 98px; }
.pop-cont .view-box ul li:nth-child(1){ background: url(../img/car/bg_car_view01.png) no-repeat center 0;background-size: 77px; }
.pop-cont .view-box ul li:nth-child(2){ background: url(../img/car/bg_car_view02.png) no-repeat center 0;background-size: 77px; }
.pop-cont .view-box ul li em {display: block; padding-right: 30px; margin-top: 15px; color: #0f0f0f; font-size: 12px; font-weight: 400; text-align: right;}
.pop-cont .view-box ul li em:first-child { margin-top: 0; }
.pop-cont .view-box ul li p { margin-top: 1px; color: #0f0f0f; font-size: 20px; font-weight: 400; }
.pop-cont .guide-detail-box .detail-info strong{ display: inline-block; width: 160px; color: #686868; font-size: 13px; font-weight: 400; line-height: 23px;  }
.pop-cont .guide-detail-box .detail-info span{ color: #232323; font-size: 13px; font-weight: 400; line-height: 23px;  }
.pop-cont.type02{padding:30px 0;}
.pop-cont.type02 .pop-stit {margin: 25px 15px 0;}
.pop-cont.type02 .guide-detail-box {margin: 0 15px;}

/* 견적확인하기 */
.estimate-detail{overflow:hidden;text-align:center; border-bottom: 1px solid #e2e7ec;}
.estimate-detail.type02, 
.estimate-detail.type03 { border-bottom: none; }
.estimate-detail-list .btn-center{padding-top:20px;text-align:center;}
.estimate-detail-list .btn-center button + button{margin-left:5px;}
.estimate-detail .date{display:block;font-size:13px;color:#999;}
.estimate-detail .img{position:relative;display:block;width:300px;height:150px;margin:0 auto;}
.estimate-detail .img a{position:absolute;right:50px;bottom:6px;display:inline-block;width:56px;height:56px;background:#f7681a;border-radius:100%;color:#fff;line-height:15px;padding-top:15px;}
.estimate-detail .stit{display:block;margin-top: 13px; font-weight:500;font-size:23px;color:#2d2d2d;line-height:100%;}
.estimate-detail .info{display:block;padding:3px 0 0 0;font-size:13px;color:#999;}
.estimate-detail .info .option{display:block; margin-top:8px;}
.estimate-detail .totle{display:block;padding:25px 35px 6px 0;text-align:right;}
.estimate-detail .totle em{display:inline-block;font-weight:500;}
.estimate-detail dl{padding:10px 0;margin:0 15px;background:#f4f4f4;border-radius:3px;overflow:hidden;}
.estimate-detail dl dt{float:left;padding:7px 0 6px 20px;text-align:left;color:#999;}
.estimate-detail dl dd{padding:7px 20px 6px 0;text-align:right;color:#232323;}
.estimate-detail .possibility{display:block;padding:8px 0 0 0;font-size:13px;color:#999;}
.estimate-detail .possibility:before{content:'';display:inline-block;width:16px;height:16px;margin-right:7px;background:url('../img/comm/icon_notice.png') no-repeat;background-size:100%;vertical-align:-3px}
.estimate-detail .btn-center{padding:20px 20px 30px;}
.estimate-detail.type02 { border-bottom: 9px solid #f2f5f8; }
.estimate-detail.type02:after {position: absolute; left:0;right: 0; display: block; border-top: 1px solid #e2e7ec; content: ''; }
.btm-box .sticky-btn{position:fixed;left:0;bottom:0;z-index:2;margin-top:40px;}
.row-board03 + .row-board03{margin-top:20px;}
.btm-box{padding:25px 15px 100px;margin-top:10px;background:#f4f4f4;}
.btm-box .box{padding:15px 33px 0;background:#f4f4f4;}
.btm-box .box > span:first-child{padding-top:0;}
.btm-box .box > span{padding-top:5px;}
.btm-box .box em{display:block;padding:0 0 4px 0;font-size:13px;color:#686868;}
.btm-box .box .form{display:block;position:relative;}
.btm-box .box .form input{height:40px;padding: 0 30px 0 10px;}
.btm-box .box .check{position:absolute;right:9px;top:50%;display:inline-block;width:10px;height:9px;margin-top:-3px;background:url('../img/comm/icon_check03.png') no-repeat;background-size:100%;font-size:0;text-indent:-9999px;}
.btm-box .box .btn-center{padding:20px 0 30px;}
.btm-box .box .btn-center button span{height:40px;line-height:40px;}
.option-list {margin:0 0 20px 0;overflow:hidden;}
.option-list ul li{float:left;padding:2px 8px 0;height:24px;line-height:24px;margin:0 0 0 5px;background:#f4f4f4;color:#686868;border-radius:2px;font-size:13px;}
.option-list ul li:first-child{margin:0;}

/*한도확인*/
.customer-info {padding: 17px 20px; background: #f4f4f4; }
.customer-info li { margin-top: 10px; }
.customer-info li:first-child { margin-top: 0; }
.customer-info li strong { display: inline-block; width:86px; color: #999;font-size: 14px;font-weight: 400; }
.customer-info li span { color: #232323;font-size: 14px;font-weight: 400; }
.customer-info-cont p { margin-top: 12px; }
.result-txt-cont{ text-align: center; }
.result-txt-cont strong{ color: #0f0f0f; font-size: 23px;font-weight: 500; line-height: 30px; }
.result-txt-cont em{display: block; margin-top: 10px; color: #0f0f0f; font-size: 20px;font-weight: 500;}
.result-txt-cont em span{ color: #f7681a; }
.result-txt-cont p { margin-top: 5px; color: #999; font-size: 13px; font-weight: 400; }
.estimate-detail-cont {padding: 9px 15px 28px;margin-top: 27px;  border:1px solid #ddd; }
.estimate-detail-cont .estimate-detail .top-area{ padding: 0; }
.estimate-detail-cont .estimate-detail .img { width: 300px; height: auto; }
.estimate-detail-cont .estimate-detail .totle{ padding-right: 20px; }
.estimate-detail-cont .estimate-detail dl{ margin: 0; }
.estimate-detail-cont .estimate-detail-list { margin-top: 20px; }
.estimate-detail-cont .estimate-detail-list .detail { line-height: 20px; }
.estimate-detail-cont .estimate-detail-list .detail dt { display: block; color: #232323; }
.estimate-detail-cont .estimate-detail-list .detail dd { margin-left: 5px; }
.estimate-detail-cont + .btn-center { padding-top: 20px; }
.btn-center.three button { width: 33.3%;}

/* 오토리스 */
.early-payment{display:block;text-align:right;padding-top:4px;font-size:12px;color:#686868;}
.early-payment em{display:inline-block;padding-left:10px;color:#0f0f0f;}
.color-pick-cont  {width: 100%;overflow: hidden; padding: 8px 0; }
.color-pick-cont > .color-pick-cont{padding-top:13px;}
.color-pick-cont  > * { float: left; }
.color-pick-cont strong {width: 120px;color: #404040; font-size: 15px; font-weight: 400;}
.color-pick-cont .customer-pick-list {width: 100%; padding: 10px 0; margin-top: -11px;}
.color-pick-cont .customer-pick-list li{ float: left; width:50%; margin-top: 16px;}
.color-pick-cont .customer-pick-list li:nth-child(1),
.color-pick-cont .customer-pick-list li:nth-child(2){margin-top: 0;}
.color-pick-cont .customer-pick-list input[type="radio"].common-radio + label {padding-left: 40px;font-size:12px;}
.color-pick-cont .customer-pick-list input[type="radio"].common-radio + label:before {top: -3px; width: 24px;height: 24px;border-radius: 50px; border:none;}
.color-pick-cont .customer-pick-list .color01 label:before {background: #1a2a3f;}
.color-pick-cont .customer-pick-list .color02 label:before{background: #133f58;}
.color-pick-cont .customer-pick-list .color03 label:before{background: #353a40;}
.color-pick-cont .customer-pick-list .color04 label:before{background: #232323;}
.color-pick-cont .customer-pick-list .color05 label:before{background: #b6b7b9;}
.color-pick-cont .customer-pick-list .color06 label:before{background: #8a1f23;}
.color-pick-cont .customer-pick-list .color07 label:before{background: #1a1a1a;}
.color-pick-cont .customer-pick-list .decision label:before{background: url('../img/comm/icon_decision.png') no-repeat;background-size:24px;}
.color-pick-cont input[type="radio"].common-radio + label:after {top:-3px;left: 0;width: 24px;height: 24px;background: url('../img/comm/icon_check_w.png') no-repeat center;background-size:10px 9px}
.color-pick-cont .decision input[type="radio"].common-radio + label:after{background: url('../img/comm/icon_decision_on.png') no-repeat;background-size:24px;}
.customer-cont .pick-list.type04 li{ width: -webkit-calc(33.3% + 1px); }
/*금액입력*/
.sum-box .input-btn input {padding-right:10px;}

.search-box {position:relative;}
.search-box input[type="text"] {height:50px; padding:0 60px 0 15px; border:none; border-bottom:1px solid #e2e7ec;}
.search-box a {position:absolute; top:0; right:0; width:58px; height:50px; background:url('../img/comm/btn_search02.png') no-repeat center; background-size:18px 17px; font-size:0; line-height:0;}