@charset "utf-8";

.txt-color01{color:#d83d20; font-size:13px;}

/*버튼*/
.btn-center .btn-tb01{display:inline-block;min-width:80px;padding:0 15px;height:40px;line-height:40px;font-size:13px;background:#757575;border:1px solid #757575;color:#fff;border-radius:3px;}
.btn-center .btn-tb01:hover{background:#fff;border:1px solid #757575;color:#232323;border:1px solid #ddd;}
.sticky-btn.three button { width: 33.3%; border-right: 1px solid #fff; }
.sticky-btn.three button:last-child { border-right: none; }

/*라디오버튼*/
.board-input li { width: 33.3%; margin:13px 0 0 0; }
.board-input li:nth-child(1),
.board-input li:nth-child(2),
.board-input li:nth-child(3){ margin-top: 5px; }

/*검색폼*/
.src-form{width:100%;overflow:hidden;}
.src-form span{display:block;position:relative;padding:0 0 5px 0;overflow:hidden;}
.src-form span button{position:absolute;right:0;top:0;}
.src-form span input{float:left;width:calc((100% - 85px));width:-webkit-calc((100% - 85px));width:-moz-calc((100% - 85px));}

/*테이블 타이틀*/
.customer-check-title{font-size:15px; display: block; padding-bottom:10px; margin-bottom:20px; border-bottom: 1px solid #ccc; color:#0f0f0f; font-weight:400;}
.customer-check-title span {font-size:12px; float: right; background: url('../img/comm/icon_check03.png') no-repeat 0 center; background-size:10px 9px; padding-left:17px; color: #d83d20;}
.customer-check-title.type2{border:none; margin-bottom:0; padding:30px 0 10px 0;}
.customer-check-title.type2:first-child{padding-top:0;}
.tit-th-type{display:block;padding: 15px 0 4px 0;text-align: left;font-size: 13px;color: #686868;font-weight: 400;}

/* 테이블 */
.list-type1 {border-top:1px solid #2d2d2d;overflow:hidden;}
.list-type1 li{display:table;width:100%;height: 52px; padding: 10px 0;border-bottom:1px solid #e7e7e7;}
.list-type1 li em{display:table-cell;width:76%;padding:0 0 0 10px;color: #686868; font-size: 13px; font-weight: 400; line-height: 17px;vertical-align:middle;}
.list-type1 li .r-btn{display:table-cell;padding-right:10px;vertical-align:middle;text-align:right;}
.row-board01 .dot-list01 li { color: #232323; font-size: 13px; line-height: 20px;}
.row-board01 .dot-list01 li:first-child { margin-top: 0; }
.row-board01 .desh-list02 { margin-top: 0; }
.row-board01 .desh-list02 li{text-indent: 0;color: #232323; font-size: 13px; line-height: 20px;}

/*팝업*/
.pop-cont .pop-stit strong{ font-weight: 400; line-height: 18px; }

/* 완료 페이지 */
.complete-box {text-align:center;}
.complete-box:before {content:''; display:block; width:140px; height:140px; margin:30px auto; background:url('../img/comm/bg_complete.png') no-repeat; background-size:140px auto;}
.complete-box strong {display:block; font-size:18px; font-weight:500; line-height:22px;}
.complete-box p {margin-top:15px; /*padding:0 40px;*/ color:#686868;}

.btm-box{padding:25px 15px 100px;margin-top:10px;background:#f4f4f4;}
.btm-box .box{padding:15px 33px 0;background:#f4f4f4;}
.btm-box .box > span:first-child{padding-top:0;}
.btm-box .box > span{padding-top:5px;}
.btm-box .box em{display:block;padding:0 0 4px 0;font-size:13px;color:#686868;}
.btm-box .box .form{display:block;position:relative;}
.btm-box .box .form input{height:40px;padding: 0 30px 0 10px;}
.btm-box .box .check{position:absolute;right:9px;top:50%;display:inline-block;width:10px;height:9px;margin-top:-3px;background:url('../img/comm/icon_check03.png') no-repeat;background-size:100%;font-size:0;text-indent:-9999px;}
.btm-box .box .btn-center{padding:20px 0 30px;}
.btm-box .box .btn-center button span{height:40px;line-height:40px;}
.btm-box.join .btm-box-tit{text-align: center;font-size:14px;background-size:50px;line-height:22px;color:#686868;}
.btm-box.join .box > em{margin-top:20px;}
.btm-box.join .box > em:first-child{margin-top:0;}
.btm-box.join .keypad-wrap{width:100%;}
.btm-box.join .box .btn-center{padding-top:20px;}
.btm-box.join .box .btn-center button span{height:40px;line-height:40px;}

/*리스트*/
.desh-list02{ margin-top: 5px; font-size: 13px; line-height: 20px; color: #999; }
.desh-list02 li {text-indent: 8px;}
.notice-list strong { display: block; color: #686868; font-size: 13px; font-weight: 400; }

/*인풋 체크형식*/
.input-check .form{display:block;position:relative;}
.input-check .form input{height:40px;padding: 0 30px 0 10px;}
.input-check .check{position:absolute;right:9px;top:16px;display:inline-block;width:10px;height:9px;background:url('../img/comm/icon_check03.png') no-repeat;background-size:100%;font-size:0;text-indent:-9999px;}
.input-check .btn-center{padding:20px 0 30px;}

/*휴대폰인증*/
.detail-clause .agency{overflow: hidden; padding-bottom:5px;}
.detail-clause .agency > ul > li:first-child{margin-left:0;}
.detail-clause .agency > ul > li{float:left; margin-left:18px;}

/* 카드인증 */
.card-wrap{float:left; width:calc((100% - 5px)/2);width:-webkit-calc((100% - 5px)/2);width:-moz-calc((100% - 5px)/2);}
.card-wrap:nth-child(2){margin-left:5px;}

/*공인인증*/
.login-cont input { height: 40px; }
.login-cont .btn-center { padding-top: 29px; }
.login-cont .input-cont { margin-top: 20px; }
.login-cont .input-tit { display: block; margin: 15px 0 4px 0; color: #686868; font-size: 13px; font-weight: 400; }
.login-cont .input-tit:first-child { margin-top: 0; }
.login-cont .keypad-wrap { display: inline-block; }
.login-cont .keypad-wrap.type02 { width: 100%; }
.login-cont .keypad-wrap.type03 { width: 48%; }
.login-input input[type="text"] { margin-top: 5px; }
.login-input input[type="text"]:first-child { margin-top: 0; }
.login-input .checkbox-cont { margin-top: 5px; }
.login-input .keypad { top: 5px; }
.certifi-info { padding:30px 0 30px 155px; background: url(../img/login/bg_certifi.png) no-repeat 30px 25px; background-size: 90px; border-bottom: 1px solid #ddd; }
.certifi-info .name { margin-bottom: 5px; color: #0f0f0f; font-size: 16px;line-height: 18px; }
.certifi-info p { color: #686868; font-size: 13px;line-height: 19px; }

/*조회결과*/
.search-result{display: table;width: 100%; padding: 30px 0;background:#f7f7f7;text-align:center;}
.search-result-cont { display: table-cell; }
.search-result .price,
.confirm-result .txt{display:block;font-size:14px;font-weight:400; line-height: 20px;}
.search-result .price strong{color: #f7681a; font-weight:400;}
.search-result p{font-size:13px; color:#686868; margin-top:15px;}
.confirm-result { display: table;width: 100%; padding: 40px 0; background:#f7f7f7;text-align:center;}


/*테이블 - pdf */
.rule-list {border-top:1px solid #2d2d2d;}
.rule-list li {overflow:hidden; padding:0 10px; border-bottom:1px solid #e7e7e7; line-height:52px;}
.rule-list li .t-switch {float:left;}
.rule-list li .btn-pdf {float:right;}
.btn-pdf {position:relative; display:inline-block; padding-left:19px; color:#0b5aa4; font-size:13px; vertical-align:middle;}
.btn-pdf:before {content:''; position:absolute; left:0; top:50%; width:12px; height:13px; margin-top:-7px; background:url('../img/comm/icon_download.png') no-repeat; background-size:12px auto;}
.t-switch {position:relative; display:inline-block; padding:0 0 0 19px; color:#232323; font-size:13px; font-weight:400; vertical-align:middle;}
.t-switch:before {content:''; position:absolute; left:0; top:50%; overflow:hidden; width:10px; height:8px; margin-top:-4px; background:url('../img/comm/icon_check02.png') no-repeat; background-size:10px auto;}
.t-switch.checked:before {background-position:left -8px;}

/* 신분증 인식정보 */
.identity_img{width:100%; height:185px; background-color:#d6d6d6;}
.t-switch.checked:before {background-position:left -8px;}
.t-switch.checked:before {background-position:left -8px;}

/*상품소개*/
.product-top-area .pros .icon1:before{background:url('../img/stock/icon_pdt01.gif') no-repeat center top !important;background-size:36px 36px !important;}
.product-top-area .pros .icon2:before{background:url('../img/stock/icon_pdt02.gif') no-repeat center top !important;background-size:36px 36px !important;}
.product-top-area .pros .icon3:before{background:url('../img/stock/icon_pdt03.gif') no-repeat center top !important;background-size:36px 36px !important;}
.product-top-area .pros .icon4:before{background:url('../img/stock/icon_pdt04.gif') no-repeat center top !important;background-size:36px 36px !important;}
.product-top-area .pros .icon5:before{background:url('../img/stock/icon_pdt05.gif') no-repeat center top !important;background-size:36px 36px !important;}
.product-top-area .pros .icon6:before{background:url('../img/stock/icon_pdt06.gif') no-repeat center top !important;background-size:36px 36px !important;}

.sticky-btn.twin button:first-child{content:''; border-right:2px solid #fff;}

/* 주식담보대출 상품소개 */
.tit-area.type02 h3 span:after{left: 190px;}

/* 추가대출 */
.dot-list02 > li{position:relative; padding:0 0 1px 8px !important;color:#686868;font-size:13px;line-height:19px;}
.dot-list02 > li:first-child:before{content: ''; width:2px;height:2px;border-radius:100%;background:#999;position:absolute;top:8px;left:0px;}
.stit .tooltip .box{top: 270px;left: -203px; z-index:99;}
.stit .tooltip .box p{font-size:13px; color:#232323; padding-top:15px;}

.limit-result{width:100%; padding:13px; margin:20px 0;background:#f4f4f4;}
.limit-result table{width:100%; table-layout: fixed;}
.limit-result table th{text-align:left; font-weight:400; padding-top:15px;}
.limit-result table td{text-align:right; font-weight:300; padding-top:15px;}

/* 약관동의 */
.full-popup .pop-cont{padding:30px 15px 100px 15px;}
.pop-cont .brochure .tit-wrap{margin:20px 0 7px 0;}
.pop-cont .brochure p{font-size:13px; color:#686868;}
.clause-box-wrap.type01 > ul > li > em a.toggle-btn:after{content:'';display:inline-block;width:6px;height:12px;position:absolute;right:15px;top:22px;background:url('../img/comm/icon_check_arrow.png') no-repeat 0 0; background-size:100%;}
.notice-stit{padding:4px 0 0 9px;font-size:13px;color:#999;}

/* 스탁론 준비사항 체크 */
.stock-txt{color:#232323;}
.small-popup .pop-cont .stock-txt-inner{display:inline-block; color:#686868; margin:8px 0 18px 0; line-height:21px;}
