@media only screen and (max-width: 1440px) {
   .contact_info{padding: 80px 0;}
   .contact_info .info_img{margin-top: auto;}
   .contact_info h2::before,.contact_info h2::after{display: none;}
   .contact_form .grid_wrap{width: calc(100% - 40px);}
}
@media only screen and (max-width: 1480px) {
    .write_slide .write_slide_inner {margin:0 40px 0}
}
@media only screen and (max-width: 1024px) {
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available; 
    }
   .contact_info .info_img{margin-left: 12px;}
   .contact_info .ico_star{bottom: auto;left: auto;right: 10.6%;top: -16px;width: 120px;height: 120px;}
   .contact_info .info_list{margin-top: 46px;}
   .contact_info .info_list dl{flex-direction: column;padding: 24px 0px 40px 0px;}
   .contact_info .info_list dt{flex: auto;margin-bottom: 16px; font-size: 1.8rem; line-height:1.27;}
   .contact_info .info_list dd{font-size: 1.6rem;}
   .contact_info .info_msg em{margin-bottom: 24px;font-size: 2.2rem;}
   .contact_info .info_msg{font-size: 1.8rem;white-space: nowrap;}
   
   .mypage_home .select_box.select_product{min-width: 180px}
}
@media only screen and (max-width: 1263px) {
    h2 {font-size:7.6rem}
    .main_cnt_03 .grid_wrap {padding:200px 20px 150px}
    #wrap.sub {padding-top:80px}
    .skin_finder .img_cnt {margin-top:16px}
    .event_list .grid_item:nth-child(even) {grid-column: 5 / span 4 !important;}
    #sub_container .gap_60.product_view {padding-top:20px}
    .brand_story .text_br {display:inline}
    .brand_story .brand_cosmatic .text_br {display:block}
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
    .grid .grid_item.tbl_col_8 {
        grid-column: span 8;
    }
    .grid .grid_item.tbl_col_7 {
        grid-column: span 7;
    }
    .grid .grid_item.tbl_col_6 {
        grid-column: span 6;
    }
    .grid .grid_item.tbl_col_5 {
        grid-column: span 5;
    }
    .grid .grid_item.tbl_col_4 {
        grid-column: span 4;
    }
    .grid .grid_item.tbl_col_3 {
        grid-column: span 3;
    }
    .grid .grid_item.tbl_col_2 {
        grid-column: span 2;
    }
    .grid .grid_item.tbl_col_1 {
        grid-column: span 1;
    }
    .grid .grid_item.tbl_col_8.tbl_start_1 {
        grid-column: 1 / span 8 !important;
    }
    .grid .grid_item.tbl_col_7.tbl_start_1 {
        grid-column: 1 / span 7 !important;
    }
    .grid .grid_item.tbl_col_7.tbl_start_2 {
        grid-column: 2 / span 7 !important;
    }
    .grid .grid_item.tbl_col_6.tbl_start_1 {
        grid-column: 1 / span 6 !important;
    }
    .grid .grid_item.tbl_col_6.tbl_start_2 {
        grid-column: 2 / span 6 !important;
    }
    .grid .grid_item.tbl_col_6.tbl_start_3 {
        grid-column: 3 / span 6 !important;
    }
    .grid .grid_item.tbl_col_5.tbl_start_1 {
        grid-column: 1 / span 5 !important;
    }
    .grid .grid_item.tbl_col_5.tbl_start_2 {
        grid-column: 2 / span 5 !important;
    }
    .grid .grid_item.tbl_col_5.tbl_start_3 {
        grid-column: 3 / span 5 !important;
    }
    .grid .grid_item.tbl_col_5.tbl_start_4 {
        grid-column: 4 / span 5 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_1 {
        grid-column: 1 / span 4 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_2 {
        grid-column: 2 / span 4 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_3 {
        grid-column: 3 / span 4 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_4 {
        grid-column: 4 / span 4 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_5 {
        grid-column: 5 / span 4 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_1 {
        grid-column: 1 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_2 {
        grid-column: 2 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_3 {
        grid-column: 3 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_4 {
        grid-column: 4 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_5 {
        grid-column: 5 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_6 {
        grid-column: 6 / span 3 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_1 {
        grid-column: 1 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_2 {
        grid-column: 2 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_3 {
        grid-column: 3 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_4 {
        grid-column: 4 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_5 {
        grid-column: 5 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_6 {
        grid-column: 6 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_7 {
        grid-column: 7 / span 2 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_1 {
        grid-column: 1 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_2 {
        grid-column: 2 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_3 {
        grid-column: 3 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_4 {
        grid-column: 4 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_5 {
        grid-column: 5 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_6 {
        grid-column: 6 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_7 {
        grid-column: 7 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_8 {
        grid-column: 8 / span 1 !important;
    }
    header {height:80px}
    header.active {height:100%;transition:all .5s}
    header.active:before {height:100%;background:#1C1C1B}
    header .header_wrap {padding:20px;flex-wrap:wrap;height:100%}
    header .btn_gnb_menu {display:block}
    header .logo_wrap {order:1}
    .gnb {order:3;margin:0 -20px;width:calc(100% + 40px);height:calc(100% - 40px)}
    .gnb.active {display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start}
    .gnb .gnb_list, .gnb .gnb_info {opacity:0;transition:opacity .5s}
    .gnb.active .gnb_list, .gnb.active .gnb_info {opacity:1}
    .gnb.active .gnb_info {height:auto;border-top:1px solid #525252;}
    .gnb_list {margin-top:45px;padding:0 20px;width:100%;height:100%;overflow-y:auto;flex-direction:column;justify-content:flex-start;align-items:flex-start}
    .gnb_list > li > a {position:relative;width:100%;padding:11px 16px 11px 0;font-size:2rem;line-height:2.6rem;font-weight:600;opacity:0.4;color:#fff}
    .gnb_list > li > a:after {z-index:-1;position:absolute;top:16px;right:0;display:block;content:"";width:16px;height:16px;background:url("/resources/images/icon/ico_16_arrow_down_w.svg") no-repeat 0 0;background-size:16px;transition:transform .3s}
    .gnb_list > li.active > a {opacity:1}
    .gnb_list > li.active > a:after {transform:rotate(-180deg)}
    .gnb_list > li > .depth_02 > li a {opacity:0.4}
    .gnb_list > li.active > .depth_02 > li a {opacity:1}
    .gnb .depth_01 {flex-direction:column;align-items:flex-start;width:100%;height:auto}
    .gnb .depth_01:after {content:none}
    .gnb .depth_01 > a span{position: relative;}
    .gnb .depth_01 > a span::after {z-index:220;display:block;content:"";position:absolute;left:50%;bottom:-6px;width:0;height:2px;background:#dbf068;transform: translateX(-50%);}
    .gnb .depth_01.active > a span::after {width:100%; transition:width .5s}
    .gnb .depth_01 > .depth_02 {display:none;position:static;max-height:none;transition:none;transform:none;}
    .gnb .depth_01:hover > .depth_02 {transition:none}
    .gnb .depth_01.mo_mypage {display:block}
    .gnb .depth_02 {background:none}
    .gnb .depth_02:before, .gnb .depth_02:after {content:none}
    .gnb .gnb_info .depth_02 {transform:none;display:none}
    .gnb.active .gnb_info .depth_02 {display:flex}
    .gnb .gnb_info .depth_02 > li:not(.mo_menu) {display:none}
    .gnb .depth_02 > li + li label {padding-left:17px;position:relative}
    .gnb .depth_02 > li + li label:before {display:block;content:"";width:1px;height:14px;position:absolute;top:10px;left:0;background:#525252}
    .gnb_info {display:flex;height:0;padding:17px 0 0;margin:0 20px;width:calc(100% - 40px);justify-content:space-between}
    .gnb_info:before {content:none}
    .gnb_info .gnb_info_my {display:none}
    .gnb_info .depth_01 {display:flex;width:auto;flex-direction:row}
    .gnb_info .depth_02 > li a {padding:9px 0 5px}
    .gnb_info .depth_02 .my_page {display:none}
    .gnb_info .depth_02 .my_page, .gnb_info .depth_02 .log_in  {padding-left:40px;position:relative;}
    .gnb_info .depth_02 .my_page:before, .gnb_info .depth_02 .log_in:before, .gnb_info .depth_02 .log_out:before {position:absolute;top:0;left:0;display:block;content:"";width:40px;height:40px;background:url("/resources/images/icon/ico_26_mypage.svg") no-repeat center;background-size:26px}
    .gnb_info .depth_02 .log_out {margin:0;padding:0;padding-left:40px}
    .gnb_info .depth_02 .log_out:before {transform:none}
    .gnb_info .depth_02 .log_out a {padding-left:0;background:none}
    .gnb_info .depth_02 .log_in a {padding-left:0;background:none}
    .gnb_info .gnb_info_lang {display:none}
    .gnb_info .lang_set  {padding-top:9px;margin-right:-16px}
    .gnb_info span.arrow {display:none}
    .btn_gnb_menu {order:2}
    .main header .logo {width:240px !important;position:static}    
    .main_top .swiper-pagination {width:100%;}
    .video_box .video_thum {display:none}
    .video_box .video_thum.active {display:block}
    .video_box .video_cnt {background:#000}
    .video_box .video_cnt iframe {height:50%;width:100%;transform:translateY(50%)}
    .main_cnt_01 .inner_cnt {padding:120px 0 120px 20px}
    .main_top_about .text_box dt {font-size:2rem;line-height:2.6rem;}
    .main_top_about .text_box dd {font-size:2rem;line-height:2.6rem;}
    .main_top_about .btn_box {bottom:85px}
    .basepicker_tit {padding-left:80px;font-size:7.6rem;line-height:8rem;}
    .basepicker_about {margin-top:53px;margin-bottom:0}
    .basepicker_about .about_img {width:46.3%;margin-right:6.25%}
    .basepicker_wrap .basepicker_list:last-child {width:36.6%}
    .basepicker_about .about_cnt > p {font-size:1.6rem;line-height:2.6rem}
    .flow_container {padding-bottom:30px}
    .flow_text {font-size:12rem;line-height:9.8rem;height:9.8rem}
    .flow_text i {height:9.8rem}
    .main_cnt_02 {margin-top:10px;padding-top:80px}
    .skin_finder h2 {margin-left:54px}
    .skin_finder .about {height:52px;margin-left:80px;margin-top:-16px;font-size:1.6rem;line-height:2.6rem}
    .main_cnt_04 .grid_wrap {padding:120px 20px}
    .main_product h2 {line-height:9.2rem}
    .main_product h2 + span {font-size:1.6rem;line-height:2.3rem;padding:9px 0 0 24px;}
    .main_product .product_wrap {margin-top:24px}
    .main_product_item .about_info dt {font-size:2.4rem;line-height:3.2rem;padding-right:0}
    .main_product_item .about_info .name {font-size:1.6rem;line-height:2rem}
    .main_product_item .about_info .price {font-size:1.6rem;line-height:2.3rem}
    .with_tonework h2 {font-size:4.8rem}
    .with_tonework h2 span {font-size:2.4rem;}
    .with_tonework .main_sns_swiper {margin-top:5px}
    .sub_top h2.ico_star {font-size:9.6rem;line-height:1.1}
    .sub_top .input_radio_wrap {margin-left:60px}
    .prdv_top .flag_list {margin-top:24px}
    .prdv_top .prd_tit {margin-top:24px}
    .color_select_filter.m_color_select {display:flex}
    .m_color_swiper {display:block;overflow:hidden;background:url("/resources/images/common/bg_dot_product.svg") repeat-x 0 50px;background-size:10px;}
    .color_select_filter, .color_select_wrap {display:none}
    .write_form_list .color_select_filter {display:flex}
    .color_select_filter.m_color_select {margin-top:24px;padding-top:30px;border-top:1px solid #DBDBDB}
    .prd_btn_list {margin-top:35px}
    .product_view .tbl_list {margin-top:60px}
    
    .total_score.large {width:33.3%;max-width:228px}
    .total_score.large + .dist_score {width:calc(42.3% - 30px);margin-left:30px;padding-left:30px;padding-right:30px;max-width:430px}
    .product_review .progressbar_box {width:100%}
    .product_review .review_write {width:26.3%;max-width:230px}
    .product_review .review_write .btn_box_inner {height:54px;width:100%;max-width:230px}
    .review_write .btn_box {max-width:230px;width:100%;height:54px}
    .review_write .btn_box_inner {padding:16px 16px 16px 24px}
    .review_write .btn_box_inner > span i {font-size:1.6rem;line-height:2.3rem;font-size:600;}
    .best_prd_review li {padding:40px 24px}
    .write_slide {margin:40px -20px 0;width:auto;}
    .write_slide .write_slide_inner {padding:80px 20px 65px}
    .review_top {position:relative}
    .review_top .btn_search_opt {top:24px;right:0}
    .review_top .filter_item {display:none}
    .review_top .filter_item dt {display:none}
    .review_top .filter_item dd {gap:0;position:relative;width:100%;height:48px}    
    .review_top .filter_item .swiper-wrapper {gap:0;height:48px;position:absolute;top:0}
    .review_top .filter_item .swiper-slide {width:auto}
    .review_top .btn_search_opt.open ~ .filter_item{display:flex}
    .review_top .btn_search_opt{display:block;position: absolute; top: 24px; right: 0;font-weight: 700; font-size:1.6rem; line-height: 1.5;}
    .review_top .btn_search_opt i{display: inline-block;height: 16px; width: 16px;margin-left: 4px; background: url("/resources/images/icon/ico_16_arrow_down_b.svg") right center/contain no-repeat;}
    .review_top .btn_search_opt.open i{transform: rotate(180deg);}
    .point_details .point_list {padding:0 12px 0 13px}
    .point_details .point_mall {display:block;margin-top:8px}
    .fixed_prd_inner .btn_buy {min-width:140px}
    .fixed_prd_inner .solution_link {padding:10px 16px;word-break:break-word;background:none;min-width:140px}
    .fixed_prd_inner .prdv_item {min-width:293px;max-width:407px;gap:16px;width:auto}
    .fixed_prd_inner .prdv_item dd {overflow:hidden;}
    .fixed_prd_inner .inner_btn {gap:8px}
    .prdv_item .prdv_item_tit .color_tone {margin-left:0;padding-left:0}
    .prdv_item .prdv_item_tit .color_tone:before {content:none}
    .prdv_item .prdv_item_tit .prd_tit {display:block;padding-right:23px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}

    .brand_about_01 {height:calc(100vh - 80px);height: -webkit-fill-available;overflow: hidden;}
    .brand_about_02 {padding:325px 20px 170px}
    .brand_about_02 .step_line > svg  {display:none}
    .brand_about_02 .step_cnt {flex-direction:column}
    .brand_about_02 .step_01 {padding-left:0}
    .brand_about_02 .step_02 {padding-left:0;margin-top:200px}
    .brand_about_02 .step_03 {padding-left:0;margin-top:200px}
    .brand_about_02 .step_04 {margin-top:160px}
    .brand_about_02 .step_01 .step_about, .brand_about_02 .step_02 .step_about, .brand_about_02 .step_03 .step_about {position:static;padding-top:40px}
    .brand_about_02 .step_about .tit {padding:0;padding-right:26px;position:relative}
    .brand_about_02 .step_about .tit:after {display: block;content: "";width: 26px;height: 26px;position: absolute;top:-26px;right:0;background: url("/resources/images/icon/icon_26_star_point.svg") no-repeat 0 0;background-size: 26px;}
    .brand_about_02 .step_about .tit span:before {display:none}
    .brand_about_02 .step_about .cnt {margin-top:16px}
    .brand_about_02 .step_04 .step_final dt svg {width:100%;height:100%;vertical-align:top}
    .brand_about_02 .step_04 .step_final dd {margin-top:24px}
    .brand_count {flex-direction:column;gap:36px}
    .brand_count_item.count_user {flex:0}
    .brand_count_item.count_national,
    body.en .brand_count_item.count_national {flex:0}
    .brand_count_item.count_option {flex:0}

    .accordion_list { margin-top: 40px;}
    .accordion_list.terms_box .input_check_wrap { padding:18px 8px 18px 16px; }
    .accordion_arr {right:8px;}
    .accordion_cont {padding: 16px;}
    .accordion_list.terms_box .term_list .tit {font-size: 1.4rem;font-weight:500;line-height: 1.8rem;}
    .accordion_list.terms_box .term_list li {font-size:1.4rem;line-height: 1.8rem;}
    .accordion_list.terms_box .term_list li:first-child {margin-top: 8px;}
    .cont_info_txt {margin-top:16px;font-size: 1.4rem;line-height: 1.8rem;}
    
    /* 마이페이지 */
    .history_cnt{flex-direction: column;}
    .history_cnt:before{left: 51px;}
    .history_cnt:last-of-type:before{display:none;}
    .history_cnt .left .color_circle, .history_cnt .right .color_circle{right: auto;left: 0;}
    .history_cnt .left dl:before, .history_cnt .right dl:before{display: none;}
    .history_cnt .left, .history_cnt .right{width: 100%;}
    .history_cnt .left .tit, .history_cnt .right .tit{padding-right: 0; padding-left: 126px; text-align: left;}
    .history_cnt .left .info_box, .history_cnt .right .info_box{margin-right: 0; margin-left: 126px;}

    .mypage_home .history_cnt .info_box{max-width: 523px;}
    .mypage_home .more_paging{margin-top: 45px;}
    .view_info_inner.fixed{top: 80px}

    /* 피부측정 */
    .skin_tone .top_visual {height:calc(100vh - 80px);}
    .skin_tone .top_visual .brand_philosophy .tit {font-size:6rem;line-height:7rem;}
    .skin_tone .tone_cont {padding:60px 0;}
    .skin_tone .tone_cont .anchor {top:-80px;height:80px;}
    .skin_tone .tone_cont .section_tit em {min-height:199.5px;}
    .skin_tone .tone_cont .tit_txt {margin-top:16px;}
    .skin_tone .tone_cont .section_tit::before {top:0;right:-15px;}
    .skin_tone .step_cont {overflow:visible;gap:0;}
    .skin_tone .step_cont > li {flex-shrink:0;transform:translateX(0);}

   /* 커뮤니티 - 메인 */
    .community .sub_top_about h2{ font-size:10rem; line-height: 1.4;}
	.faq_category{flex-wrap: wrap;gap: 10px 16px;}
    .faq_category a{flex-basis: calc(100%/3 - 16px);}
    
}

@media only screen and (max-width: 1200px) {
	/* 리뷰 모달 팝업 */
	.review_modal .review_img{flex: 0 0 640px;}
}
@media only screen and (max-width: 1020px) {
	/* 리뷰 모달 팝업 */
	.review_modal .review_img{flex: 0 0 50%;}
}
@media only screen and (max-width: 960px) {
   .my_profile::after{display: none;}
   .my_profile .profile_info{margin-left: 30px;}
}
@media only screen and (max-width: 880px) {
	.footer_util {flex-direction:column;align-items:flex-start}
    .footer_util .copy_right {margin-top:40px}
}