@media only screen and (max-width: 1263px) {
    h2 {font-size:7.6rem}
    .product_view .prdv_top .grid_item:nth-child(1) {order:2}
    .product_view .prdv_top .grid_item:nth-child(2) {order:1}
    .product_view .prdv_top .grid_item:nth-child(3) {order:3}    
    .main_cnt_03 .grid_wrap {padding-top:50px}
    .main_cnt_04 .grid_wrap {}
    .skin_finder .img_cnt {margin-top:16px}
    .event_list .grid_item:nth-child(even) {grid-column: 5 / span 4 !important;}

    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
    .grid .grid_item.tbl_col_8 {
        grid-column: span 8;
    }
    .grid .grid_item.tbl_col_7 {
        grid-column: span 7;
    }
    .grid .grid_item.tbl_col_6 {
        grid-column: span 6;
    }
    .grid .grid_item.tbl_col_5 {
        grid-column: span 5;
    }
    .grid .grid_item.tbl_col_4 {
        grid-column: span 4;
    }
    .grid .grid_item.tbl_col_3 {
        grid-column: span 3;
    }
    .grid .grid_item.tbl_col_2 {
        grid-column: span 2;
    }
    .grid .grid_item.tbl_col_1 {
        grid-column: span 1;
    }
    .grid .grid_item.tbl_col_8.tbl_start_1 {
        grid-column: 1 / span 8 !important;
    }
    .grid .grid_item.tbl_col_7.tbl_start_1 {
        grid-column: 1 / span 7 !important;
    }
    .grid .grid_item.tbl_col_7.tbl_start_2 {
        grid-column: 2 / span 7 !important;
    }
    .grid .grid_item.tbl_col_6.tbl_start_1 {
        grid-column: 1 / span 6 !important;
    }
    .grid .grid_item.tbl_col_6.tbl_start_2 {
        grid-column: 2 / span 6 !important;
    }
    .grid .grid_item.tbl_col_6.tbl_start_3 {
        grid-column: 3 / span 6 !important;
    }
    .grid .grid_item.tbl_col_5.tbl_start_1 {
        grid-column: 1 / span 5 !important;
    }
    .grid .grid_item.tbl_col_5.tbl_start_2 {
        grid-column: 2 / span 5 !important;
    }
    .grid .grid_item.tbl_col_5.tbl_start_3 {
        grid-column: 3 / span 5 !important;
    }
    .grid .grid_item.tbl_col_5.tbl_start_4 {
        grid-column: 4 / span 5 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_1 {
        grid-column: 1 / span 4 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_2 {
        grid-column: 2 / span 4 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_3 {
        grid-column: 3 / span 4 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_4 {
        grid-column: 4 / span 4 !important;
    }
    .grid .grid_item.tbl_col_4.tbl_start_5 {
        grid-column: 5 / span 4 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_1 {
        grid-column: 1 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_2 {
        grid-column: 2 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_3 {
        grid-column: 3 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_4 {
        grid-column: 4 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_5 {
        grid-column: 5 / span 3 !important;
    }
    .grid .grid_item.tbl_col_3.tbl_start_6 {
        grid-column: 6 / span 3 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_1 {
        grid-column: 1 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_2 {
        grid-column: 2 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_3 {
        grid-column: 3 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_4 {
        grid-column: 4 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_5 {
        grid-column: 5 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_6 {
        grid-column: 6 / span 2 !important;
    }
    .grid .grid_item.tbl_col_2.tbl_start_7 {
        grid-column: 7 / span 2 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_1 {
        grid-column: 1 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_2 {
        grid-column: 2 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_3 {
        grid-column: 3 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_4 {
        grid-column: 4 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_5 {
        grid-column: 5 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_6 {
        grid-column: 6 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_7 {
        grid-column: 7 / span 1 !important;
    }
    .grid .grid_item.tbl_col_1.tbl_start_8 {
        grid-column: 8 / span 1 !important;
    }
    header {height:80px}
    .gnb .gnb_list {display:none;}
    .gnb .gnb_info {display:none;}
    .main_top img {object-position:left;}
    .main_top .swiper-pagination {width:100%;}
    .main_cnt_01 .inner_cnt {padding:120px 0 120px 20px}
    .main_top_about .text_box dt {font-size:2rem;line-height:2.6rem;}
    .main_top_about .text_box dd {font-size:2rem;line-height:2.6rem;}
    .main_top_about .btn_box {bottom:85px}
    .basepicker_tit {padding-left:80px;font-size:7.6rem;line-height:8rem;}
    .basepicker_about {margin-top:53px;margin-bottom:0}
    .basepicker_about .about_img {width:46.3%;margin-right:6.25%}
    .basepicker_wrap .basepicker_list:last-child {width:36.6%}
    .basepicker_about .about_cnt > p {font-size:1.6rem;line-height:2.6rem}
    .flow_container {padding-bottom:30px}
    .flow_text {font-size:12rem;line-height:9.8rem;height:9.8rem}
    .flow_text i {height:9.8rem}
    
    .main_cnt_02 .grid_wrap {padding-top:40px}
    .skin_finder h2 {margin-left:74px}
    .skin_finder .about {margin-left:105px;margin-top:-16px}
    
}
@media only screen and (max-width: 1200px) {
	/* 리뷰 모달 팝업 */
	.review_modal .review_img{flex: 0 0 640px;}
}
@media only screen and (max-width: 1020px) {
	/* 리뷰 모달 팝업 */
	.review_modal .review_img{flex: 0 0 50%;}
}