/* customer */
.customer-cont-wrap {padding:25px 15px 0;}
.cont-list-select { height: 70px; padding: 15px; background: #fff;}
.cont-list-select + .customer-cont-wrap {padding-top:0;}
.cont-search-result {margin:-4px 0 11px;font-size:16px;color:#000;line-height:24px;}
.cont-search-result.type2 {margin-bottom:-29px;margin-top:40px;}
.cont-search-result strong {color:#ec1f2f;letter-spacing:-1.5px;}
.cont-list-item {border-top:1px solid #000;}
.cont-list-item li {display:table;width:100%; border-bottom:1px solid #ddd;table-layout:fixed;}
.cont-list-item li.best {background:#f6f6f6;}
.cont-list-item li > span {display:table-cell;width:7%;font-size:15px;color:#000;line-height:30px;text-align:right;vertical-align:middle;}
.cont-list-item li .list-text {padding:14px 15px 11px;vertical-align:middle;}
.cont-list-item li .list-text a {position:relative;margin-right:3px;font-size:14px;color:#444;line-height:22px;}
.cont-list-item li .list-text a .notice {position:absolute;top:0;left:0;padding:2px 0;}
.cont-list-item li .list-text a .clip,
.cont-list-item li .list-text a .new {display:inline-block;margin-right:2px;vertical-align:middle;}
.cont-list-item li .list-text a .list-text-cont {display:inline-block;font-size:14px;color:#000;line-height:22px;vertical-align:middle;}
.cont-list-item li .list-text a .notice + .list-text-cont {text-indent:23px;}
.cont-list-item li .list-text a .list-text-cont .status-ico {margin-left:4px;}
.cont-list-item li .list-text a .list-text-cont span {text-indent:0;}
.cont-list-item li .list-text a .list-text-cont.keyword {color:#ec1f2f;}
.cont-list-item li .list-date {font-size:11px;color:#7e7e7e;line-height:22px;}
.cont-list-item li .accordion-box .list-text {padding:12px 0 8px;}
.cont-list-item li .accordion-box .list-text a {padding-right: 25px; color:#000;}
.cont-list-item li .list-text a .search-word  {color:#ec1f2f;}
.cont-list-item li.clip .list-text a:before,
.cont-list-item li.clip .list-text a:before {right:-22px;}
.cont-list-item li .accordion-box .list-text a > .new {display: inline-block; width: 11px; height: 11px;margin-right: 0 !important; margin-left: 2px; background:url(../images/content/icon/ico_new.png) no-repeat; background-size: 11px; color:transparent;}
.cont-list-item.no-result {margin-bottom:30px;}
.cont-list-item.no-result li {border:0;}
.cont-list-item.no-result li p {padding:226px 0 144px;margin-top:20px;background:url(../images/content/icon/ico_no_result.png) no-repeat center 150px;font-size:18px;color:#7e7e7e;line-height:27px;letter-spacing:-1.5px;text-align:center;}

.tab-type2 + .cont-list-box {margin-top:40px;}
.cont-list-item.accordion li {display:block;border:0; background: #fff;}
.cont-list-item.accordion li.on {position:relative;margin-top:-1px;border:1px solid #666;border-width:1px 0;}
.today-schedule-box.accordion li.on {margin-top:0;border:0;}
.cont-list-item.accordion li .accordion-box {display: inline-block; width:100%;min-height:65px;padding: 0 15px;border-bottom:1px solid #ddd;cursor:pointer;}
.cont-list-item.accordion li .accordion-box span {display: inline-block; margin-right:3px;text-align:right;vertical-align:middle;}
.cont-list-item.accordion li .accordion-box span img { width: 11px; height: 12px;}
.cont-list-item.accordion li .accordion-box .accordion-list {position:relative; width: 100%; min-height:65px;}
.cont-list-item.accordion li .accordion-box .accordion-list:after {content:'';position:absolute;top:50%;right:0;width:18px;height:10px;background:url(../images/content/icon/ico_accordion_default.png) no-repeat center center; background-size: 13px 7px; transform: translateY(-50%)}
.cont-list-item.accordion li.on .accordion-box .accordion-list:after {background:url(../images/content/icon/ico_accordion_open.png) no-repeat center center;background-size: 13px 7px;}
.cont-list-item.accordion li .cont-accordion {display:none;border-bottom:1px solid #ddd;background:#f6f6f6;}
.cont-list-item.accordion li .cont-accordion .answer-text {position:relative;padding:15px 15px 15px 38px;font-size:12px;color:#444;line-height:18px;}
.cont-list-item.accordion li .cont-accordion .answer-text:after {display:block;content:'';clear:both;position:absolute;top:20px;left:15px;width:14px;height:15px;background:url(../images/content/icon/img_answer.png) no-repeat 0 0;background-size: 11px;}
.cont-list-item.accordion li .cont-accordion .answer-text .img {display: block; width: 100%;margin-bottom: 18px;}
.cont-list-item.accordion li .cont-accordion .answer-text .img img { width: 100%;}
.cont-list-item.accordion li .cont-accordion ul li {background-color:#f6f6f6;}

.form-list .inp-chk-box:first-child {margin-top:0;}
.question-input-form .inp-chk + label {line-height:25px;}
.question-input-form .board-info {margin-top: 33px;}
.question-input-form .form-list {padding:0 15px;}
.question-input-form .form-list > li,
.question-input-form .form-list > li.full:first-child {padding:13px 0;}
.question-input-form .form-list > li:after {display:block;clear:both;content:'';}
.question-input-form .form-list .form-title {float:left;width:30%;}
.question-input-form .form-list .form-cont {float:left;margin-top:0;width:70%;}
.question-input-form .form-list .form-cont .reply .inp-chk-box + .inp-chk-box {margin-top:10px;}
.question-input-form .form-list > li + li {border-top:1px solid #ddd;}
.question-input-form .form-list > li + li .form-title + .form-cont {margin-top:0;}
.question-input-form .form-list > li.full {padding:18px 0;}
.question-input-form .form-list > li.full .form-title,
.question-input-form .form-list > li.full .form-cont {width:100%;}
.question-input-form .form-list > li.full,
.question-input-form .form-list > li + li.full .form-title + .form-cont {margin-top:10px;}
.question-input-form .form-list .form-cont {font-size:13px;line-height:20px;color:#444;}
.question-input-form .form-list .form-cont + .form-title {margin-top:22px;}
.question-input-form .form-list .inner-form {overflow:hidden;}
.question-input-form .form-description {margin-top:0;}
/* .form-cont .upload-box {overflow:hidden;}
.form-cont .upload-box .file-upload {margin-left:10px;padding-right:84px;}
.form-cont .upload-box .file-upload:first-child {margin-left:0;}
.form-cont .upload-box .file-upload+.file-upload{margin-top: 0;}
.form-cont .upload-box .file-upload .file-thumbnail-txt {display: block; font-size: 12px; text-align: center;margin-top: 7px;}
.form-cont .upload-box .file-upload .file-thumbnail-txt .ess {margin-left: 3px; color:#e11c2c;}
.form-cont .upload-box .ipt-file {position:absolute;width:75px;height:75px;opacity:0;cursor: pointer;z-index: -1;}
.form-cont .upload-box .btn-file {position:static;display:inline-block;width:75px;height:75px;margin-left:0;border:1px solid #ddd;border-radius:7px;font-size:13px;line-height:75px;color:#aaa;text-align:center;}
.form-cont .del-image {position:relative;width:75px;height:75px;border-radius:7px;overflow:hidden;}
.form-cont .del-image .file-delete {position:absolute;width:75px;height:75px;padding-top:15px;background:url(../images/common/icon/ico_close_white.png) rgba(0,0,0,0.5) no-repeat center 25px;background-size:8px 8px;font-size:13px;color:#fff;border-radius:7px;}
.form-cont .del-image .img img {position:absolute;left:50%;top:50%;max-width:none;height:100%;transform:translate(-50%,-50%);} */