.layerpopup-wrap.sub-pop {background:none;}
.layerpopup-wrap.jplayer {z-index:-1;opacity:0;}
.layerpopup-cont {position:relative;height: 100%;background:#fff;}
.layerpopup-cont.preview .preview-pop-wrap .cover-area {margin-top: 15px;}
.layerpopup-tit {position:fixed;left:0;right:0;background-color:rgba(255,255,255,.9);z-index:120;}
.layerpopup-tit .pop-title {overflow:hidden;height:50px;padding:0 50px 0 15px;font-size:17px;font-weight:700;color:#000;border-bottom:1px solid #ddd;line-height:50px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.layerpopup-tit .pop-title strong {font-weight:700;color:#ec2030;}
.layerpopup-body {padding:66px 15px 30px;}
.layerpopup-body .sub-text {margin-bottom: 9px; font-size: 12px; color:#7e7e7e;}
.layerpopup-body .hor-tab-box {margin-top:0;}
.layerpopup-body .comparison-box {margin: 0; padding: 0;}
.btn-popup-close {position:fixed;top:0;right:0;overflow:hidden;width:50px;height:50px;background:url(../images/popup/img_popup_close.png) no-repeat center center;background-size: 15px; text-indent:101%;white-space:nowrap;z-index:150;}
.layerpopup-wrap.main-pop {position:fixed;top:0;bottom:0;left:0;right:0;z-index:-1;opacity:0;display:table;width:100%;height:100%;background:rgba(0,0,0,.5);}
.layerpopup-wrap.main-pop .layerpopup-align {display:table-cell;vertical-align:middle;}
.layerpopup-wrap.main-pop .layerpopup-cont {position:relative;display:block;width:260px;height:auto !important;margin:0 auto;border-radius:7px;background:none;}
.layerpopup-wrap.main-pop .layerpopup-body {padding:0;}
.layerpopup-wrap.main-pop .mainpop-swiper-cont {overflow:hidden;padding:0 15px;border-radius:7px;}
.layerpopup-wrap.main-pop .mainpop-swiper-cont .mainpop-title {height:80px;}
.layerpopup-wrap.main-pop .mainpop-swiper-cont .mainpop-title:before {content:'';display:inline-block;height:100%;vertical-align:middle;}
.layerpopup-wrap.main-pop .mainpop-swiper-cont .mainpop-title span {display:inline-block;font-size:15px;font-weight:700;color:#000;line-height:21px;vertical-align:middle;}
.layerpopup-wrap.main-pop .mainpop-swiper-cont .main-admin-text {padding:17px 15px;font-size:14px;color:#000;line-height:20px;}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-slide .mainpop-scroll-area {position:relative;overflow-y:auto;height:235px;margin:0 -15px;}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-slide.none-btn .mainpop-scroll-area {height:290px;}
/* .layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-slide.none-txt .mainpop-scroll-area .img img {height:275px;} */
/* .layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-slide.none-txt.none-btn .mainpop-scroll-area .img img {height:320px;} */
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-slide.none-img .mainpop-scroll-area {overflow-y:auto;height:235px;}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-slide.none-img.none-btn .mainpop-scroll-area {height:290px;}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-slide .mainpop-swiper-cont .img {width:100%;}
.layerpopup-wrap.main-pop .btn-today-view {position:absolute;bottom:-30px;left:0;padding-left:19px;background: url(../images/popup/img_today_view.png) no-repeat left center;background-size:14px 9px;font-size:13px;color:#fff;line-height:22px;}
.layerpopup-wrap.main-pop .btn-box {margin:0 -15px;}
.layerpopup-wrap.main-pop .btn-box button {width:100%;height:55px;border-radius:0 0 7px 7px;}
.layerpopup-wrap.main-pop .btn-box button span {line-height:53px;}
.layerpopup-wrap.main-pop .btn-popup-close {position:absolute;top:auto;bottom:-29px;right:0;width:auto;height:auto;padding-left:20px;background: url(../images/popup/img_popup_close_mainpop.png) no-repeat left center;background-size:12px 12px;font-size:13px;color:#fff;line-height:22px;text-indent:0;}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .mainpop-swiper {overflow:hidden;border-radius:7px;}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-slide {border-radius:7px;background:#fff;}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-pagination {bottom:-21px;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-pagination .swiper-pagination-bullet {opacity:1;width:5px;height:5px;margin:0 1px;border:1px solid #fff;background-color:transparent;}
.layerpopup-wrap.main-pop .mainpop-swiper-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color:#fff;}

/* M_FOMYR_01_02 스토리북 신규 개설 */
.layerpopup-body .form-list li {padding-left:0;padding-right:0;}
.new-book-wrap .photo-area {display:block;margin:0 auto;}


.new-book-wrap .form-cont .file-upload {position:relative;}
.new-book-wrap .form-cont .file-upload .ipt-upload{position:relative;overflow:hidden;width:120px;height:120px;margin:0 auto;border:1px solid #ddd;border-radius:50%;font-size:14px;line-height:18px;}
.new-book-wrap .form-cont .file-upload .ipt-upload .img {display:inline-block;}
.new-book-wrap .form-cont .file-upload .ipt-upload .img img {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);max-width:none;height:100%;}
.new-book-wrap .form-cont .file-upload .ipt-upload::placeholder{color:#aaa;}
.new-book-wrap .form-cont .file-upload .ipt-upload::-webkit-input-placeholder{color:#aaa;}
.new-book-wrap .form-cont .file-upload .ipt-upload:-ms-input-placeholder{color:#aaa;}
.new-book-wrap .form-cont .file-upload .ipt-file{position:absolute;right:0;width:107px;padding:0;height:38px;overflow:hidden;opacity:0;cursor:pointer;z-index:-1;}
.new-book-wrap .form-cont .file-upload .ipt-file::-ms-value{display:none;}
.new-book-wrap .form-cont .file-upload .ipt-file::-ms-browse{width:107px;}
.new-book-wrap .form-cont .file-upload .btn-file{position:absolute;bottom:5px;right:50%;z-index:6;overflow:hidden;display:block;width:35px;height:35px;margin-right:-60px;background:url(../images/content/img_edit_profile.png) no-repeat 0 0;background-size:35px 35px;text-indent:101%;white-space:nowrap;}
.new-book-wrap .form-cont .file-upload .file-delete{display:none;position:absolute;top:50%;right:130px;background:url(../images/common/icon/ico_close.png) no-repeat center center;width:15px;height:15px;white-space:nowrap;text-indent:101%;overflow:hidden;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);}
.new-book-wrap .form-cont .file-upload .file-delete.on{display:block;}




.new-book-wrap .photo-size-info {margin:10px 0;font-size:11px;line-height:18px;color:#aaa;text-align:center;}
.new-book-wrap .form-title {position:relative;}
.tooltip-mark-box {position:relative;}
.new-book-wrap .tooltip-mark-box {position:absolute;right:0;top:0;}
.tooltip-mark-box .btn-mark {width:20px;height:20px;background:url(../images/content/icon/ico_tooltip_qu.png) no-repeat 0 0; background-size:20px 40px;}
.tooltip-mark-box .btn-mark.on {background-position:0 -20px;}
.new-book-wrap .tooltip-box-cont {top:25px;}
.new-book-wrap .sub-info-text {line-height:14px;}
.subject-circle-box {margin-top:15px;padding:15px;border:1px solid #ddd;border-radius:5px;}
.subject-circle-box.focus {border:1px solid #000;}
.subject-circle-box .subject-circle-top {/* margin-bottom:12px; */font-size:14px;line-height:20px;color:#000;}
.subject-circle-box .inp-chk-box {display:inline-block;margin:12px 20px 0 0;}
.subject-circle-box .inp-chk-box:last-child {margin-right:0;}


.search-id-box .item-search {margin-top:10px;}
.search-id-box .id-result-box {position:absolute;padding:15px;top:170px;left:15px;right:15px;bottom:110px;border:1px solid #ddd;border-radius:5px;overflow-y:auto;}
.search-id-box .id-result-box .text {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:12px;line-height:18px;text-align:center;}
.search-id-box .btn-box {position:absolute;bottom:30px;left:50%;transform:translateX(-50%);}
.id-result-box .result-cont {display:table;width:100%;padding:15px 0;border-top:1px solid #ddd;}
.id-result-box .result li:first-child .result-cont {padding-top:0;border-top:0;}
.id-result-box .result li:last-child .result-cont {padding-bottom:0;}
.id-result-box .result-cont > div {display:table-cell;vertical-align:middle;}
.id-result-box .result-cont .photo-area {width:60px;height:60px;overflow:hidden;border-radius:5px;}
.id-result-box .result-cont .info {padding:0 15px;}
.id-result-box .result-cont .info .info-text {font-size:12px;line-height:20px;color:#000;}
.id-result-box .result-cont .info .info-text strong {display:inline-block;width:45px;font-weight:400;color:#444;}
.id-result-box .result li .inp-chk-box {text-align:right;}
.id-result-box .link-invit {position:absolute;top:50%;left:15px;right:15px;text-align:center;transform:translateY(-50%);}
.id-result-box .link-invit .invitation {font-size:13px;line-height:19px;color:#444;}
.id-result-box .link-invit ul {margin-top:25px;overflow:hidden;}
.id-result-box .link-invit ul li {float:left;width:25%;text-align:center;}
.id-result-box .link-invit ul li .img {display:block;}
.id-result-box .link-invit ul li .link-title {display:block;margin-top:10px;font-size:12px;line-height:24px;color:#444;}