@charset "UTF-8";

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(font/NotoSansCJKkr-Thin.eot),
    url(font/NotoSansCJKkr-Thin.eot?#iefix) format('embedded-opentype'),
    url(font/NotoSansCJKkr-Thin.woff) format('woff'),
    url(font/NotoSansCJKkr-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(font/NotoSansCJKkr-Regular.eot),
    url(font/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
    url(font/NotoSansCJKkr-Regular.woff) format('woff'),
    url(font/NotoSansCJKkr-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(font/NotoSansCJKkr-Medium.eot),
    url(font/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'),
    url(font/NotoSansCJKkr-Medium.woff) format('woff'),
    url(font/NotoSansCJKkr-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(font/NotoSansCJKkr-Bold.eot),
    url(font/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
    url(font/NotoSansCJKkr-Bold.woff) format('woff'),
    url(font/NotoSansCJKkr-Bold.otf) format('opentype');
}
