@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.inside-cont{
  position: absolute; 
  top:0; 
  left: 0; 
  width: 100%;
  height:100%; 
  background: #000;
  font-family: 'Noto Sans KR', sans-serif;
}
.inside {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 60px 0;
  box-sizing: border-box;
  position: relative;
}

.inside .tab-list{
  padding-left: 190px;
  overflow: hidden;
}
.inside .tab-list li{
  float: left;
  width:20%;
  text-align: center;
}
.inside .tab-list li a{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  line-height: 37px;
  font-size: 18px;
  transition: all 0.5s;
}
.inside .tab-list li a:hover,
.inside .tab-list li.on a{
  color: rgba(255, 255, 255, 1);
}
.inside .tab-list li a:before,
.inside .tab-list li a:before{
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  content:'';
  transition: all 0.5s;
}
.inside .tab-list li a:hover:before,
.inside .tab-list li.on a:before{
  width: 100%;
}

.inside .tab-cont {
  width: 100%;
  height: 100%;
}
.inside .tab-cont > li {
  position: relative;
  display: none;
  width: 100%;
}
.inside .tab-cont > li.on {
  display: block;
}
.inside .tab-cont .img-cont {
  position: relative;
  padding-left: 190px;
}
.inside .tab-cont .big-img-cont {
  position: relative;
  height: 667px;
  overflow: hidden;
}

.inside .tab-cont .big-img{
  position: relative;
	width: 100%;
	height: 667px;
	overflow: hidden;
}
.inside .tab-cont .big-img li{
  display: none;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.inside .tab-cont .big-img li:after {
  display: block;
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  box-sizing: border-box;
  top: 15px;
  left: 15px;
}
.inside .tab-cont .big-img li.on{
  display: block;
}
.inside .tab-cont .big-img li img {
  width: 120%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: none;
  transition: all 1s;
}
.inside .tab-cont .big-img li:hover img {
  width: 100%;
}

.inside .tab-cont .small-im-cont{
  position: relative;
}

.inside .tab-cont .small-im-cont .btn-prev,
.inside .tab-cont .small-im-cont .btn-next{
  position: absolute;
  top: 45px;
  display: block;
  width: 60px;
  height: 60px;
  background: url(../../images/ico_slide_btn.png) no-repeat;
  font-size: 0;
}
.inside .tab-cont .small-im-cont .btn-prev {
  left:-40px;
  transform: translatey(-50%) rotate(90deg);
}
.inside .tab-cont .small-im-cont .btn-next {
  right: -40px;
  transform: translatey(-50%) rotate(-90deg);
}

.inside .tab-cont .small-img {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 20px;
}
.inside .tab-cont .small-img li {
  flex-basis: 1;
  display: inline-block;
  width: 20%;
  height: 90px;
  animation: imgg 0.5s 0.2s both;
}
@keyframes imgg{
  0%{transform: translateY(30px); opacity: 0;}
  100%{transform: translateY(0); opacity: 1;}
}
.inside .tab-cont .small-img li:nth-child(2){animation-delay: 0.3s;}
.inside .tab-cont .small-img li:nth-child(3){animation-delay: 0.4s;}
.inside .tab-cont .small-img li:nth-child(4){animation-delay: 0.5s;}
.inside .tab-cont .small-img li:nth-child(5){animation-delay: 0.6s;}

.inside .tab-cont .small-img li + li {
  margin-left: 20px;
}
.inside .tab-cont .small-img li a{
  position: relative;
  display: block;
}
.inside .tab-cont .small-img li a img {
  vertical-align: top;
  width: 100%;
  filter: grayscale(0.5);
  opacity: 0.5;
  transition: 0.5s;
}
.inside .tab-cont .small-img li a:hover img,
.inside .tab-cont .small-img li.on a img {
  filter: grayscale(0);
  opacity: 1;
}
.inside .tab-cont .small-img li a span {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 999;
}
.inside .tab-cont .icon.icon2{left: 90px;}
.inside .tab-cont .icon{
    width:170px;
    height:calc(100% - 160px);
    position:absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.inside .tab-cont .icon.mo {
  display: none;
}

.inside .tab-cont .icon .list-cont{
  height: 378px;
  margin-bottom: 20px;
}
.inside .tab-cont .icon .list-cont > ul {
  float: right;
  width: 80px;
}
.inside .tab-cont .icon .list-cont > ul+ul {
  margin-right: 10px;
}
.inside .tab-cont .icon ul{
    width:100%;
    overflow: hidden;
}
.inside .tab-cont .icon ul li.left{margin-left: 0;}
.inside .tab-cont .icon ul li{
    animation: imgg 0.5s 0.2s both;
    float:right;
    margin-left: 10px;
    margin-bottom: 10px;
    height: calc((100% - 40px) / 5);
    width: 80px;
    height: 67px;
    border-radius: 20px;
    overflow: hidden;
}

.inside .tab-cont .icon ul.list1 li{background:rgba(255, 255, 255, 0.1); }
.inside .tab-cont .icon ul.list2 li{background:rgba(255, 255, 255, 0.3); }

.inside .tab-cont .icon ul li.last{margin-bottom: 0;}
.inside .tab-cont .icon ul li img{width:90%; margin-top: 5%; margin-left: 5%;}
.inside .tab-cont .icon ul li img{width:50%; margin-top: 5%;margin-left: 25%;}

.inside .tab-cont .icon ul li p{
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.5px;
  color:#fff;
}
@keyframes imgg{
    0%{transform: translateY(30px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
.inside .tab-cont .icon ul.list1 li:nth-child(1){animation-delay: 0.3s;}
.inside .tab-cont .icon ul.list1 li:nth-child(2){animation-delay: 0.4s;}
.inside .tab-cont .icon ul.list1 li:nth-child(3){animation-delay: 0.5s;}
.inside .tab-cont .icon ul.list1 li:nth-child(4){animation-delay: 0.6s;}
.inside .tab-cont .icon ul.list1 li:nth-child(5){animation-delay: 0.7s;}
.inside .tab-cont .icon ul.list1 li:nth-child(6){animation-delay: 0.8s;}
.inside .tab-cont .icon ul.list1 li:nth-child(7){animation-delay: 0.9s;}
.inside .tab-cont .icon ul.list1 li:nth-child(8){animation-delay: 1.0s;}
.inside .tab-cont .icon ul.list1 li:nth-child(9){animation-delay: 1.1s;}

.inside .tab-cont .icon ul.list2 li:nth-child(1){animation-delay: 1.1s;}
.inside .tab-cont .icon ul.list2 li:nth-child(2){animation-delay: 1.2s;}
.inside .tab-cont .icon ul.list2 li:nth-child(3){animation-delay: 1.3s;}
.inside .tab-cont .icon ul.list2 li:nth-child(4){animation-delay: 1.4s;}
.inside .tab-cont .icon ul.list2 li:nth-child(5){animation-delay: 1.5s;}
.inside .tab-cont .icon ul.list2 li:nth-child(6){animation-delay: 1.6s;}

/* 지도 */
.location-cont{
  position: absolute; 
  top:0; 
  left: 0; 
  width: 100%;
  height:100%; 
  background: #f4f0eb;
  font-family: 'Noto Sans KR', sans-serif;
}
.location{
  position: relative;
  width: 100%;
  height: 100%;
}
.location .page-title {
  display: none;
}
.location .map-cont {
  width: 100%;
  height: 100%;
  background: url(../../images/img_map.png) no-repeat;
  background-size: cover;
}
.location .info-cont {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  width: 500px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
}
.location .info-cont .img-cont {
  height: 250px;
  overflow: hidden;
}
.location .info-cont .img-cont img {
  width: 100%;
  vertical-align: top;
}
.location .info-cont .info-list {
  padding: 0 10px;
  margin-top: 90px;
}
.location .info-cont .info-list > li {
  margin-top: 14px;
  color: #fff;
}
.location .info-cont .info-list li .tit {
  font-size: 22px;
  font-weight: bold;
}
.location .info-cont .info-list li .txt {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.location .info-cont .info-list li .txt .detail li {
  overflow: hidden;
}
.location .info-cont .info-list li .txt .detail li span{
  float: left;
  width: 90px;
}
.location .info-cont .info-list li .txt .detail li p{
  float: left;
  color: rgba(255, 255, 255, 0.5);
}
.location .come {
  position: relative;
  margin-top: 20px;
  padding: 0 10px;
}
.location .come>div {
    margin-bottom: 13px;
}
.location .come .tit {
    margin-bottom: 10px;
    height: 32px;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
}
.location .come .tit p {
    transform: translateY(-3px);
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #ff7600;
    margin-left: 10px;
}
.location .come .tit p span {
    text-align: center;
    line-height: 26px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 4px solid #ff7600;
    box-sizing: border-box;
}

.location .come .tit img {
    width: 32px;
    margin-right: 10px;
    vertical-align: top;
}
.location .come .txt {
    letter-spacing: 1px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.location .come .txt2 {
    font-size: 18px;
    color: #fff;
}
.location .mobile {
    display: block;
    transition:all 0.5s;
    width:340px;
    height: 60px;
    background:rgba(0, 0, 0, 0.35);
    position:absolute;
    top:290px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    animation: mobile 0.5s 0s infinite both alternate;
}
@keyframes mobile{
  0%{transform: translate(-50%,2px);}
  100%{transform: translate(-50%,-2px);}
}
.location .mobile{
  font-size: 20px;
  color:#fff;
  line-height: 60px;
}
.location .mobile img {
  width: 18px;
  height: 30px;
  margin-top: 15px; 
  margin-right: 7px;
  vertical-align: top;
}

/* 리뷰 */
.review-cont{
  position: absolute; 
  top:0; 
  left: 0; 
  width: 100%;
  height:100%; 
  background: #000;
  font-family: 'Noto Sans KR', sans-serif;
}
.review {
  position: relative;
  margin: 0 auto;
  height: 100%;
  background: url('../../images/img_review_bg_blur.jpg') no-repeat;
}
.review .motion-cont {
  position: relative;
  width:100%;
  height: 100%;
  font-family: 'Raleway';
  animation: trans 0.7s 2.3s both;
}
@keyframes trans{
    0%{}
    100%{transform: scale(0.8) translateY(-33%);}
}
.review .motion{
  position:absolute;
  top:50%;
  left: 50%;
  width:800px;
  height:300px;
  background:rgba(0, 0, 0, 0.4);
  border-radius: 290px;
  border:6px solid #e2c8b6;
  transform: translate(-50%,-50%);
  animation: bigger 0.7s 0.5s both;
}
@keyframes bigger{
    0%{transform: translate(-50%,-50%) scale(0.5); opacity: 0; }
    100%{transform: translate(-50%,-50%) scale(1); opacity: 1;}
}
.review .motion .line span{
  position: absolute;
  display: block;
  width: 100px;
  height: 6px;
  background: #e2c8b6;
  border-radius: 10px;
}
.review .motion .line span:nth-child(1) {
  top: 0;
  left: -35px;
  transform: rotate(30deg);
}
.review .motion .line span:nth-child(2) {
  top: 0;
  right: -35px;
  transform: rotate(-30deg);
}
.review .motion .line span:nth-child(3) {
  bottom: 0;
  left: -35px;
  transform: rotate(-30deg);
}
.review .motion .line span:nth-child(4) {
  bottom: 0;
  right: -35px;
  transform: rotate(30deg);
}

.review .motion .top-txt {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 8px;
  font-style: italic;
  color: #e2c8b6;
}

.review .motion .tit-box {
  position: absolute;
  top: 50%;
  width: 800px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 100;
  text-align: center;
  color: #fff;
  font-size: 80px;
}
.review .motion .tit-box .big {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typp 1.2s 1s both;
}
.review .motion .tit-box .big span {
  color: #ffe030;
}
.review .motion .tit-box .small{
  animation: smallover 0.7s 1.6s both;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
  color: #e2c8b6;
}
.review .motion .view {
  display: block;
  width: 120px;
  height: 50px;
  background: #705f52;
  border-radius: 40px;
  color: #e2c8b6;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  animation: afterup 0.7s 1.8s both;
}
@keyframes afterup{
    0%{transform: translate(-50%,50px); opacity: 0;}
    100%{transform: translateY(-50%,0); opacity: 1;}
}

.review .review-list {
  position:absolute;
  bottom:90px;
  left: 50%;
  height: 420px;
  width:1200px;
  transform: translateX(-50%);
}

@keyframes listUp{
  0%{ opacity: 0; transform: translateY(100px);}
  100%{opacity: 1; transform: translateY(0);}
}

.review .review-list > li{
  position:relative;
  float:left;
  width:33.333%;
  padding:0 60px;
  height: 100%;
  animation:listUp 0.8s /*2.4s*/ 2.9s both;
}
.review .review-list > li:before {
  display: block;
  content: '';
  width: 1px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
}
.review .review-list > li:first-child:before{
  display: none;
}
.review .review-list li:nth-child(2){animation-delay: /*2.6*/3.1s;}
.review .review-list li:nth-child(3){animation-delay: /*2.8*/3.3s;}
.review .review-list li:last-child:after{display: none;}

.review .review-list > li .img {
  position: relative;
  padding:3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}
.review .review-list > li .img img {
  width: 100%;
}
.review .review-list > li .more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
}
.review .review-list > li:hover .more{
  opacity: 1;
}
.review .review-list > li .more > span {
  width: 160px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.review .review-list .txt-cont .tit{
  position: relative;
  width: 100%;
  margin: 25px 0 15px 0;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.review .review-list .txt-cont .tit span {
  color: #e2c8b6;
}
.review .review-list .txt-cont .tit :after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: #e2c8b6;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.review .review-list .txt-cont .sub {
  padding: 15px;
}
.review .review-list .txt-cont .sub li {
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-weight: 100;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.review .review-list .txt-cont .sub li .like {
  padding-left: 25px;
  background: url('../../images/ico_like.png') no-repeat 0 center;
  background-size: 18px;
}
.review .review-list .txt-cont .sub li span +span {
  margin-left: 5px;
}



@media screen and (max-width:1024px) {

  .inside {
    width: 100%;
    padding: 80px 30px 0 0;
  }
  .inside .tab-list {
    padding-left: 220px;
  }
  .inside .tab-cont {
    top: 120px;
    padding: 0 30px;
  }
  .inside .tab-cont .icon .list-cont {
    height: 345px;
    margin-bottom: 0;
  }
  .inside .tab-cont .icon .list-cont > ul+ul {
    margin-right: 0;
  }
  .inside .tab-cont .img-cont {
    padding-right: 0;
  }
  .inside .tab-cont .big-img-cont {
    height: 400px;
  }
  .inside .tab-cont .big-img {
    height: 400px;
  }
  .inside .tab-cont .small-img {
    padding-right: 0;
    margin-top: 10px;
  }
   .inside .tab-cont .small-img li{
     height: auto;
   }
  .inside .tab-cont .small-img li a span {
    font-size: 40px;
  }
  .inside .tab-cont .small-img li + li {
    margin-left: 10px;
  }

  .inside .tab-cont .icon ul li {
    width: 70px;
    height: 57px;
  }
  .inside .tab-cont .small-im-cont .btn-prev,
  .inside .tab-cont .small-im-cont .btn-next {
    top: 50%;
  }
  /* 위치 */
  .location .info-cont {
    width: 394px;
  }
  .location .mobile {
    width: 300px;
    height: 50px;
    line-height: 50px;
  }
  .location .mobile img {
    margin-top: 12px;
    width: 15px;
    height: 27px;
  }
  .location .info-cont .info-list {
    margin-top: 80px;
  }
  .location .info-cont .info-list > li {
    margin-top: 20px;
  }
  .location .info-cont .info-list li .tit {
    font-size: 18px;
  }
  .location .info-cont .info-list li .txt {
    font-size: 14px;
    line-height: 18px;
  }
  .location .info-cont .info-list li .txt .detail li+li {
    margin-top: 3px;
  }
  .location .info-cont .info-list li .txt .detail li span {
    width: 80px;
  }
  .location .come .tit {
    font-size: 18px;
    margin-bottom: 7px;
  }
  .location .come .tit p {
    font-size: 18px;
  }
  .location .come .txt {
    font-size: 14px;
    line-height: 18px;
  }
  .location .come .txt2 {
    font-size: 16px;
  }

  /* 리뷰 */
  .review .review-list {
    width: 100%;
    padding: 0 50px;
  }
  .review .review-list > li {
    padding: 0 30px;
  }

}

@media screen and (max-width:767px) {

  .inside {
    position: relative;
    padding: 80px 0;
  }
  .inside .tab-list {
    display: none;
  }
  .inside .tab-cont {
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 15px;
    height: auto;
  }
  .inside .tab-cont .icon.mo {
    display: block;
  }
  .inside .tab-cont .list-cont.pc {
    display: none;
  }
  .inside .tab-cont .icon {
    position: relative;
    width: 100%;
  }
  .inside .tab-cont .icon ul  {
    display: block;
    height: 45px;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
  }
  .inside .tab-cont .icon .list-cont{
    height: 45px;
    overflow: hidden;
  }
  .inside .tab-cont .icon .list-cont > ul {
    float: none;
    display: inline-block;
    width: auto;
  }
  .inside .tab-cont .icon .list-cont > ul+ul {
    margin:0 0 0 5px;
  }
  .inside .tab-cont .icon .list1,
  .inside .tab-cont .icon .list2 {
    text-align: center;
  }
  .inside .tab-cont .icon .list2 {
    margin-top: 10px;
  }
  .inside .tab-cont .icon .list-cont {
    margin-bottom: 10px;
    display:block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
 
  .inside .tab-cont .icon .list-cont.pc {
    display: none;
  }
  .inside .tab-cont .icon .list1 li:first-child,
  .inside .tab-cont .icon .list2 li:first-child {
    margin-left: 0;
  }
  .inside .tab-cont .icon ul li {
    float: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 10px;
    animation:none;
  }
  .inside .tab-cont .big-img-cont {
    height: auto;
  }
  .inside .tab-cont .big-img {
    height: 0;
    padding-bottom: 64%;
  }
  .inside .tab-cont .big-img li:after {
    display: none;
  }
  .inside .tab-cont .small-im-cont .btn-prev,
  .inside .tab-cont .small-im-cont .btn-next {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
  .inside .tab-cont .small-im-cont .btn-prev {
    left: -15px;
  }
  .inside .tab-cont .small-im-cont .btn-next {
    right: -15px;
  }
  .inside .tab-cont .icon ul li img {
      width: 26px;
      display: block;
      margin: 0 auto;
  }

  .inside .tab-cont .img-cont{
    width: 100%;
    padding-left: 0;
    z-index: 1;
  }
  .inside .tab-cont .big-img li img {
    width: 100%;
  }
  .inside .tab-cont .small-img {
    display: flex;
    flex-wrap: nowrap;
  }
  .inside .tab-cont .small-img li {
    width: auto;
    animation: none;
  }
  .inside .tab-cont .small-img li + li {
    margin-left: 5px;
  }
  .inside .tab-cont .small-img li a span {
    font-size: 0;
  }


  /* 위치 */
  .location {
    padding-top: 20px;
  }
  .location .page-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
}
  .location .map-cont {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  .location-mo .map-cont img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: none;
    width: auto;
    height: 100%;
    vertical-align: top;
    transform: translate(-50%,-50%);
}
  .location .info-cont {
    position: relative;
    width: 100%;
    padding: 50px 20px;
    background: #705f52;
  }
  .location .info-cont .info-list {
    margin-top: 20px;
  }
  .location .info-cont .info-list li .tit {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .location .info-cont .info-list li .txt {
    font-size: 12px;
    line-height: 18px;
  }
  .location .info-cont .info-list li .txt .detail li {
    overflow: hidden;
  }
  .location .info-cont .info-list li .txt .detail li span{
    float: left;
    width: 70px;
  }
  .location .info-cont .info-list li .txt .detail li p{
    float: left;
  }
  .location .come {
    position: relative;
    margin-top: 20px;
  }
  .location .come>div {
    margin-bottom: 15px;
  }
  .location .come .tit {
    margin-bottom: 5px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
  }
  .location .come .tit p {
    transform: translateY(-3px);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #ff7600;
    margin-left: 10px;
  }
  .location .come .tit p span {
    text-align: center;
    line-height: 26px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 4px solid #ff7600;
    box-sizing: border-box;
  }

  .location .come .tit img {
    width: 32px;
    margin-right: 10px;
}
  .location .come .txt {
    letter-spacing: 1px;
    font-size: 12px;
  }
  .location .come .txt2 {
    font-size: 14px;
  }
  .location .info-cont .img-cont {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65%;
  }
  .location .mobile {
    position: static;
    display: block;
    width: 260px;
    height: 40px;
    margin: 20px auto 0;
    background:#af9a9a;
    font-size: 16px;
    transform: translateX(0);
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    color:#fff;
    animation: none;
  }
  .location .mobile img {
    width: 12px;
    height: auto;
    margin-top: 9px; 
    margin-right: 7px;
  }


  /* 리뷰 */
  .review {
    padding-top: 50px;
    overflow: hidden;
  }
  .review .motion-cont {
    height: auto;
    animation: none;
  }
  .review .motion {
    position: static;
    width: 215px;
    height: 83px;
    margin: 0 auto;
    border-width: 2px;
    animation: none;
    transform: translate(0);
  }
  .review .motion .top-txt {
    top:-20px;
    width: 100%;
    font-size: 8px;
    letter-spacing: 0;
    text-align: center;
  }
  .review .motion .tit-box {
    font-size: 20px;
  }
  .review .motion .tit-box .big {
    animation: none;
  }
  .review .motion .tit-box .small {
    margin-top: 0px;
    font-size: 8px;
    letter-spacing: 0;
  }
  .review .motion .view {
    bottom: -16px;
    width: 60px;
    height: 25px;
    border-radius: 15px;
    line-height: 25px;
    animation: none;
    font-size: 12px;
  }
  .review .motion .line span {
    height: 2px;
    width: 30px;
  }
  .review .motion .line span:nth-child(1){
    left: -16px;
  }
  .review .motion .line span:nth-child(2){
    right: -16px;
  }
  .review .motion .line span:nth-child(3){
    left: -16px;
  }
  .review .motion .line span:nth-child(4){
    right: -16px;
  }

  .review .review-list {
    position: static;
    padding: 0 30px;
    margin-top: 30px;
    transform: translate(0);
  }
  .review .review-list > li {
    float: none;
    width: 100%;
    height: auto;
    padding: 15px 0;
    animation: none;
  }
  .review .review-list > li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .review .review-list > li:before {
    display: none;
  }
  .review .review-list > li .img {
    position: absolute;
    top:50%;
    left: 0;
    width: 114px;
    transform: translateY(-50%);
  }
  .review .review-list > li .txt-cont {
    width: 100%;
    padding-left: 130px;
  }
  .review .review-list .txt-cont .tit {
    padding-bottom: 5px;
    margin: 0;
    border-bottom: 1px solid #e2c8b6;
    text-align: left;
    font-size: 18px;
  }
  .review .review-list .txt-cont .tit :after {
    display: none;
  }
  .review .review-list > li .more > span {
    display: none;
  }
  .review .review-list .txt-cont .sub {
    padding: 10px 0 0;
  }
  .review .review-list .txt-cont .sub li {
    text-align: left;
    font-size: 12px;
  }
  .review .review-list .txt-cont .sub li +li {
    margin-top: 3px;
  }


}