@charset "utf-8";

/* Font */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src:url(../font/NotoSansKR-Thin.eot);
    src: local('Noto Sans KR Thin'), local('Noto Sans CJK KR Thin'),
    url(../font/NotoSansKR-Thin.woff2) format('woff2'),
    url(../font/NotoSansKR-Thin.woff) format('woff'),
    url(../font/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src:url(../font/NotoSansKR-Light.eot);
    src: local('Noto Sans KR Light'), local('Noto Sans CJK KR Light'),
    url(../font/NotoSansKR-Light.woff2) format('woff2'),
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:url(../font/NotoSansKR-Regular.eot);
    src: local('Noto Sans KR Regular'), local('Noto Sans CJK KR Regular'),
    url(../font/NotoSansKR-Regular.woff2) format('woff2'),
    url(../font/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src:url(../font/NotoSansKR-Medium.eot);
    src: local('Noto Sans KR Medium'), local('Noto Sans CJK KR Medium'),
    url(../font/NotoSansKR-Medium.woff2) format('woff2'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src:url(../font/NotoSansKR-Bold.eot);
    src: local('Noto Sans KR Bold'), local('Noto Sans CJK KR Bold'),
    url(../font/NotoSansKR-Bold.woff2) format('woff2'),
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src:url(../font/NotoSansKR-Black.eot);
    src: local('Noto Sans KR Black'), local('Noto Sans CJK KR Black'),
    url(../font/NotoSansKR-Black.woff2) format('woff2'),
    url(../font/NotoSansKR-Black.woff) format('woff'),
    url(../font/NotoSansKR-Black.otf) format('opentype');
}


/* Base */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display:block;
}
audio, canvas, video {
  display:inline-block;
  *display:inline;
  *zoom:1;
}
audio:not([controls]) {
  display:none;
}
[hidden] {
  display:none;
}

mark {
  color:#5d5d5d;
  background:#ff0;
}
pre {
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
}
q, blockquote {
  quotes:none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content:'';
  content:none;
}
address, em {
  font-style:normal;
}
sub, sup {
  position:relative;
  font-size:75%;
  line-height:0;
  vertical-align:baseline;
}
svg:not(:root) {
  overflow:hidden;
}
legend {
  border:0;
  *margin-left:-7px;
}
ul, ol, li {
  list-style:none;
}
button, input {
  border:0;
  /* -webkit-appearance:none; */
  line-height:normal;
  *overflow:visible;
}
*::-webkit-input-placeholder {color:#ccc;font-size:16px;font-weight:400;line-height:100%;}
*::-moz-placeholder {color:#ccc;font-size:16px;font-weight:400;line-height:100%;}
*:-ms-input-placeholder {color:#ccc;font-size:16px;font-weight:400;line-height:100%;}
input::placeholder {color:#ccc;font-size:16px;font-weight:400;line-height:100%;}

*:disabled { cursor:default; }

button,
html input[type='button'],
input[type='reset'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='address'],
input[type='tel'],
input[type='submit'] {
  color:#000;
  -webkit-appearance:button;
}
input[type=text]::-ms-clear {
  display:none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  margin:0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type='password'] {
  font-family:Arial, Helvetica, sans-serif;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display:none;}
button {
  background:none;
  border:none;
  padding:0;
  letter-spacing:-1px;
}
img, embed, object, video {
  max-width:100%;
  height:auto;
}
label,
input.button, input.submit , input.image,
button {cursor:pointer;}
textarea, pre {overflow:auto;}
input[type='search']::-webkit-search-decoration {
  -webkit-appearance:none;
}
input[type='search']::-ms-clear {
  display:none;
}
/* label {
  cursor:default;
} */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding:0;
  border:0;
}
button, input, select, textarea {
  font-size:100%;
}
img, textarea, input {
  margin:0;
  vertical-align:top;
}
table {
  border-collapse:collapse;
  border-spacing:0;
  table-layout:fixed;
}
table th {
  font-weight:normal;
}
* {
  -webkit-text-size-adjust:none;
  box-sizing:border-box;
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, dd, figure, form, fieldset, pre {
  padding:0;
  margin:0;
  font-weight:400;
}
body{
  font-family:'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', '돋움', 'gulim', '굴림', 'Helvetica', 'sans-serif';
  font-size:14px;
  font-weight:400;
  line-height:20px;
  color:#000;
  word-break:keep-all;
}
button, input, select, textarea {
  font-family:'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', '돋움', 'gulim', '굴림', 'Helvetica', 'sans-serif';
}
pre,
code,
kbd,
samp {
  font-family:'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', '돋움', 'gulim', '굴림', 'Helvetica', 'sans-serif';
  font-size:1em;
}
strong {
  font-weight:700;
}
fieldset {
  border:0;
}
hr {
  display:none;
}
img {
  border:0;
  -ms-interpolation-mode:bicubic;
  pointer-events:none;
}
a {
  display:inline-block;
  color:#000;
  text-decoration:none;
  vertical-align:top;
}
a:hover,
a:hover span,
a:hover strong {
  text-decoration:none;
  outline:none;
}
textarea {
  width:100%;
  min-width:100%;
  max-width:100%;
  height:80px;
  padding:7px 8px;
  border:0;
  color:#000;
  vertical-align:top;
  word-break:break-all;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-appearance:none;
  appearance:none;
  resize:none;
}
caption {
  overflow:hidden;
  width:0;
  height:0;
  font-size:0;
  line-height:0;
  visibility:hidden;
}
button:active span,
button:focus span {
  position:relative;
  left:0;
  top:0;
}
select {
  margin:0;
  padding:0;
  border:0;
  background:none;
  -webkit-appearance:none;
  appearance:none;
}


/*** Layout ***/
.wrap { position:relative;width:100%;min-width:320px;height:100%;}

/* header */
.header { position:relative;width:100%;height:60px;background:#fff;border-bottom:2px solid #f05b17;text-align:center;z-index:600; }
.header .sub-tit { color:#000;font-size:16px;font-weight:500;line-height:60px; }
.header .back { position:absolute;top:0px;left:0;width:58px;height:58px;background:url('../images/common/ico_back.png') no-repeat center;background-size:10px 17px;font-size:0; }
.header .btn-menu { position:absolute;top:0;right:16px;width:35px;height:58px;background:url('../images/common/ico_menu.png') no-repeat center;background-size:19px 15px;font-size:0; }
.header .btn-menu:focus { outline:none; }
.header .home { position:absolute;top:0;right:53px;width:35px;height:58px; }
.header .home a { width:100%;height:100%;font-size:0;background:url('../images/common/ico_home.png') no-repeat center; background-size:22px 20px; }

/* footer */
.footer { width:100%;padding:25px 0 32px;background:#eff2f7;text-align:center; }
.footer .link { display:inline-block;font-size:0; }
.footer .link li { display:inline-block; }
.footer .link li a { display:inline-block;font-size:13px;font-weight:400;color:#5f6678;line-height:13px;vertical-align:middle;letter-spacing:-1px; }
.footer .link li strong a { font-weight:500; }
.footer .link li+li:before { display:inline-block;width:1px;height:11px;margin:0 10px;background:#dce0e7;vertical-align:middle;content:''; }
.footer .utill { margin-top:13px; }
.footer .utill address { color:#7b808e;font-size:12px;font-weight:500;line-height:13px;letter-spacing:-1px; }
.footer .utill .manage { margin-top:8px;color:#7a8090;font-size:12px;font-weight:400;line-height:13px;letter-spacing:-1px; }
.footer .utill .manage span:before { display:inline-block;width:1px;height:11px;margin:0 10px;background:#dce1e7;content:''; }
.footer .utill .copyright { margin-top:15px;color:#7b808e;font-size:12px;line-height:16px;letter-spacing:-1px; }
.footer .site_link { margin-top:18px;font-size:0; }
.footer .site_link li { display:inline-block;vertical-align:middle; }
.footer .site_link li+li { margin-left:20px; }
.footer .site_link li:nth-child(1) > a { height:34px; }
.footer .site_link li:nth-child(2) > a { height:25px; }
.footer .site_link li > a > img { height:100%; }

/* container */
.container { width:100%;min-height:607px; }
.container .content { width:100%; }


/*** Common ***/
/* title */
.hidden-tit { position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden; }
.cont-tit { display:block;margin-bottom:13px;color:#000;font-size:20px;font-weight:500;line-height:28px;letter-spacing:-0.5px; }
.cont-tit strong { color:#ed5b16;font-weight:700; }
.top-tit-box { padding:25px 24px; }

/* text style */
.txt01 { color:#666;font-size:12px;line-height:18px;letter-spacing:-0.6px;word-break:keep-all; }

/* menu */
.menu-wrap { position:absolute;top:60px;left:0;display:none;width:100%;background:#fff; }
.menu-wrap.on { display:block; }
.menu-wrap .top { position:relative;border-bottom:8px solid #f7f7f7; }
.menu-wrap .member { padding:20px 24px;text-align:left; }
.menu-wrap .member li { display:inline-block;vertical-align:middle; }
.menu-wrap .member .login { font-size:18px;font-weight:400;color:#111; }
.menu-wrap .member .login strong { font-weight:700; }
.menu-wrap .member .login strong:before { display:inline-block;width:6px;height:6px;margin-right:5px;background:#f55c18;border-radius:25px;vertical-align:9px;content:''; }
.menu-wrap .member .login:after { display:inline-block;width:6px;height:10px;margin-left:8px;vertical-align:1px;background:url('../images/common/ico_login_btn.png') no-repeat center;background-size:6px 10px;content:''; }
.menu-wrap .member .join { margin-left:10px; }
.menu-wrap .member .join a { display:inline-block;width:84px;height:32px;border:1px solid #dcdcdc;border-radius:25px;font-size:14px;font-weight:500;line-height:30px;text-align:center; }
.menu-wrap .member .name strong { display:inline-block;font-size:20px;font-weight:700;line-height:28px; }
.menu-wrap .member .name strong:before { display:inline-block;width:6px;height:6px;margin-right:5px;background:#f55c18;border-radius:25px;vertical-align:10px;content:''; }
.menu-wrap .member .my { margin-left:16px; }
.menu-wrap .member .my a { display:inline-block;width:64px;height:32px;padding-left:28px;border:1px solid #dcdcdc;border-radius:25px;font-size:14px;font-weight:500;background:url('../images/common/ico_mypage.png') no-repeat 13px center;background-size:10px 12px;line-height:30px; }
.menu-wrap .member .logout { margin-left:6px; }
.menu-wrap .member .logout a { padding:5px 0;color:#555;font-size:12px;font-weight:500; }
.menu-wrap .btn-close { position:absolute;top:50%;right:16px;width:40px;height:40px;transform:translateY(-50%);background:url('../images/common/ico_close.png') no-repeat center;background-size:24px;font-size:0; }
.menu-wrap .gnb { padding:24px 25px 25px;box-shadow:0 3px 3px rgba(0,0,0,0.2);overflow:hidden; }
.menu-wrap .gnb li { float:left;width:25%;}
.menu-wrap .gnb li:nth-child(5),.menu-wrap .gnb li:nth-child(6),.menu-wrap .gnb li:nth-child(7),.menu-wrap .gnb li:nth-child(8) { margin-top:40px; }
.menu-wrap .gnb li:nth-child(9),.menu-wrap .gnb li:nth-child(10),.menu-wrap .gnb li:nth-child(11),.menu-wrap .gnb li:nth-child(12) { margin-top:24px; }
.menu-wrap .gnb li a { display:inline-block;width:100%;padding-top:38px;font-size:12px;font-weight:500;color:#464646;line-height: 16px; }
.menu-wrap .gnb li:nth-child(1) a { background:url('../images/common/img_menu1.png') no-repeat center top;background-size: 27px auto; }
.menu-wrap .gnb li:nth-child(2) a { background:url('../images/common/img_menu2.png') no-repeat center 5px;background-size:32px; }
.menu-wrap .gnb li:nth-child(3) a { background:url('../images/common/img_menu3.png') no-repeat center 5px;background-size: 32px auto; }
.menu-wrap .gnb li:nth-child(4) a { background:url('../images/common/img_menu4.png') no-repeat center 1px;background-size: 28px auto; }
.menu-wrap .gnb li:nth-child(5) a { background:url('../images/common/img_menu5.png') no-repeat center top;background-size: 32px auto; }
.menu-wrap .gnb li:nth-child(6) a { background:url('../images/common/img_menu6.png') no-repeat center top;background-size: 26px auto; }
.menu-wrap .gnb li:nth-child(7) a { background:url('../images/common/img_menu7.png') no-repeat center top;background-size: 32px auto; }
.menu-wrap .gnb li:nth-child(8) a { background:url('../images/common/img_menu8.png') no-repeat center top;background-size: 32px auto; }
.menu-wrap .gnb li:nth-child(9) a { background:url('../images/common/img_menu9.png') no-repeat center top;background-size: 32px auto; }
.menu-wrap .gnb li:nth-child(10) a { background:url('../images/common/img_menu10.png') no-repeat center top;background-size: 15px auto; }
.menu-wrap .gnb li:nth-child(11) a { background:url('../images/common/img_menu11.png') no-repeat center top;background-size: 32px auto; }
.menu-wrap .gnb li:nth-child(12) a { background:url('../images/common/img_menu12.png') no-repeat center top;background-size: 32px auto; }

/* button */
.btn-wrap { margin-top:20px;font-size:0;text-align:center;line-height:0; }
.btn-wrap.left { text-align:left; }
.btn-wrap.right { text-align:right; }
.btn-wrap.fix { position:fixed;left:0;bottom:0;width:100%;margin-top:0;z-index:500; }
.btn-wrap.half button,.btn-wrap.half a { width:50%;height:60px; }
.btn-wrap.half button+button,.btn-wrap.half .btn+.btn { margin-left:0; }
.btn-wrap .btn+.btn { margin-left:10px;}
button, .btn { display:inline-block;font-size:14px;text-align:center;box-sizing:border-box; }
.btn-orange { width:100%;height:60px;background:#d65418;color:#fff;font-size:18px;font-weight:500;line-height:60px; }
.btn-orange:disabled { background:#d0d0d0 !important; }
.btn-orange-round { width:157px;height:52px;background:#d65418;color:#fff;font-size:16px;font-weight:500;line-height:50px;border-radius:5px; }
.btn-white { height:35px;width:100%;padding:0 10px;background:#fff;border:1px solid #777;color:#777;line-height:32px;border-radius:3px; }
.btn-white:disabled { border-color:#ccc;color:#ccc; }
.btn-sm-white { height:24px;padding:0 12px;background:#fff;border:1px solid #ddd;line-height:22px;color:#333;font-size:12px;font-weight:500; }
.btn-white-round { width:157px;height:52px;border:1px solid #d65418;color:#d65418;font-size:16px;font-weight:500;line-height:50px;border-radius:5px; }
.btn-light-gray { width:100%;height:40px;padding:0 10px;background:#edeef1;color:#333;font-size:13px;font-weight:500;line-height:32px;border-radius:5px; }
.btn-gray { width:100%;height:60px;background:#777;color:#fff;font-size:18px;font-weight:500;line-height:60px; }
.btn-gray-round { width:157px;height:52px;background:#777;color:#fff;font-size:16px;font-weight:500;line-height:50px;border-radius:5px; }
.btn-sm-gray { display:inline-block;min-width:40px;height:24px;color:#fff;font-size:12px;font-weight:500;background:#94929a;border-radius:3px;text-align:center;line-height:23px; }
.btn-top { display:block;width:100%;height:40px;border:1px solid #ddd;border-radius:5px;line-height:38px;font-size:12px;font-weight:500;color:#333; }
.btn-top > span { display:inline-block;padding-left:16px;background:url('../images/common/btn_top.png') no-repeat 0 center;background-size:12px 14px;}
.btn-search-show { padding:0 15px 0 0;}
.btn-like { width:100%;height:52px; }
.btn-like .like { display:inline-block;padding-left:24px;background:url('../images/ico_btnlike.png') no-repeat 0 4px;background-size:16px 35px;color:#555;font-size:15px;font-weight:500; }
.btn-like.on .like { background-position:0px -16px; }
.btn-like .count { display:inline-block;color:#000;font-size:15px;font-weight:700; }
.btn-qna { display:block;width:100%;height:44px;line-height:44px;text-align:center;background:#f35b18;border-radius:4px; }
.btn-qna span { padding-left:20px;color:#fff;font-size:13px;font-weight:500;letter-spacing:-0.5px;background:url('../images/common/btn_qna.png') no-repeat 0 center;background-size:11px 12px; }
.more-btn-wrap { display:none; }
.last-view span { display:inline-block;padding-left:22px;background:url('../images/common/btn_last.png') no-repeat 0 center;background-size:12px; }

/* input */
.inp-tit { display:block;margin-bottom:7px;color:#000;font-size:12px;font-weight:500;line-height:14px; }
.inp-txt { width:100%;height:36px;padding:0 4px;border-bottom:1px solid #777;color:#111;font-size:16px;letter-spacing:-0.6px; }
.inp-txt.type02 { height:32px;padding:0 12px;background:#f1f6f9;border:1px solid #dde8ec;font-size:14px;font-weight:400;color:#000; }
.inp-txt.type02::placeholder { color:#000;font-size:14px;font-weight:400; }
.inp-max-wrap .maxlen { margin-top:5px;text-align:right;color:#333;font-size:12px; }
.inp-max-wrap .maxlen .current { color:#fb5b1c; }
[data-autoresize] textarea { height:36px;padding:6px 3px 7px;border-bottom:1px solid #777 !important; box-sizing:border-box;font-size:16px;color:#111; }
[data-autoresize] textarea::placeholder { line-height:25px; }

.inp-max-wrap.txt { position:relative; }
.inp-max-wrap.txt input[type="text"] { padding-right:50px; }
.inp-max-wrap.txt .maxlen { position:absolute;right:15px;top:6px; }
.txtarea-box { border:1px solid #aaa;border-radius:4px;overflow:hidden; }
.txtarea-box textarea { height:138px;padding:12px 14px;color:#555;font-size:13px;letter-spacing:-0.6px; }
.txtarea-box .btm { height:36px;padding-right:15px;border-top:1px solid #ddd;line-height:34px; }
.txtarea-box .maxlen { margin-top:0; }
.txtarea-box .maxlen .current { font-weight:700; }
.txtarea-box .btm.side { padding:0 15px;overflow:hidden; }
.txtarea-box .btm.side .maxlen { float:left; }
.txtarea-box .btm.side .btn  { float:right;margin-top:6px; }
.inp-leaf { text-align:right;line-height:34px;overflow:hidden; }
.inp-leaf input { float:left;width:calc(100% - 22px);height:36px;border-bottom:1px solid #777;color:#000;font-size:20px;font-weight:700;text-align:right; }
.refer:before { display:inline-block;margin-right:3px;font-weight:700;color:#ed5b16;content:'*';}

/* radio */
.radio-list.row li { display:inline-block;}
.radio-list.row li+li { margin:0 0 0 23px; }
.radio-list li+li { margin-top:14px; }
.radio-set { display:inline-block; }
.radio-set input[type="radio"] { position:absolute;appearance:none; }
.radio-set label { display:inline-block;height:25px;padding-left:32px;background:url('../images/common/btn_radio.png') no-repeat;background-size:25px;color:#555;font-size:16px;line-height:22px; }
.radio-set input[type="radio"]:checked + label { background-position:0 -25px;}
.radio-set.type02 label { height:21px;padding-left:29px;background:url('../images/common/btn_radio_type02.png') no-repeat;background-size:21px;line-height:20px;font-size:14px;font-weight:500;color:#555; }
.radio-set.type02 input[type="radio"]:checked + label { background-position:0 -21px;}

.radio-check { width:100%;font-size:0;text-align:center; }
.radio-check li { display:inline-block;width:20%;height:44px;vertical-align:middle; }
.radio-check input[type="radio"] { display:inline-block;appearance:none; }
.radio-check label { position:relative;display:inline-block;width:100%;height:100%;border:1px solid #aaa;font-size:11px;color:#666;font-weight:500;line-height:14px;text-align:center; }
.radio-check label span { position:absolute;top:50%;left:50%;width:100%;transform:translate(-50%,-50%); }
.radio-check input[type="radio"]:checked+label { position:relative;border:1px solid #f55c18;color:#f55c18;z-index:1; }
.radio-check li:first-child label { border-radius:3px 0 0 3px; }
.radio-check li:last-child label { border-radius:0 3px 3px 0; }
.radio-check li+li { margin-left:-1px; }

.radio-check02 { width:100%;overflow:hidden; }
.radio-check02 li { width:calc(50% - 4px);height:36px;line-height:36px; }
.radio-check02 li:first-child { float:left; }
.radio-check02 li:last-child { float:right; }
.radio-check02 input[type="radio"] { position:absolute;appearance:none; }
.radio-check02 label { display:inline-block;width:100%;height:100%;background:#b5c2c8;text-align:center; }
.radio-check02 input[type="radio"]:checked+label { background:#729bad; }
.radio-check02 label span { padding-left:20px;color:#fff;background:url('../images/common/ico_exper_check.png') no-repeat 0 center;background-size:12px 9px; }

/* checkbox */
.check-list.row li { display:inline-block;}
.check-list.row li+li { margin:0 0 0 31px; }
.check-list li+li { margin-top:16px; }
.check-set { display:inline-block; }
.check-set input[type="checkbox"] { position:absolute;appearance:none; }
.check-set label { display:inline-block;height:23px;padding-left:32px;background:url('../images/common/btn_checkbox.png') no-repeat;background-size:23px;color:#555;font-size:16px;line-height:21px; }
.check-set input[type="checkbox"]:checked + label { background-position:0 -23px;}

/* agree */
.agree-check { display:block; }
.agree-check input[type="checkbox"] { position:absolute;appearance:none; }
.agree-check label { display:inline-block;height:20px;padding-left:32px;background:url('../images/common/ico_agree_check.png') no-repeat;background-size:20px;color:#666;font-size:12px;line-height:18px; }
.agree-check input[type="checkbox"]:checked + label { background-position:0 -20px;}

/* selectbox */
.select { width:100%;height:32px;padding:0 12px;border:1px solid #dde8ec;color:#000;font-size:14px;font-weight:400;background:#f1f6f9 url('../images/common/ico_arrow.png') no-repeat right center;background-size:20px 7px; }
.select-sm { border:1px solid #eee;height:24px;padding:0 28px 0 7px;background:url('../images/common/ico_select_sm.png') no-repeat right center;background-size:20px 5px;color:#000;font-size:12px; }

/* search box */
.search-box { position:relative; }
.search-box .inp-txt.type02 { width: calc(100% - 60px); }
.search-box button { position:absolute;top:0;right:0;width:60px;height:32px;background:#9dacb3;color:#fff;font-size:13px;font-weight:700; }

/* list style */
.dot-list li { position:relative;padding-left:7px;font-size:12px;line-height:22px;color:#555;letter-spacing:-0.8px;word-break:keep-all; }
.dot-list li:before { position:absolute;top:9px;left:0;width:2px;height:2px;background:#555;border-radius:25px;content:''; }
.dot-list li em { font-weight:500;color:#000; }
.quote li { position:relative;font-size: 12px;line-height: 19px;color: #555; }
.quote li:before { display:inline-block;width:5px;margin-right:2px;height:4px;background:url('../images/common/ico_quote1.png') no-repeat;background-size:5px 4px;vertical-align:6px;content:''; }
.quote li:after { display:inline-block;width:5px;height:4px;margin-left:2px;background:url('../images/common/ico_quote1.png') no-repeat;background-size:5px 4px;transform:rotate(180deg);vertical-align:6px;content:''; }

/* tab */
.tab-menu-wrap { padding:24px;border-bottom: 8px solid #f6f6f6; }
.tab-menu { height:50px;font-size:0;text-align:center;border:1px solid #777;border-radius:4px; }
.tab-menu li { position:relative;display:inline-block;width:33.333%;color:#777;font-size:14px;text-align:center;box-sizing:border-box; }
.tab-menu li.active:before { position:absolute;top:0;left:0;top:-1px;left:-1px;bottom:-1px;right:-1px;border:1px solid #ec5c16;border-width:1px 1px 2px 1px;content:'';z-index:1; }
.tab-menu li:first-child.active:before { border-radius:4px 0 0 0;}
.tab-menu li:last-child.active:before { border-radius:0 4px 0 0;}
.tab-menu li.active a { color:#ec5c16;font-weight:700; }
.tab-menu li+li { border-left:1px solid #777; }
.tab-menu li a { display:inline-block;width:100%;height:100%;line-height:48px;}

.tab-menu.type02 { height:56px;border:none;border-bottom:1px solid #ddd;}
.tab-menu.type02 li { width:50%;color:#bbb;font-size:16px;font-weight:700; }
.tab-menu.type02 li.active { border-bottom:2px solid #d65418; }
.tab-menu.type02 li.active:before { display:none;}
.tab-menu.type02 li:first-child.active:before,.tab-menu li:last-child.active:before { border-radius:0;}
.tab-menu.type02 li+li { border-left:none; }
.tab-menu.type02 li a { padding-top:12px;line-height:41px;color:#bbb; }
.tab-menu.type02 li.active a { color:#d65418; }
/* .tab-cont > div { display:none; }
.tab-cont > div.active { display:block; } */

/* swiper menu */
.menu-swiper {width:100%;height:auto;padding:0 24px;margin-top:14px;background:#fff;border-bottom:1px solid #ddd;overflow:hidden; }
.menu-swiper > ul > li { display:inline-block;width:auto !important; }
.menu-swiper > ul > li a { display:inline-block;height:49px;line-height:48px;padding:0 6px;color:#6e6e6e;font-size:16px;letter-spacing:-0.6px; }
.menu-swiper > ul > li.active a { border-bottom:2px solid #ee5b16;font-weight:700;color:#111; }
.menu-swiper-cont .sub-menu-wrap { height:49px;padding:0 0 0 40px;border-bottom:1px solid #ddd;background:#f7f7f7; }
.menu-swiper-cont .sub-menu-wrap .sub-menu { display:inline-block;margin-top:8px; }
.menu-swiper-cont .sub-menu-wrap .sub-menu li { display:inline-block;height:40px;padding:0 4px;line-height:40px; }
.menu-swiper-cont .sub-menu-wrap .sub-menu li.active { border-bottom:2px solid #ee5b16;font-weight:700; }
.menu-swiper-cont .sub-menu-wrap .sub-menu li.active a { color:#d65417; }
.menu-swiper-cont .sub-menu-wrap .sub-menu li+li { margin-left:16px; }
.menu-swiper-cont .sub-menu-wrap .sub-menu li a { color:#555;font-size:14px;font-weight:500;letter-spacing:-0.6px; }
.menu-swiper-cont .sub-menu-wrap .btn-search-show { margin-left:20px;background:url('../images/common/btn_search_arrow.png') no-repeat right -20px;background-size:8px auto;color:#555;font-size:14px;font-weight:500;vertical-align:1px; }
.menu-swiper-cont .sub-menu-wrap .btn-search-show.active { background-position:right 7px;}
.menu-swiper-cont .sub-menu-wrap .btn-toggle { margin-left:16px; }
.menu-swiper-cont .sub-menu-wrap .btn-toggle { height:25px;padding:0 10px;color:#fff;border-radius:25px;line-height:23px;font-size:12px;font-weight:500;vertical-align:1px; }
.menu-swiper-cont .sub-menu-wrap .btn-toggle.on { background:#d65417;color:#fff; }
.menu-swiper-cont .sub-menu-wrap .btn-toggle { background:#fff;border:1px solid #d65417;color:#d65417; }

.hidden-search-box { display:none;position:relative;padding:0 24px;margin:17px 0 25px; }
.hidden-search-box.active { display:block; }
.hidden-search-box .inp-txt { padding-right:70px; }
.hidden-search-box .btn-close { position:absolute;right:64px;width:20px;height:20px;display:inline-block;bottom:8px;background:url('../images/common/ico_close_sm.png') no-repeat;background-size:20px;text-indent:-9999px; }
.hidden-search-box .btn-search { position:absolute;right:29px;bottom:8px;width:20px;height:20px;background:url('../images/common/btn_search.png') no-repeat;background-size:20px;text-indent:-9999px; }

/* progress bar */
.txt01+.progress-wrap { margin-top:12px; }
.progress-wrap { padding:5px 15px;border:1px solid #e5e5e5;border-radius:25px;font-size:0; }
.progress-wrap .progress-cont .progress-bar { display:inline-block;width:calc(100% - 65px);vertical-align: middle; }
.progress-wrap .progress-cont .progress-txt { display:inline-block;width:65px;margin-top:0;font-size:11px;vertical-align: middle;letter-spacing:-1px; }
.progress-cont .progress-bar { width:100%;height:8px;background:#e9eef3;border-radius:25px; }
.progress-cont .progress-bar span { display:block;height:8px;background:#f15b17;border-radius:25px;font-size:0; }
.progress-cont .progress-txt { margin-top:12px;text-align:right; }
.progress-cont .progress-txt .current { color:#f35b18;font-weight:700; }
.progress-cont .progress-txt .per { color:#000;font-weight:700; }

/* popup */
.popup { position:fixed;top:0;left:0;display:none;width:100%;height:100%;background:#fff;z-index:1000; }
.popup.on { display:block;}
.popup .popup-header { position:relative;width:100%;height:60px;border-bottom:2px solid #f35b18;text-align:center; }
.popup .popup-header .popup-tit { color:#000;font-size:16px;line-height:58px;}
.popup .popup-header .btn-close { position:absolute;top:0;right:10px;width:58px;height:58px;background:url('../images/common/btn_close_pop.png') no-repeat center;background-size:17px;text-indent:-9999px; }
.popup .popup-cont { width:100%;height:calc(100% - 120px);padding-bottom:60px;overflow-y:auto; }
.popup .popup-footer { position:fixed;left:0;bottom:0;width:100%; }
.popup .popup-footer .btn-wrap { margin-top:0; }
.dim { position:fixed;top:0;left:0;display:none;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:500; }

/* picker */
.picker { position:fixed;top:0;left:0;display:none;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:600; }
.picker.on { display:block; }
.picker-cont {position:absolute;top:50%;left:50%;width:80%;height:auto;background:#fff;transform:translate(-50%,-50%); }
.picker-cont .picker-tit { display:block;height:50px;border-bottom:1px solid #000;text-align:center; }
.picker-cont .picker-list li { position:relative;border-bottom:1px solid #000; }
.picker-cont .picker-list li input { appearance:none; }
.picker-cont .picker-list li input+label {position:absolute;top:0;left:0;width:100%; }
.picker-cont .picker-list li input:checked+label { background:#000;color:#fff; }

/* load more */
.load-more .load-list { border-bottom:8px solid #f6f6f6; }
.load-more .load-list > li { display:none; }
.load-more > .btn-wrap { padding:0 24px 20px; }

/* accordion */
.accordion-wrap { padding-right:24px; }
.accordion-wrap > .btn-wrap { margin:0 0 8px 0;}
.accordion-cont { border-top:1px solid #000;border-bottom:1px solid #eee; }
.accordion-cont .accordion .acco-cont { padding: 0 0 30px 24px;background:#fff;border-bottom:1px solid #eee; }
.accordion-cont .accordion+.accordion { border-top:1px solid #eee; }
.accordion-cont .accordion:last-child .acco-cont { border-bottom:none; }
.accordion .acco-header { position:relative;width:100%;height:56px;padding:0 24px;line-height:56px;text-align:left; }
.accordion .acco-header .tit { display:block;color:#111;font-size:14px;font-weight:500;letter-spacing:-0.6px; }
.accordion .acco-header > span { position:absolute;top:50%;right:4px;width:12px;height:7px;transform:translateY(-50%);text-align:right;font-size:0;background:url('../images/common/ico_accor.png') no-repeat center;background-size:12px auto; }
.accordion .acco-header.active > span { transform:translateY(-50%) rotate(180deg); }
.accordion .acco-header.active + .acco-cont { display:block;border-bottom:none; }
.accordion .acco-cont { display:none;padding:23px 24px;background:#f1f1f1; }
.accordion .acco-cont .accor-cont-info .tit { display:block;margin-bottom:20px;color:#111;font-size:14px;font-weight:500;letter-spacing:-0.5px;line-height:1; }
.accordion .acco-cont .accor-cont-info .info li { color:#333;font-size:12px;font-weight:400;line-height:1;}
.accordion .acco-cont .accor-cont-info .info li+li { margin-top:12px; }
.accordion .acco-cont .accor-cont-info .info em { display:inline-block;width:80px;color:#000;font-size:12px;font-weight:500;line-height:1; }

/* accordion single*/
.accordion.single .acco-header { height:61px;border-bottom:1px solid #eee;color:#111;font-size:16px;font-weight:700;line-height:59px;letter-spacing:-0.6px; }
.accordion.single .acco-header > span { right:30px;width:15px;height:8px;background: url('../images/common/ico_accor_single.png') no-repeat center;background-size: 15px auto; }

/* button padding wrap */
.padding-wrap { padding:20px 24px; }
.padding-wrap .btn-wrap { margin-top:0; }
.padding-wrap .btn-wrap button + button { margin-top:12px; }

/* check txt box */
.check-txt { height:49px; }
.check-txt .txt-box { position:relative;height:40px;padding:0 10px;background:#f4f7f7;border-radius:25px;text-align:center;line-height:40px;}
.check-txt .txt-box:after { position: absolute;left:30px;bottom:-7px;width:20px;height:15px;background:url('../images/common/ico_check_txt.png') no-repeat;background-size:20px 15px;content:''; }
.check-txt .txt-box p { color:#555;font-size:12px;letter-spacing:-0.6px;; }
.check-txt .txt-box p span { margin-right:3px;color:#ef5b17; }