.bdata-intro { position:relative;background: linear-gradient(180deg, #f3f6ff, #fff 5%); }
.bdata-intro:before { position:absolute;top:0;left:50%;width:916px;height:404px;margin-left:-160px;;background:url(../images/img_bdata_intro_top.png) no-repeat;content:''; }
.bdata-intro .intro-top { padding:84px 0 65px; }
.bdata-intro .intro-top .inner { position:relative;width:1100px;margin:0 auto;z-index:1; }
.bdata-intro .intro-top .page-title { padding-top:0;margin-top:0;color:#000;font-size:45px;text-align:left; }
.bdata-intro .intro-top .page-title span { color:#008aff;font-weight:700; }
.bdata-intro .intro-top .tit-txt { margin-top:30px;font-size:20px;font-weight:400;line-height:28px;color:#434343; }
.use-step ul li { position:relative;width:275px;height:auto;padding-right:20px;border-left:none; }
.use-step ul li+li:before { position:absolute;top:0;left:0;width:1px;height:118px;background:#d9dfe5;content:''; }
.use-step ul li .cont { padding-left:56px;word-break: keep-all;letter-spacing:-1.1px; }
.use-step.survey-style .step01 { background:url(../images/ico_survey_step01.png) no-repeat 17px 67px; }
.use-step.survey-style .step02 { background:url(../images/ico_survey_step02.png) no-repeat 17px 67px; }
.use-step.survey-style .step03 { background:url(../images/ico_survey_step03.png) no-repeat 17px 67px; }
.use-step.survey-style .step04 { background:url(../images/ico_survey_step04.png) no-repeat 17px 67px; }
.step-info-txt { margin-top:12px;font-size:13px;line-height:20px;color:#e00;text-align:right; }
