@charset "UTF-8";

.scroller-anchor {height:0px;margin:0;padding:0;}
.btn-bottom-wrap {padding:20px 0;margin:0;position:fixed;bottom:0;left:270px;right:20px;height:80px;border-top:1px solid #ccc;background:rgba(0, 0, 0, 0.3);z-index:100;}
.FixedLayoutfunction {padding:0;height:120px;position:absolute;border-top:none;background:transparent;width:auto;left:0;right:10px;}
.FixedLayoutfunction .u-btn-white {border-color:#e1eaea;}
.FixedLayoutfunction .u-btn-white:hover {border-color:#1cc9e4;}
.datepickler {background:url(../images/ico_calendar.png) no-repeat 95% 50%;}


/* [개발] 아래 내용만 가져가 주세요. 위의 클래스는 기존의 custom.css에 있는 중복되는 내용입니다. */

.project-approval-bx p:before {content:'·';display:inline-block;margin-right:5px;line-height:24px;}
.board-view tbody th label {margin-bottom:0;}
.tab-btn2 {display:table;width:100%;}
.tab-btn2 ul {display:table-cell;text-align:center;width:100%;height:51px;padding:0;margin:0;list-style:none;}
.tab-btn2 ul:after {clear:both;display:block;content:''}
.tab-btn2 ul li {display:inline-block;width:13%;margin:0 0 0 10px;}
.tab-btn2 ul li:first-child {width:14%;margin-left:0;}
.tab-btn2 ul li a {position:relative;display:block;height:51px;line-height:47px;padding:0 0 0 13px;border:2px solid #e3e7e6;border-radius:7px;background:#fff;font-size:16px;color:#333;text-align:left;letter-spacing:-1px;}
.tab-btn2 ul li a span {position:absolute;right:11px;top:7px;display:inline-block;width:42px;height:33px;line-height:33px;border-radius:6px;background:#f5f8f7;text-align:center;font-size:18px;}
.tab-btn2 ul li.active a {background:#dceaeb;border-color:#dceaeb;font-weight:600;}
.tab-btn2 ul li.active a span {background:#eff6f6;font-weight:400;}

.sale-caculator {padding:15px 0 0;border-top:2px solid #6072a2;}
.sale-caculator .title {margin:0 0 14px 10px;font-size:20px;color:#333;}
.sale-caculator .title:before {content:'';display:inline-block;width:10px;height:15px;margin:0 10px 0 0;background:url(../images/ico_arrow_title.png) no-repeat 0 0;}
.sale-caculator .title .color-important {color:#fe9102;}
.sale-caculator table {width:100%;border-bottom:1px solid #cecece;}
.sale-caculator table thead th {height:30px;line-height:30px;padding:0;margin:0;border-left:none;border-color:#cecece;background:url(../images/bar_tbl_thead.png) no-repeat left 50% #fafbfc;color:#333;}
.sale-caculator table thead th:first-child {background-image:none;}
.sale-caculator table tbody td {position:relative;padding-top:14px;padding-bottom:14px;border-left:none;background:url(../images/bar_tbl_tbody.png) no-repeat left 50%;text-align:center;}
.sale-caculator table tbody td:first-child {background-image:none;}
.sale-caculator .multi {position:absolute;right:-8px;top:25px;display:block;width:11px;height:10px;background:url(../images/img_multiplication.png) no-repeat 0 0;font-size:0;text-indent:-999999px;}
.sale-caculator .brd-left-none {background:none;}
.sale-caculator input[type=text] {width:150px;height:33px;line-height:31px;padding:0 10px;border:1px solid #e1eaea;border-radius:3px;text-align:right;}

.prd-img-upload {width:100%;height:85px;margin:0;}
.prd-img-upload:after {clear:both;display:block;content:'';}
.prd-img-upload .img-file {position:relative;float:left;width:85px;height:85px;overflow:hidden;padding:0;margin:0 4px 0 0;border:1px dashed #d7d7d7;text-align:center;font-size:14px;color:#777;z-index:1;}
.prd-img-upload .img-file.main-img {border-color:#a1c6dd;color:#6497b7;}
.prd-img-upload .img-file .txt {display:block;padding:24px 0 0;}
.prd-img-upload .img-file .floating-txt {position:absolute;left:0;top:0;display:block;height:18px;line-height:19px;padding:0 5px;background:#3d3d3d;font-size:11px;color:#fff;letter-spacing:-1px;font-family:'Dotum',돋움;text-align:center;z-index:2;}
.prd-img-upload .img-file img {width:100%;height:100%;}
.prd-img-upload .img-file .del-img {position:absolute;right:5px;top:0;font-size:11px;color:#000;font-weight:bold;font-family:'Dotum',돋움;}
.prd-img-upload .img-file.complete {border:none;}
.prd-img-upload .fileContainer {overflow:hidden;position:relative;width:16px;height:16px;margin:8px 0 0;background:url(../images/btn_addImage.png) no-repeat 0 0;}
.prd-img-upload .img-file.main-img .fileContainer {background-image:url(../images/btn_addImage_blue.png);}
.prd-img-upload input[type=file] {position:absolute;right:0;top:0;display:block;min-height:100%;min-width:100%;font-size:999px;cursor:pointer;filter:alpha(opacity=0);opacity:0;text-align:right;}

.reject-bx {position:relative;padding:13px 50px 1px 78px;margin:6px 0 0;border-radius:3px;border:1px solid #fc9d9d;background:#fae9ea;}
.reject-bx .title {position:absolute;top:17px;left:29px;padding:25px 0 0;background:url(../images/ico_reject.png) no-repeat center 0;font-size:18px;color:#ff5252;}
.reject-bx .info {margin:0 0 5px;font-size:13px;color:#ff5252;}
.reject-bx .reject-input {width:100%;height:33px;line-height:31px;padding:0;margin:0;border-radius:3px;border:1px solid #fc9d9d;text-indent:10px;}

.custom-tableTy1.border-left-items th,
.custom-tableTy1.border-left-items td {border-left:1px solid #ebf1f1 !important;}