/*잠재고객 일반고객*/

.step-cont+.customer-info.separation {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.table-tit-cont .confirm-check.policy {
    display: table;
    width: 100%;
}

.table-tit-cont .confirm-check.policy .table-tit {
    display: block;
    width: 86px;
}

.policy-info {
    display: block;
    padding-left: 12px;
    margin-bottom: 21px;
}

.agree-box .agree-cont:first-child {
    margin-top: 0;
}
.agree-box + .policy-info {
	margin-top:30px;	
}

.agree-cont {
	padding-bottom:30px;
}

/*customer_list*/

.table-tit+.policy-info {
    margin-bottom: 21px;
}