/* bigdata.css */
#container.bigdata { padding:139px 0 0; }
.bigdata .inner { width:1125px;margin:0 auto; }
.bigdata .main { padding:127px 0 176px;}
.bigdata .main.type02 { padding:256px 0 260px; }
.bigdata .main .tit { margin-bottom:20px;color:#fff;font-size:64px;font-weight:700;line-height:1.2; }
.bigdata .main .tit strong { color:#008aff; }
.bigdata .main .tit-txt { color:#fefefe;font-size:16px;line-height:28px;letter-spacing:-0.25px; }
.bigdata .main .tit-txt + .btn { margin-top:80px; }
.bigdata .main .login { margin:70px 0 24px; }
.bigdata .main .login .user { color:#fff;font-size:24px;line-height:30px;letter-spacing:-1px; }
.bigdata .main .login .user strong { font-weight:700; }
.bigdata .main .login .login-txt { margin-top:10px;color:#fff;font-size:15px;font-weight:400;line-height:24px;letter-spacing:-0.25px;opacity:0.6; }
.bigdata .main .login .check-cont { margin-top:27px;}
.bigdata .main .login .check-cont .select { position:relative;font-size:0; }
.bigdata .main .login .check-cont .select select { width:430px;height:60px;padding:0 20px;color:#fff;font-size:18px;line-height:58px;letter-spacing:-0.5px;background:rgba(255,255,255,0.1) url('../images/bigdata2/ico_main_select.png') no-repeat 396px center;border-radius:3px;border:none;box-sizing:border-box; }
.bigdata .main .login .check-cont .select select optgroup,
.bigdata .main .login .check-cont .select select option { color:#000; }
.bigdata .main .login .check-cont .select .star { position:absolute;top:0;left:-13px;line-height:60px;}
.bigdata .main .login .check-cont .search { margin-top:10px;font-size:0; }
.bigdata .main .login .check-cont .search input[type="text"] { width:280px;height:60px;padding:0 20px;color:#fff;font-size:18px;line-height:58px;letter-spacing:-0.5px;background:rgba(255,255,255,0.1);border-radius:3px;border:none;box-sizing:border-box;cursor:default; }
.bigdata .main .login .check-cont .search .btn-search { width:140px;height:60px;margin-left:10px;background:rgba(0,0,0,0.6);border-radius:3px; }
.bigdata .main .login .check-cont .search .btn-search span { display:inline-block;height:27px;padding-right:32px;background:url('../images/bigdata2/ico_main_search.png') no-repeat right 3px;color:#fff;font-size:18px;font-weight:500;}
.bigdata .main .star { display:inline-block;margin-right:5px;font-size:16px;color:#fe553f; }
.bigdata .main .login .check-cont .txt01 { margin-top:8px;color:#fefefe;font-size:15px;line-height:24px;letter-spacing:-0.25px;}
.bigdata .main .login .check-cont .txt01 .star { vertical-align:-3px; }
.bigdata .main .btn-blue { display:block;width:430px;height:60px;background:#008aff;line-height:60px;border-radius:3px;color:#fff;font-size:18px;font-weight:700;text-align:center; }
.bigdata .main .btn { width:430px;height:60px;line-height:58px; }
.bigdata .main .btn.disabled { background:rgba(61,64,64,0.78);color:rgba(102,102,102,0.78);cursor:default; }
.bigdata .top-cont { width:1125px;min-width:1150px;height:115px;margin:0 auto; }
.bigdata .top-cont .page-title { float:left;padding-top:0;margin-top:28px;color:#000;font-size:30px;font-weight:700;letter-spacing:-0.5px;}
.bigdata .top-cont .right { float:right;margin-top:29px; }
.bigdata .top-cont .right > .btn { display:inline-block;margin-top:5px;vertical-align:top; }
.bigdata .top-cont .step { display:inline-block;margin-left:9px; }
.bigdata .top-cont .step li { position:relative;float:left;padding:37px 16px 0;color:#c4c6ca;font-size:14px;font-weight:700;letter-spacing:-1px; }
.bigdata .top-cont .step li.active { color:#008aff; }
.bigdata .top-cont .step li:before { position:absolute;top:15px;left:0;width:100%;height:3px;background:#e6e6e6;content:''; }
.bigdata .top-cont .step li:first-child:before { width:50%;left:auto;right:0; }
.bigdata .top-cont .step li:last-child:before { width:50%; }
.bigdata .top-cont .step li:after { position:absolute;top:9px;left:50%;width:19px;height:15px;background:url('../images/bigdata2/ico_step.png') no-repeat center;transform:translateX(-50%);content:''; }
.bigdata .top-cont .step li:last-child:after { width:17px;background-position:center -200px; }
.bigdata .top-cont .step li.active:after { top:0;width:33px;height:33px;background-position:0 0; }
.bigdata .top-cont .btn-wrap { float:right;margin-top:29px;font-size:0; }
.bigdata .top-cont .btn-wrap button+button { margin-left:10px; }
.bigdata .top-cont .btn-wrap .btn+button { margin-left:10px; }
.bigdata .cont-tit-box { min-height:220px;padding-bottom:40px;text-align:center; }
.bigdata .cont-tit-box .inner { position:relative; }
.bigdata .cont-tit-box .sub-title { padding-top:58px;color:#fff;font-size:38px;font-weight:700;letter-spacing:-0.5px;line-height:1; }
.bigdata .cont-tit-box .tit-txt { margin-top:15px;color:#fff;font-size:16px;line-height:26px; }
.bigdata .cont-tit-box strong.tit-txt { display:block;margin-top:15px;color:#fff;font-size:38px;font-weight:700;line-height:1;}
.bigdata .cont-tit-box button { margin-top:15px;width:163px;height:39px;border:1px solid #fff;border-radius:3px;color:#fff;background:transparent;font-size:15px;font-weight:500;letter-spacing:-1px; }

/* 비회원 */
.no-login{margin-top:20px;}
.no-login > *{display:inline-block;vertical-align:top;}
.no-login .txt01{margin-right:20px;}
.no-login .txt01 em{display:block; font-weight:500;}
.no-login input[type="checkbox"]{-webkit-appearance:none; appearance:none; position:absolute; width:1px; height:1px; clip:rect(0px, 0px, 0px, 0px)}
.no-login input[type="checkbox"] + label{display:inline-block; width:72px; line-height:32px; margin-top:10px; text-align:center; font-size:15px; font-weight:500; color:#fff; border-radius:5px; box-sizing:border-box; background:rgba(255,255,255,0.4);}
.no-login input[type="checkbox"] + label:before{content:''; display:inline-block; width:15px; height:10px; background:url('../images/bigdata2/ck_nologin.png') no-repeat; margin-right:8px;}
.no-login input[type="checkbox"]:checked + label{background:#206757;}



/* button */
.btn-wrap { font-size:0;}
.btn-wrap button+button,
.btn-wrap [class^='btn']+[class^='btn'] { margin-left:9px; }
.btn-green { display:inline-block;height:50px;padding:0 45px;background:#07af8b;color:#fff;font-size:16px;font-weight:700;border-radius:3px;line-height:48px;text-align:center;letter-spacing:-1px;}
.btn-green:hover { color:#fff;}
.btn-green:disabled { background:#c7d3da;color:#8f9aa0;cursor:default; }
.btn-pop-gray { display:inline-block;width:140px;height:50px;background:#e3e7eb;color:#999;font-size:16px;font-weight:700;border-radius:3px;line-height:47px;text-align:center;letter-spacing:-0.5px; }
.btn-pop-green { display:inline-block;width:140px;height:50px;background:#2e6371;color:#fff;font-size:16px;font-weight:700;border-radius:3px;line-height:47px;text-align:center;letter-spacing:-0.5px; }
.btn-pop-green:focus,.btn-pop-green:hover { color:#fff !important; }
.btn-pop-green.disabled { background:#c7d3da;color:#8f9aa0;cursor:default; }
.btn-pop-green.disabled:focus,
.btn-pop-green.disabled:hover,
.btn-pop-green.disabled:active { color:#999 !important; }
.btn-sm-green { display:inline-block;min-width:120px;height:46px;line-height:43px;text-align:center;border-radius:3px;background:#2e6371;color:#fff;font-size:17px;font-weight:700;letter-spacing:-1px; }
.btn-sm-black {display:inline-block;width:192px;height:46px;line-height:43px;text-align:center;border-radius:3px;background:#333;color:#fff;font-size:17px;font-weight:700;letter-spacing:-1px; }
a.btn-sm-black:hover,a.btn-sm-black:active,a.btn-sm-black:focus { color:#fff; }
.btn-print { display:inline-block;min-width:120px;height:46px;padding-left:26px;line-height:43px;text-align:center;border-radius:3px;background:url('../images/bigdata2/ico_print.png') no-repeat 32px 14px;border:1px solid #dcdcdc;color:#000;font-size:17px;font-weight:700;letter-spacing:-1px; }

/* pop */
.popup { display:none;position:fixed;top:50%;left:50%;width:640px;background:#fff;transform:translate(-50%,-50%); z-index:1000; }
.popup.active { display:block;}
.popup .popup-header { position:relative;width:100%;height:48px;background:#2e6371; }
.popup .popup-header .popup-tit { padding-left:20px;color:#fff;font-size:16px;font-weight:700;line-height:46px;letter-spacing:-0.7px; }
.popup .popup-header .btn-close { position:absolute;top:0;right:0;width:48px;height:48px;background:url('../images/bigdata2/btn_close.png') no-repeat center;text-indent:-9999px; }
.popup .popup-cont { width:100%; }
.popup .popup-footer { width:100%;padding:32px 0;background:#fbfbfb; }
.popup .popup-footer .btn-wrap { margin-top:0;text-align:center; }
.dim { display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.4);z-index:1000; }
.dim.active { display:block; }

/* chart */
.chart-wrap .chart-cont { display:inline-block;width:419px;height:413px;vertical-align:top; }
.chart-wrap .chart-cont+.chart-cont { margin:15px 0 0 12px; }
.chart-wrap .chart-cont:nth-child(2n+1) { margin-left:0; }
.chart-wrap .chart-cont:nth-child(1),
.chart-wrap .chart-cont:nth-child(2) { margin-top:0; }
.chart-cont { width:853px;padding:38px 40px;border:1px solid #eaebed;border-radius:8px;box-shadow:7px 0 14px #e3e5ec;background:#fff; }
.chart-cont+.chart-wrap { margin-top:15px; } 
.chart-cont+.local-info,
.local-info+.chart-cont,
.chart-cont+.chart-cont { margin-top:24px; } 
.chart-cont .tit { display:block;margin-bottom:8px;color:#666;font-size:16px;font-weight:700;line-height:1;letter-spacing:-1px; }
.chart-cont .chart-box { height:290px;margin:0 auto; }

.legend-right { position: relative; }
.legend-right .chart-legend { position: absolute;right:100px;bottom:250px; }
.legend-right .chart-legend li { display:block;text-align:left; }
.legend-right .chart-legend li+li { margin-left:0; }

.chart-cont .unit{text-align:right; padding-right:17px; font-size:12px;}
.chart-cont .unit-m{text-align:right; padding-right:17px; margin-top:-21px;font-size:12px;}

.chart-cont .btm-info-txt { width:100%;padding:15px 0 14px;margin:30px 0 0;background:#ebf0f6;text-align:center; }
.chart-cont .btm-info-txt .txt01 { padding:0 10px;color:#000;font-size:14px;font-weight:500;letter-spacing:-0.75px; }

.chart-legend  { padding:15px 0 0 0;text-align:center; }
.chart-legend ul { height:20px; }
.chart-legend li { display:inline-block;color:#666;font-size:12px; }
.chart-legend li+li { margin-left:18px; }
.chart-legend li span { display:inline-block;width:10px;height:10px;margin-right:5px;border-radius:25px; }
.data2 .progress > div { width:100%;height:50px;background:yellow; }
.data2 .progress > div > span { display:inline-block;height:100%;background:orange; }




/* main */
.bigdata .main { padding-top:260px; }
.bigdata .main .btn-big-purple { display:block;width:430px;height:60px;background:#5f0080;line-height:60px;border-radius:3px;color:#fff;font-size:18px;font-weight:700;text-align:center; }
.bigdata .main.data2 {width:100%;min-width:1150px;background:url('../images/bigdata2/img_main_bigdata2.jpg') no-repeat;background-size:cover; }

/* top cont */
.bigdata .top-cont .step li.active { color:#2e6371; }

/* data2 content */
.data2  { min-width:1150px; }
.data2 .content { position:relative; }
.data2 .cont-tit-box { background:url('../images/bigdata2/img_bigdata2.png') no-repeat;background-size:cover; }

.parent-tab .inner { padding:40px 0 38px; }
.parent-tab .tab-menu { display:inline-block;font-size:0; }
.parent-tab .tab-menu > li { display:inline-block;width:103px;height:50px;border:1px solid #e9edf0;border-radius:3px;box-shadow:3px 0 3px 0px #ebecee;text-align:center;cursor:pointer;color:#666;font-size:17px;font-weight:700;line-height:48px;letter-spacing:-1px; }
.parent-tab .tab-menu > li:hover,
.parent-tab .tab-menu > li.active { background:#333;border-color:#333;color:#fff; }
.parent-tab .tab-menu > li:hover,
.parent-tab .tab-menu > li.active { color:#fff; }
.parent-tab .tab-menu > li.checked { background:#eeeff1;color:#b2b2b4;border-color:#e8e9eb; }
.parent-tab .tab-menu > li+li { margin-left:10px; }
.parent-tab .btn-wrap { float:right; }
.parent-tab .btn-wrap { position:relative; }
.parent-tab .btn-wrap button:disabled { background:#e3e7eb;color:#999;cursor:default; }

.cont-wrap { position:relative;height:805px;border-top:2px solid #2c606e;background:#f4f5f9;overflow:hidden; }
.cont-wrap.auto { height:auto;overflow:visible; }
.cont-wrap .default-cont { width:853px;height:805px;padding-top:39px;margin:0 auto;text-align:center; }
.cont-wrap .default-cont .txt { width:100%;height:56px;line-height:54px;background:#eaedf2;border-radius:10px;color:#000;font-size:22px;font-weight:700;letter-spacing:-1px; }
.cont-wrap .default-cont.move { margin-left:272px; }
.city-cont { display:none;width:100%;min-height:805px; }
.city-cont:before { position:absolute;top:0;left:0;bottom:0;width:50%;margin-left:-323px;background:#fff;content:'';}

.city-cont .left-menu .current { height:193px;padding:56px 0 0; }
.city-cont .left-menu .current .txt { height:50px;padding-left:64px;background:url('../images/bigdata2/ico_curr_city.png') no-repeat 0 center;color:#000;font-size:16px;font-weight:500;letter-spacing:-1.1px;line-height:22px; }
.city-cont .left-menu .current .txt > span { color:#666; }
.city-cont .left-menu .current .txt > strong { color:#1a3840;font-size:18px;font-weight:700; }
.city-cont .left-menu .current .btn-map { display:none;width:80px;height:28px;padding-left:10px;margin:15px 0 0 120px;border:1px solid #ddd;border-radius:3px; line-height:24px;background:url('../images/bigdata2/ico_map_arrow.png') no-repeat 64px center;text-align:left;color:#000;font-size:13px;font-weight:500;letter-spacing:-1px; }
.city-cont .left-menu .menu-tit-wrap { position:relative; }
.city-cont .left-menu .menu-tit { display:block;padding-left:7px;margin-bottom:22px;color:#133741;font-size:14px;font-weight:700;letter-spacing:-1px; }
.city-cont .left-menu .menu-tit-wrap .info-txt { top:-64px;left:95px; }
.city-cont .left-menu .menu-tit-wrap .info-txt:before { top:auto;bottom:-11px;left:22px;transform:rotate(-90deg); }
.city-cont .left-menu { position:absolute;left:50%;top:0;bottom:0;width:240px;margin-left:-563px;box-shadow:4px 0 4px #dcdfe6; }
.city-cont .left-menu .btn-close { position:absolute;top:0;right:0;width:53px;height:53px;background:url('../images/bigdata2/ico_info_box_close.png') no-repeat center;text-indent:-9999px; }
.city-cont .left-menu .tab-menu { width:200px; }
.city-cont .left-menu .tab-menu > li a { position:relative;display:inline-block;width:100%;height:47px;padding-left:64px;color:#666;font-size:15px;font-weight:700;letter-spacing:-1px;line-height:45px; }
.city-cont .left-menu .tab-menu >li:nth-child(1) a { background:url('../images/bigdata2/ico_stab01.png') no-repeat 22px 13px;}
.city-cont .left-menu .tab-menu >li:nth-child(2) a { background:url('../images/bigdata2/ico_stab02.png') no-repeat 22px 13px;}
.city-cont .left-menu .tab-menu >li:nth-child(3) a { background:url('../images/bigdata2/ico_stab03.png') no-repeat 22px 13px;}
.city-cont .left-menu .tab-menu >li:nth-child(4) a { background:url('../images/bigdata2/ico_stab04.png') no-repeat 22px 13px;}
.city-cont .left-menu .tab-menu >li:nth-child(5) a { background:url('../images/bigdata2/ico_stab05.png') no-repeat 22px 13px;}
.city-cont .left-menu .tab-menu >li+li { margin-top:17px; }
.city-cont .left-menu .tab-menu >li.active a,
.city-cont .left-menu .tab-menu >li a:hover { border-radius:6px;color:#000; }
.city-cont .left-menu .tab-menu >li.active a:after,
.city-cont .left-menu .tab-menu >li a:hover:after { position:absolute;top:18px;right:14px;width:7px;height:11px;background:url('../images/bigdata2/ico_stab_arrow.png') no-repeat;content:''; }

.city-cont .left-menu .tab-menu >li:nth-child(1).active a,
.city-cont .left-menu .tab-menu >li:nth-child(1) a:hover { background:#eaedf2 url('../images/bigdata2/ico_stab01.png') no-repeat 16px -72px; }
.city-cont .left-menu .tab-menu >li:nth-child(2).active a,
.city-cont .left-menu .tab-menu >li:nth-child(2) a:hover { background:#eaedf2 url('../images/bigdata2/ico_stab02.png') no-repeat 16px -72px;}
.city-cont .left-menu .tab-menu >li:nth-child(3).active a,
.city-cont .left-menu .tab-menu >li:nth-child(3) a:hover{ background:#eaedf2 url('../images/bigdata2/ico_stab03.png') no-repeat 16px -72px;}
.city-cont .left-menu .tab-menu >li:nth-child(4).active a,
.city-cont .left-menu .tab-menu >li:nth-child(4) a:hover { background:#eaedf2 url('../images/bigdata2/ico_stab04.png') no-repeat 16px -72px;}
.city-cont .left-menu .tab-menu >li:nth-child(5).active a,
.city-cont .left-menu .tab-menu >li:nth-child(5) a:hover { background:#eaedf2 url('../images/bigdata2/ico_stab05.png') no-repeat 16px -72px;}

.city-cont .left-menu .btn-wrap { position:relative;margin-top:63px;padding-left:8px; }
.city-cont .left-menu .info-txt { position:absolute;top:0;left:216px;width:250px;padding:20px 30px;color:#fff;background:#313132;font-size:12px;font-weight:400;letter-spacing:-1px;border-radius:3px;z-index:100;line-height:1.3; }
.city-cont .left-menu .info-txt:before { position:absolute;top:15px;left:-8px;width:9px;height:17px;background:url('../images/bigdata2/bg_info_tool.png') no-repeat;content:''; }
.city-cont .left-menu button { width:184px; }

.city-cont .sub-tab-wrap { padding-left:240px;background:#f4f5f9;border-radius:10px 0 0 10px; }
.city-cont .sub-tab-wrap .tab-cont > li { display:none;padding:39px 0 39px 32px; } 
.city-cont .sub-tab-wrap .tab-cont > li.active { display:block; } 
.city-cont .sub-tab-wrap .tab-cont .cont-tit { width:100%;height:56px;margin-bottom:24px;line-height:54px;background:#eaedf2;border-radius:10px;color:#000;font-size:22px;font-weight:700;letter-spacing:-1px;text-align:center; }

/*  */.local-info  { width:853px;padding:38px 40px;border:1px solid #eaebed;border-radius:8px;box-shadow:7px 0 14px #e3e5ec;background:#fff; }
.local-info .tit { display:block;margin-bottom:25px;color:#666;font-size:16px;font-weight:700;line-height:1;letter-spacing:-1px; }
.local-info .txt { margin-top:25px;text-align:center;color:#000;font-size:18px;font-weight:400;letter-spacing:-1px;    vertical-align:middle; }
.local-info .txt > span { display:inline-block;height:37px;padding-left:40px;margin-left:7px;font-weight:500;line-height:36px; }
.local-info .txt > span.subway { background:url('../images/bigdata2/ico_subway.png') no-repeat;}
.local-info .txt > span.busstop { background:url('../images/bigdata2/ico_busstop.png') no-repeat;}
.local-info .txt > span.univers { background:url('../images/bigdata2/ico_univers.png') no-repeat;}
.local-info .txt > span.lab { background:url('../images/bigdata2/ico_lab.png') no-repeat;}

/*  */
.local-info .btm-info-txt { width:100%;padding:15px 0 14px;margin:30px 0 0;background:#ebf0f6;text-align:center; }
.local-info .btm-info-txt .txt01 { padding:0 10px;color:#000;font-size:14px;font-weight:500;letter-spacing:-0.75px; }
/*  */

.example-pop .top-wrap { padding:36px 55px 125px;margin-top:5px; }
.example-pop .top-wrap .tit { display:block;margin-bottom:5px;color:#16b290;font-size:18px;font-weight:700;letter-spacing:-1px;line-height:1; }
.example-pop .top-wrap .txt { color:#000;font-size:18px;font-weight:500;letter-spacing:-1.1px;line-height:28px; }
.example-pop .list { display:flex;flex-wrap:nowrap;justify-content:space-between;height:230px;padding:0 80px 65px;background:#edf2f5; }
.example-pop .list > li { width:186px;margin-top:-81px;text-align:center; }
.example-pop .list > li > em { display:block;margin-bottom:10px;color:#000;font-size:18px;font-weight:700;letter-spacing:-1.5px; }
.example-pop .list > li { position:relative;padding-top:174px;color:#333;font-size:14px;font-weight:500;letter-spacing:-1px; }
.example-pop .list > li:after { position:absolute;top:0;left:14px;width:180px;height:180px;content:''; }
.example-pop .list > li:nth-child(1):after { background:url('../images/bigdata2/ico_ex_li01.png') no-repeat;}
.example-pop .list > li:nth-child(2):after { background:url('../images/bigdata2/ico_ex_li02.png') no-repeat;}
.example-pop .list > li:nth-child(3):after { background:url('../images/bigdata2/ico_ex_li03.png') no-repeat;}
.example-pop .list > li:nth-child(4):after { background:url('../images/bigdata2/ico_ex_li04.png') no-repeat;}
.example-pop .list > li:nth-child(5):after { background:url('../images/bigdata2/ico_ex_li05.png') no-repeat;}

.startup-plan { height:444px;overflow:hidden; }
.startup-plan > .cont-txt { padding:36px 0 32px;text-align:center;font-size:16px;font-weight:500;letter-spacing:-1px;color:#000; }
.startup-plan > .cont-txt > strong { position:relative;display:inline-block;margin-left:5px;font-size:20px;font-weight:700;color:#254e59; }
.startup-plan > .cont-txt > strong:after { position:absolute;left:0;bottom:-1px;width:100%;height:8px;background:#cdefe8;content:'';z-index:-1; }
.startup-plan .list-wrap { overflow:hidden; }
.startup-plan .list-wrap .list { float:left;width:208px;padding:23px 24px 24px;border-top:1px solid #efefef;box-shadow:inset 0 1px 3px 0 #efefef; }
.startup-plan .list-wrap .list > li { width:160px;height:38px;color:#000;font-size:14px;font-weight:500;letter-spacing:-1px;line-height:36px;border:1px solid #d7d7d7;border-radius:3px;text-align:center;cursor:pointer; }
.startup-plan .list-wrap .list > li.active { border-color:#23758b;color:#2e6371;font-weight:700;line-height:35px; }
.startup-plan .list-wrap .list > li+li { margin-top:4px; }
.startup-plan .list-wrap .list-cont { float:left;width:432px;border-top:1px solid #efefef;border-left:1px solid #edeff1; }
.startup-plan .list-wrap .list-cont .default-img { height:355px;padding:28px 27px 29px;box-shadow:inset 2px 1px 5px 0 #efefef; }
.startup-plan .list-wrap .list-cont > ul > li { display:none; }
.startup-plan .list-wrap .list-cont > ul > li.active { display:block; }
.startup-plan .list-wrap .list-cont .top-tit { display:block;height:40px;text-align:center;background:#edeff1;color:#254e59;font-size:14px;font-weight:700;letter-spacing:-1px;line-height:39px;border-bottom:1px solid #e9e9e9;box-shadow:inset 2px 2px 5px 0 #dbdddf; }
/*  */.startup-plan .list-wrap .list-cont .cont { height:355px;padding:20px 24px 25px;box-shadow:inset 2px 0 5px 0 #efefef; }
.startup-plan .list-wrap .list-cont .cont .tit { display:block;margin-bottom:20px;color:#010101;font-size:15px;font-weight:500;letter-spacing:-1px;text-align:center; }
.startup-plan .dot-list { padding:20px 26px;background:#f4f6f7; }
.startup-plan .dot-list > li { color:#000;font-size:13px;font-weight:400;letter-spacing:-1.2px;line-height:18px;word-break:keep-all; }
.startup-plan .dot-list > li:before { display:inline-block;margin:0 9px 0 -13px;width:4px;height:4px;background:#2e6371;border-radius:50%;content:'';vertical-align:middle;text-indent:-13px; }
.startup-plan .dot-list > li+li { margin-top:10px;}

.map-wrap { position:relative;height:402px;padding-top:40px;margin-top:84px; }
.map-wrap.level1 { background:url('../images/bigdata2/img_map1.png') no-repeat center 0; }
.map-wrap.level2 { background:url('../images/bigdata2/img_map2.png') no-repeat center 0; }
.map-wrap.level3 { background:url('../images/bigdata2/img_map3.png') no-repeat center 0; }
.map-wrap .imgbox-wrap { position:absolute;top:0;left:0;right:0;bottom:0;z-index:200;opacity:0; }
.map-wrap .area-cont { position:relative; }
.map-wrap .area-cont > li { position:absolute; }
.map-wrap .area-cont > li .name { position:absolute;z-index:500;cursor:pointer; }
.map-wrap .area-cont > li .name:before { position:absolute;width:114px;height:16px;background:url('../images/bigdata2/ico_area_name.png') no-repeat;content:'';transform-origin:bottom left; }
.map-wrap .area-cont > li .name strong { position:relative;display:inline-block;min-width:80px;height:32px;padding:0 15px;background:#fff;line-height:32px;text-align:center;color:#2e6371;font-size:14px;font-weight:700;letter-spacing:-1px;z-index:1;box-sizing:border-box; }
.map-wrap .area-cont > li.on .name strong:before,
.map-wrap .area-cont > li.active .name strong:before { position:absolute;top:0;left:0;width:100%;height:2px;background:#23c9a5;content:''; }
.map-wrap .area-cont > li.active { z-index:100; }
.map-wrap .area-cont > li.active .name:before { display:none; }

.map-wrap .area-cont > li[data-area="1"] { top:-34px;left:173px;width:108px;height:216px; }
.map-wrap .area-cont > li[data-area="1"].on { background:url('../images/bigdata2/img_area01_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="1"].checked { background:url('../images/bigdata2/img_area01_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="1"].active { top:-35px;left:173px;width:121px;height:225px;background:url('../images/bigdata2/img_area01_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="1"] .name { top:123px;left:-89px; }
.map-wrap .area-cont > li[data-area="1"] .name:before { top:-7px;left:135px;transform:rotate(-180deg); }
.map-wrap .area-cont > li[data-area="1"].active .name { top:125px; }

.map-wrap .area-cont > li[data-area="2"] { top:-40px;left:216px;width:114px;height:134px; }
.map-wrap .area-cont > li[data-area="2"].on { background:url('../images/bigdata2/img_area02_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="2"].checked { background:url('../images/bigdata2/img_area02_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="2"].active { top:-43px;left:212px;width:125px;height:143px;background:url('../images/bigdata2/img_area02_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="2"] .name { top:-36px;left:0; }
.map-wrap .area-cont > li[data-area="2"] .name:before { top:109px;left:70px;transform:rotate(259deg); }
.map-wrap .area-cont > li[data-area="2"].active .name { top:-33px;left:1px; }

.map-wrap .area-cont > li[data-area="3"] { top:-33px;left:292px;width:156px;height:152px; }
.map-wrap .area-cont > li[data-area="3"].on { background:url('../images/bigdata2/img_area03_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="3"].checked { background:url('../images/bigdata2/img_area03_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="3"].active { top:-36px;left:291px;width:170px;height:170px;background:url('../images/bigdata2/img_area03_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="3"] .name { top:-39px;left:67px; }
.map-wrap .area-cont > li[data-area="3"] .name:before { top:107px;left:29px;transform:rotate(276deg); }
.map-wrap .area-cont > li[data-area="3"].active .name { top:-36px;left:68px; }

.map-wrap .area-cont > li[data-area="4"] { top:-37px;left:418px;width:186px;height:165px; }
.map-wrap .area-cont > li[data-area="4"].on { background:url('../images/bigdata2/img_area04_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="4"].checked { background:url('../images/bigdata2/img_area04_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="4"].active { top:-43px;left:416px;width:203px;height:185px;background:url('../images/bigdata2/img_area04_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="4"] .name { top:-38px;left:64px; }
.map-wrap .area-cont > li[data-area="4"] .name:before { top:112px;left:30px;transform:rotate(282deg); }
.map-wrap .area-cont > li[data-area="4"].active .name { top:-32px;left:66px; }

.map-wrap .area-cont > li[data-area="5"] { top:77px;left:237px;width:148px;height:103px; }
.map-wrap .area-cont > li[data-area="5"].on { background:url('../images/bigdata2/img_area05_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="5"].checked { background:url('../images/bigdata2/img_area05_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="5"].active { top:71px;left:235px;width:163px;height:114px;background:url('../images/bigdata2/img_area05_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="5"] .name { top:109px;left:-59px; }
.map-wrap .area-cont > li[data-area="5"] .name:before { top:-78px;left:112px;transform:rotate(144deg); }
.map-wrap .area-cont > li[data-area="5"].active .name { top:115px;left:-57px; }

.map-wrap .area-cont > li[data-area="6"] { top:170px;left:298px;width:112px;height:136px; }
.map-wrap .area-cont > li[data-area="6"].on { background:url('../images/bigdata2/img_area06_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="6"].checked { background:url('../images/bigdata2/img_area06_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="6"].active { top:165px;left:300px;width:125px;height:152px;background:url('../images/bigdata2/img_area06_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="6"] .name { top:159px;left:-25px; }
.map-wrap .area-cont > li[data-area="6"] .name:before { top:-126px;left:76px;transform:rotate(109deg); }
.map-wrap .area-cont > li[data-area="6"].active .name { top:164px;left:-27px; }

.map-wrap .area-cont > li[data-area="7"] { top:100px;left:312px;width:191px;height:178px; }
.map-wrap .area-cont > li[data-area="7"].on { background:url('../images/bigdata2/img_area07_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="7"].checked { left:312px;background:url('../images/bigdata2/img_area07_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="7"].active { top:95px;left:309px;width:205px;height:194px;background:url('../images/bigdata2/img_area07_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="7"] .name { top:205px;left:242px; }
.map-wrap .area-cont > li[data-area="7"] .name:before { top:-119px;left:-136px;width:211px;background:url('../images/bigdata2/ico_area_name_2.png') no-repeat;transform:rotate(33deg); }
.map-wrap .area-cont > li[data-area="7"].active .name { top:209px;left:244px; }

.map-wrap .area-cont > li[data-area="8"] { top:103px;left:461px;width:213px;height:218px; }
.map-wrap .area-cont > li[data-area="8"].on { background:url('../images/bigdata2/img_area08_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="8"].checked { top:103px;background:url('../images/bigdata2/img_area08_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="8"].active { top:101px;left:459px;width:227px;height:230px;background:url('../images/bigdata2/img_area08_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="8"] .name { top:80px;left:169px; }
.map-wrap .area-cont > li[data-area="8"] .name:before { top:40px;left:-100px;transform:rotate(344deg); }
.map-wrap .area-cont > li[data-area="8"].active .name { top:83px;left:171px;}

.map-wrap .area-cont > li[data-area="9"] { top:37px;left:482px;width:198px;height:145px; }
.map-wrap .area-cont > li[data-area="9"].on { background:url('../images/bigdata2/img_area09_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="9"].checked { background:url('../images/bigdata2/img_area09_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="9"].active { top:34px;left:481px;width:218px;height:165px;background:url('../images/bigdata2/img_area09_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="9"] .name { top:52px;right:-75px; }
.map-wrap .area-cont > li[data-area="9"] .name:before { top:10px;left:-112px; }
.map-wrap .area-cont > li[data-area="9"].active .name { top:55px;right:-56px; }

.map-wrap .area-cont > li[data-area="10"] { top:258px;left:363px;width:159px;height:104px; }
.map-wrap .area-cont > li[data-area="10"].on { background:url('../images/bigdata2/img_area10_ho.png') no-repeat; }
.map-wrap .area-cont > li[data-area="10"].checked { left:363px;background:url('../images/bigdata2/img_area10_ck.png') no-repeat; }
.map-wrap .area-cont > li[data-area="10"].active { top:251px;left:363px;width:175px;height:121px;background:url('../images/bigdata2/img_area10_act.png') no-repeat; }
.map-wrap .area-cont > li[data-area="10"] .name { bottom:-42px;left:93px; }
.map-wrap .area-cont > li[data-area="10"] .name:before { top:-77px;left:-27px;transform:rotate(50deg); }
.map-wrap .area-cont > li[data-area="10"].active .name { bottom:-32px;left:91px; }


/* tutorial */
.tutorial-wrap { position:relative;cursor:pointer; }
.tutorial-wrap:before,
.tutorial-wrap:after { position:absolute;width:50%;top:0;bottom:0;height:100%;content:'';z-index:-1; }
.tutorial-wrap:before { left:0;background:url('../images/bigdata2/bg_tutorial_right.png'); }
.tutorial-wrap:after { right:0;background:url('../images/bigdata2/bg_tutorial_right.png'); }
.tutorial-wrap > .dim { display:block;position:absolute;top:-231px;left:0;width:100%;height:1165px;background:rgba(0,0,0,0.67);z-index:1; }
.tutorial-wrap .fix { position:relative;width:1150px;height:934px;margin:0 auto; }
.tutorial-wrap .fix .skip-cont { display:none;position:absolute;right:40px;bottom:40px;z-index:200;font-size:0; }
.tutorial-wrap .fix .skip-cont .checkbox { display:inline-block;margin:14px 20px 0 0;vertical-align:top; }
.tutorial-wrap .fix .skip-cont .checkbox input { display:none;appearance:none; }
.tutorial-wrap .fix .skip-cont .checkbox input:checked+label { background-position:0 -24px; }
.tutorial-wrap .fix .skip-cont .checkbox label { display:inline-block;height:24px;padding-left:34px;background:url('../images/bigdata2/ico_skipcheck.png') no-repeat 0 0;color:#fff;font-size:16px;font-weight:500;letter-spacing:-0.5px;line-height:22px; }
.tutorial-wrap .desc { position:absolute;bottom:50px;left:40px;z-index:3; }
.tutorial-wrap .desc-txt { display:block;margin-bottom:15px;color:#fff;font-size:18px;font-weight:700;letter-spacing:-0.75px; }
.tutorial-wrap .navi { font-size:0;text-align:left; }
.tutorial-wrap .navi > li { display:inline-block;width:8px;height:8px; }
.tutorial-wrap .navi > li > a { display:inline-block;width:8px;height:8px;background:rgba(255,255,255,0.3);border-radius:25px;vertical-align:middle; }
.tutorial-wrap .navi > li.active a { width:10px;height:10px;background:#fff; }
.tutorial-wrap .navi > li+li { margin-left:8px;}
.tutorial-wrap .tutorial-info { position:absolute;top:0;left:0;width:100%;height:100%;z-index:2; }
.tutorial-info > .inner { position:relative;width:1150px;height:100%;padding-top:10px; }
.tutorial-info .step li { position:absolute;display:none; }
.tutorial-info .step li.active { display:block; }
.tutorial-info .step li.step01 { top:12px;left:2px;width:1191px;height:798px; background:url('../images/bigdata2/img_tuto01.png') no-repeat; }
.tutorial-info .step li.step01 p { top:155px;left:241px; }
.tutorial-info .step li.step02 { top:278px;left:3px;width:640px;height:480px;background:url('../images/bigdata2/img_tuto02.png') no-repeat; }
.tutorial-info .step li.step02 p { top:206px;left:303px; }
.tutorial-info .step li.step03 { top:-107px;left:30px;width:1100px;height:782px;background:url(../images/bigdata2/img_tuto03.png) no-repeat center 0; }
.tutorial-info .step li.step03 p { top:145px;left:322px; }
.tutorial-info .step li.step04 { bottom:62px;left:2px;width:700px;height:160px;background:url(../images/bigdata2/img_tuto04.png) no-repeat;}
.tutorial-info .step li.step04 p { top:0px;left:306px; }
.tutorial-info .step li p { position:absolute;color:#fff;font-size:18px;font-weight:700;letter-spacing:-0.75px; }
.tutorial-info .step li p .color1 { color:#3ae4c2; }



/* result */
.result-wrap { padding:30px 0 80px;background:#e5e8ed;}
.result-box:after{content:''; display:block; clear:both;}
.result-box .result-tit{ padding:72px 0 48px;background:#f0f4f7; }
.result-box .result-tit > .txt01 { color:#000;font-size:30px;font-weight:400;line-height:44px;text-align:center;letter-spacing:-1.6px; }
.result-box .result-tit > .txt01 > strong { font-weight:700; }
.result-box .result-tit > .txt01 > strong.color1 { color:#24505b; }
.result-box .result-tit > .txt02 { color:#000;font-size:22px;font-weight:500;line-height:44px;letter-spacing:-0.5px;text-align:center; }
.result-box .progress-wrap {position:relative; width:550px;height:560px;padding:40px 42px 0;background:#fff; margin-right:18px; float:left;}
.result-box .progress-wrap.right{float:right; margin-right:0;}
.result-box > div.progress-wrap:nth-child(4), .result-box > div.progress-wrap:nth-child(5){margin-top:20px;}
.result-box .progress-wrap.chart{height:620px;}
.result-box .progress-wrap > .tit {display:block; color:#333;font-size:22px;font-weight:700;letter-spacing:-1.5px; margin-bottom:30px;}
/*  */.result-box .progress-wrap li+li { margin-top:20px; }
.result-box .progress-wrap .bar-tit {color:#666;font-size:16px;font-weight:700;letter-spacing:-0.4px;}
/*  */.result-box .progress-wrap .progress {position:relative; padding:25px 0 10px; text-align:center; }
/*  */.result-box .progress-wrap .progress > img {position:absolute; top:11px; display:inline-block;width:69px;height:64px;vertical-align:middle; }
.result-box .progress-wrap .progress > img.bad{left:-7px;}
.result-box .progress-wrap .progress > img.good{right:-23px;}

/*  */
.result-box .progress-wrap .percent { font-weight:700;text-align:center; }
.result-box .progress-wrap .bar-wrap {display:inline-block;width:450px;height:24px;padding:0 27px;background:#e5e8ed;border-radius:25px; }
.result-box .progress-wrap .bar-wrap .bar { height:24px;border-radius:0 25px 25px 0;text-indent:-9999px; }
/*  */
.result-box .progress-wrap .bar-wrap .bar.color1 { background:#ff9742; }
.result-box .progress-wrap .bar-wrap .bar.color2 { background:#88db3f; }
.result-box .progress-txt{position:absolute; bottom:0; left:0; width:100%; min-height:200px; background:#f7f8f9; box-shadow:-4px -4px 8px rgba(159, 166, 179, 0.25); padding:48px 42px;}
.result-box .progress-txt em{font-size:18px; font-weight:700; color:#000; letter-spacing:-0.1em;}
.result-box .progress-txt p{font-size:15px; color:#666; letter-spacing:-0.08em; margin-top:20px;}

.result-box .chart-cont {display:flex;align-items:center;width:466px;height:280px;padding:0;border:1px solid #d9dbdd;box-shadow:0 1px 4px #d9d9d9;background:#fff;border-radius:0; }
.result-box .chart-cont .chart-box { width:400px;height:200px; }





/* print */
@page {
	size:A4;
	margin:0;
}
@media print {
	html, body { margin:0;padding:0; }
	#footer, .page-location { display:none; }
	#container { padding:0 !important; }
	#container.bigdata { padding-top:0 !important; }
	.bigdata .data2 .content { padding-top:0; }
	.main-renew { display:none;padding:0;height:0; }
	.top-cont { display:none;height:0; }
	.bigdata .data2 .cont-tit-box.result { height:200px;min-height:0;padding-bottom:0;background:#fff;border-bottom:4px solid #2e6371;box-sizing:border-box;}
	.bigdata .data2 .cont-tit-box.result .sub-title { padding-top:55px !important;color:#000;letter-spacing:-1px; }
	.bigdata .cont-tit-box strong.tit-txt { color:#000 !important;font-size:38px !important;font-weight:700 !important;line-height:1 !important; }
	.result-wrap { padding-top:0; }
	.result-box .result-tit { padding-top:68px; }
	.result-box .progress-wrap { height:500px; }
	.result-box .progress-txt { min-height:auto;padding:30 42px; }

	* {
		-webkit-print-color-adjust:exact;
		print-color-adjust:exact;
    }
}


