#container.bigdata { padding:139px 0 0; }
.bigdata .inner { width:1125px;margin:0 auto; }

.bigdata .main { padding:127px 0 176px;}
.bigdata .main.type02 { padding:256px 0 260px; }
.bigdata .main .tit { margin-bottom:20px;color:#fff;font-size:64px;font-weight:700;line-height:1.2; }
.bigdata .main .tit strong { color:#008aff; }
.bigdata .main .tit-txt { color:#fefefe;font-size:16px;line-height:28px;letter-spacing:-0.25px; }
.bigdata .main .tit-txt + .btn { margin-top:135px; }
.bigdata .main .login { margin:70px 0 24px; }
.bigdata .main .login .user { color:#fff;font-size:24px;line-height:30px;letter-spacing:-1px; }
.bigdata .main .login .user strong { font-weight:700; }
.bigdata .main .login .login-txt { margin-top:10px;color:#fff;font-size:15px;font-weight:400;line-height:24px;letter-spacing:-0.25px;opacity:0.6; }
.bigdata .main .login .check-cont { margin-top:27px;}
.bigdata .main .login .check-cont .select { position:relative;font-size:0; }
.bigdata .main .login .check-cont .select select { width:430px;height:60px;padding:0 20px;color:#fff;font-size:18px;line-height:58px;letter-spacing:-0.5px;background:rgba(255,255,255,0.1) url('../images/common/ico_main_select.png') no-repeat 396px center;border-radius:3px;border:none;box-sizing:border-box; }
.bigdata .main .login .check-cont .select select optgroup,
.bigdata .main .login .check-cont .select select option { color:#000; }
.bigdata .main .login .check-cont .select .star { position:absolute;top:0;left:-13px;line-height:60px;}
.bigdata .main .login .check-cont .search { margin-top:10px;font-size:0; }
.bigdata .main .login .check-cont .search input[type="text"] { width:280px;height:60px;padding:0 20px;color:#fff;font-size:18px;line-height:58px;letter-spacing:-0.5px;background:rgba(255,255,255,0.1);border-radius:3px;border:none;box-sizing:border-box;cursor:default; }
.bigdata .main .login .check-cont .search .btn-search { width:140px;height:60px;margin-left:10px;background:rgba(0,0,0,0.6);border-radius:3px; }
.bigdata .main .login .check-cont .search .btn-search span { display:inline-block;height:27px;padding-right:32px;background:url('../images/common/ico_main_search.png') no-repeat right 3px;color:#fff;font-size:18px;font-weight:500;}
.bigdata .main .star { display:inline-block;margin-right:5px;font-size:16px;color:#fe553f; }
.bigdata .main .login .check-cont .txt01 { margin-top:8px;color:#fefefe;font-size:15px;line-height:24px;letter-spacing:-0.25px;}
.bigdata .main .login .check-cont .txt01 .star { vertical-align:-3px; }
.bigdata .main .btn-blue { display:block;width:430px;height:60px;background:#008aff;line-height:60px;border-radius:3px;color:#fff;font-size:18px;font-weight:700;text-align:center; }
.bigdata .main .btn.disabled { background:rgba(0,0,0,0.2);color:rgba(255,255,255,0.16);cursor:default; }

.bigdata .top-cont { width:1125px;min-width:1150px;height:115px;margin:0 auto; }
.bigdata .top-cont .page-title { float:left;padding-top:0;margin-top:28px;color:#000;font-size:30px;font-weight:700;letter-spacing:-0.5px;}
.bigdata .top-cont .right { float:right;margin-top:29px; }
.bigdata .top-cont .right > .btn { display:inline-block;margin-top:5px;vertical-align:top; }
.bigdata .top-cont .step { display:inline-block;margin-left:9px; }
.bigdata .top-cont .step li { position:relative;float:left;padding:37px 16px 0;color:#c4c6ca;font-size:14px;font-weight:700;letter-spacing:-1px; }
.bigdata .top-cont .step li.active { color:#008aff; }
.bigdata .top-cont .step li:before { position:absolute;top:15px;left:0;width:100%;height:3px;background:#e6e6e6;content:''; }
.bigdata .top-cont .step li:first-child:before { width:50%;left:auto;right:0; }
.bigdata .top-cont .step li:last-child:before { width:50%; }
.bigdata .top-cont .step li:after { position:absolute;top:9px;left:50%;width:19px;height:15px;background:url('../images/common/ico_step.png') no-repeat center;transform:translateX(-50%);content:''; }
.bigdata .top-cont .step li:last-child:after { width:17px;background-position:center -200px; }
.bigdata .top-cont .step li.active:after { top:0;width:33px;height:33px;background-position:0 0; }
.bigdata .top-cont .btn-wrap { float:right;margin-top:29px;font-size:0; }
.bigdata .top-cont .btn-wrap button+button { margin-left:10px; }
.bigdata .top-cont .btn-wrap .btn+button { margin-left:10px; }


.bigdata .cont-tit-box { min-height:220px;padding-bottom:40px;text-align:center; }
.bigdata .cont-tit-box .inner { position:relative; }
.bigdata .cont-tit-box .sub-title { padding-top:72px;color:#fff;font-size:38px;font-weight:700;letter-spacing:-0.5px;line-height: 1; }
.bigdata .cont-tit-box .tit-txt { margin-top:15px;color:#fff;font-size:16px;line-height:26px; }
.bigdata .cont-tit-box strong.tit-txt { display:block;margin-top:15px;color:#fff;font-size:38px;font-weight:700;line-height:1;}




