/* bigdata.css */
#container.bigdata { padding:139px 0 0; }
.bigdata .inner { width:1125px;margin:0 auto; }
.bigdata .main { padding:127px 0 176px;}
.bigdata .main.type02 { padding:256px 0 260px; }
.bigdata .main .tit { margin-bottom:20px;color:#fff;font-size:64px;font-weight:700;line-height:1.2; }
.bigdata .main .tit strong { color:#008aff; }
.bigdata .main .tit-txt { color:#fefefe;font-size:16px;line-height:28px;letter-spacing:-0.25px; }
.bigdata .main .tit-txt + .btn { margin-top:80px; }
.bigdata .main .login { margin:70px 0 24px; }
.bigdata .main .login .user { color:#fff;font-size:24px;line-height:30px;letter-spacing:-1px; }
.bigdata .main .login .user strong { font-weight:700; }
.bigdata .main .login .login-txt { margin-top:10px;color:#fff;font-size:15px;font-weight:400;line-height:24px;letter-spacing:-0.25px;opacity:0.6; }
.bigdata .main .login .check-cont { margin-top:27px;}
.bigdata .main .login .check-cont .select { position:relative;font-size:0; }
.bigdata .main .login .check-cont .select select { width:430px;height:60px;padding:0 20px;color:#fff;font-size:18px;line-height:58px;letter-spacing:-0.5px;background:rgba(255,255,255,0.1) url('../images/culture/ico_main_select.png') no-repeat 396px center;border-radius:3px;border:none;box-sizing:border-box; }
.bigdata .main .login .check-cont .select select optgroup,
.bigdata .main .login .check-cont .select select option { color:#000; }
.bigdata .main .login .check-cont .select .star { position:absolute;top:0;left:-13px;line-height:60px;}
.bigdata .main .login .check-cont .search { margin-top:10px;font-size:0; }
.bigdata .main .login .check-cont .search input[type="text"] { width:280px;height:60px;padding:0 20px;color:#fff;font-size:18px;line-height:58px;letter-spacing:-0.5px;background:rgba(255,255,255,0.1);border-radius:3px;border:none;box-sizing:border-box;cursor:default; }
.bigdata .main .login .check-cont .search .btn-search { width:140px;height:60px;margin-left:10px;background:rgba(0,0,0,0.6);border-radius:3px; }
.bigdata .main .login .check-cont .search .btn-search span { display:inline-block;height:27px;padding-right:32px;background:url('../images/culture/ico_main_search.png') no-repeat right 3px;color:#fff;font-size:18px;font-weight:500;}
.bigdata .main .star { display:inline-block;margin-right:5px;font-size:16px;color:#fe553f; }
.bigdata .main .login .check-cont .txt01 { margin-top:8px;color:#fefefe;font-size:15px;line-height:24px;letter-spacing:-0.25px;}
.bigdata .main .login .check-cont .txt01 .star { vertical-align:-3px; }
.bigdata .main .btn-blue { display:block;width:430px;height:60px;background:#008aff;line-height:60px;border-radius:3px;color:#fff;font-size:18px;font-weight:700;text-align:center; }
.bigdata .main .btn.disabled { background:rgba(61,64,64,0.78);color: rgba(102,102,102,0.78);cursor:default; }
.bigdata .top-cont { width:1125px;min-width:1150px;height:115px;margin:0 auto; }
.bigdata .top-cont .page-title { float:left;padding-top:0;margin-top:28px;color:#000;font-size:30px;font-weight:700;letter-spacing:-0.5px;}
.bigdata .top-cont .right { float:right;margin-top:29px; }
.bigdata .top-cont .right > .btn { display:inline-block;margin-top:5px;vertical-align:top; }
.bigdata .top-cont .step { display:inline-block;margin-left:9px; }
.bigdata .top-cont .step li { position:relative;float:left;padding:37px 16px 0;color:#c4c6ca;font-size:14px;font-weight:700;letter-spacing:-1px; }
.bigdata .top-cont .step li.active { color:#008aff; }
.bigdata .top-cont .step li:before { position:absolute;top:15px;left:0;width:100%;height:3px;background:#e6e6e6;content:''; }
.bigdata .top-cont .step li:first-child:before { width:50%;left:auto;right:0; }
.bigdata .top-cont .step li:last-child:before { width:50%; }
.bigdata .top-cont .step li:after { position:absolute;top:9px;left:50%;width:19px;height:15px;background:url('../images/culture/ico_step.png') no-repeat center;transform:translateX(-50%);content:''; }
.bigdata .top-cont .step li:last-child:after { width:17px;background-position:center -200px; }
.bigdata .top-cont .step li.active:after { top:0;width:33px;height:33px;background-position:0 0; }
.bigdata .top-cont .btn-wrap { float:right;margin-top:29px;font-size:0; }
.bigdata .top-cont .btn-wrap button+button { margin-left:10px; }
.bigdata .top-cont .btn-wrap .btn+button { margin-left:10px; }
.bigdata .cont-tit-box { min-height:220px;padding-bottom:40px;text-align:center; }
.bigdata .cont-tit-box .inner { position:relative; }
.bigdata .cont-tit-box .sub-title { padding-top:72px;color:#fff;font-size:38px;font-weight:700;letter-spacing:-0.5px;line-height: 1; }
.bigdata .cont-tit-box .tit-txt { margin-top:15px;color:#fff;font-size:16px;line-height:26px; }
.bigdata .cont-tit-box strong.tit-txt { display:block;margin-top:15px;color:#fff;font-size:38px;font-weight:700;line-height:1;}



/* button */
.btn-wrap { font-size:0;}
.btn-wrap button+button,
.btn-wrap [class^='btn']+[class^='btn'] { margin-left:9px; }
.btn-purple { display:inline-block;width:224px;height:50px;padding:0 53px;background:#280035;color:#fff;font-size:16px;font-weight:700;border-radius:3px;line-height:45px;text-align:center;letter-spacing:-0.5px;}
.btn-pop-gray { display:inline-block;width:140px;height:50px;background:#e3e7eb;color:#999;font-size:16px;font-weight:700;border-radius:3px;line-height:47px;text-align:center;letter-spacing:-0.5px; }
.btn-pop-purple { display:inline-block;width:140px;height:50px;background:#5f0080;color:#fff;font-size:16px;font-weight:700;border-radius:3px;line-height:47px;text-align:center;letter-spacing:-0.5px; }
.btn-pop-purple.disabled { background:#e3e7eb;color:#999;cursor:default; }
.btn-pop-purple.disabled:hover,
.btn-pop-purple.disabled:active { color:#999; }
.btn-pop-purple:hover { color:#fff;}
.btn-sm-purple { display:inline-block;min-width:120px;height:46px;line-height:43px;text-align:center;border-radius:3px;background:#5f0080;color:#fff;font-size:17px;font-weight:700;letter-spacing:-1px; }
.btn-sm-black {display:inline-block;width:192px;height:46px;line-height:43px;text-align:center;border-radius:3px;background:#333;color:#fff;font-size:17px;font-weight:700;letter-spacing:-1px; }
a.btn-sm-black:hover,a.btn-sm-black:active,a.btn-sm-black:focus { color:#fff; }
.btn-print { display:inline-block;min-width:120px;height:46px;padding-left:26px;line-height:43px;text-align:center;border-radius:3px;background:url('../images/culture/ico_print.png') no-repeat 32px 14px;border:1px solid #dcdcdc;color:#000;font-size:17px;font-weight:700;letter-spacing:-1px; }


/* pop */
.popup { display:none;position:absolute;top:50%;left:50%;width:640px;background:#fff;transform:translate(-50%,-50%); z-index:1000; }
.popup.active { display:block;}
.popup .popup-header { position:relative;width:100%;height:48px;background:#280036; }
.popup .popup-header .popup-tit { padding-left:20px;color:#fff;font-size:16px;font-weight:700;line-height:46px;letter-spacing:-0.7px; }
.popup .popup-header .btn-close { position:absolute;top:0;right:0;width:48px;height:48px;background:url('../images/culture/btn_close.png') no-repeat center;text-indent:-9999px; }
.popup .popup-cont { width:100%; }
.popup .popup-footer { width:100%;padding:32px 0; }
.popup .popup-footer .btn-wrap { margin-top:0;text-align:center; }
.dim { display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.4);z-index:1000; }
.dim.active { display:block; }


/* tab */
.data-culture .tab-wrap .tab-menu { overflow:hidden; }
.data-culture .tab-wrap .tab-menu > li { float:left;border:1px solid #000;cursor:pointer; } 
.data-culture .tab-wrap .tab-menu > li > button { background:skyblue; } 
.data-culture .tab-wrap .tab-menu > li > button:disabled { background:green; } 
.data-culture .tab-wrap .tab-menu > li.active > button { color:red;background:blue; } 
.data-culture .tab-wrap .tab-cont > li { display:none; } 
.data-culture .tab-wrap .tab-cont > li.active { display:block; } 
.data-culture .tab-wrap.sub .tab-menu > li  { background:orange; } 
.data-culture .tab-wrap.sub .tab-menu > li.active  { color:#fff; } 


/* chart */
.data-culture .chart-wrap .chart-cont { display:inline-block;width:419px;vertical-align:top; }
.data-culture .chart-wrap .chart-cont:nth-child(even) { background:#f0f4f8; }
.data-culture .chart-wrap .chart-cont+.chart-cont { margin-left:12px; }
.data-culture .chart-cont { width:853px;padding:38px 40px;border:1px solid #eaebed;border-radius:8px;text-align:center;box-shadow:0px 3px 4px #ebecee; }
.data-culture .chart-cont .tit { display:block;margin-bottom:40px;color:#000;font-size:20px;font-weight:500;line-height:1; }
.data-culture .chart-cont .chart-box { height:290px;margin:0 auto; }
.data-culture .chart-legend  { padding:15px 0 0 0;text-align:center; }
.data-culture .chart-legend ul { height:20px; }
.data-culture .chart-legend li { display:inline-block;color:#666;font-size:12px; }
.data-culture .chart-legend li+li { margin-left:18px; }
.data-culture .chart-legend li span { display:inline-block;width:10px;height:10px;margin-right:5px;border-radius:25px; }
.data-culture .progress > div { width:100%;height:50px;background:yellow; }
.data-culture .progress > div > span { display:inline-block;height:100%;background:orange; }

/* main */
.bigdata .main { padding-top:260px; }
.bigdata .main .btn-big-purple { display:block;width:430px;height:60px;background:#5f0080;line-height:60px;border-radius:3px;color:#fff;font-size:18px;font-weight:700;text-align:center; }
.bigdata .main.data-culture {width:100%;min-width:1150px;background:url('../images/culture/img_main_culture.jpg') no-repeat;background-size:cover; }

/* top cont */
.bigdata .top-cont .step li.active { color:#5f0080; }

/* culture cont */
.data-culture  { min-width:1150px; }
.data-culture .content { position:relative; }
.data-culture .cont-tit-box { background:url('../images/culture/img_culture.png') no-repeat;background-size:cover; }
.data-culture .parent-tab .inner { padding:40px 0; }
.data-culture .parent-tab .tab-menu { display:inline-block;font-size:0; }
.data-culture .parent-tab .tab-menu > li { display:inline-block;width:176px;height:50px;border:1px solid #e9edf0;border-radius:3px;box-shadow:0px 3px 4px #ebecee;text-align:center;cursor:pointer; }
.data-culture .parent-tab .tab-menu > li:hover,
.data-culture .parent-tab .tab-menu > li.active { background:#333;border-color:#333;color:#fff; }
.data-culture .parent-tab .tab-menu > li:hover span,
.data-culture .parent-tab .tab-menu > li.active span { color:#fff; }
.data-culture .parent-tab .tab-menu > li+li { margin-left:10px; }
.data-culture .parent-tab .tab-menu > li > span { display:inline-block;padding-left:50px;color:#666;font-size:17px;font-weight:700;line-height:48px;letter-spacing:-1px; }
.data-culture .parent-tab .tab-menu > li:nth-child(1) > span { background:url('../images/culture/ico_ptab01.png') no-repeat 0 center; }
.data-culture .parent-tab .tab-menu > li:nth-child(2) > span { background:url('../images/culture/ico_ptab02.png') no-repeat 0 center; }
.data-culture .parent-tab .tab-menu > li:nth-child(3) > span { background:url('../images/culture/ico_ptab03.png') no-repeat 0 center; }
.data-culture .parent-tab .tab-menu > li:nth-child(4) > span { background:url('../images/culture/ico_ptab04.png') no-repeat 0 center; }
.data-culture .parent-tab .btn-wrap { float:right; }
.data-culture .parent-tab .btn-wrap { position:relative; }
.data-culture .parent-tab .btn-wrap button:disabled { background:#e3e7eb;color:#999;cursor:default; }
.data-culture .parent-tab .btn-wrap .info-txt { position:absolute;top:62px;left:0;width:224px;padding:19px 18px;color:#fff;background:#333;font-size:13px;font-weight:700;letter-spacing:-0.25px;border-radius:3px;z-index:100;line-height:1.3; }
.data-culture .parent-tab .btn-wrap .info-txt:before { position:absolute;top:-6px;left:108px;width:9px;height:7px;background:url('../images/culture/bg_info_tool.png') no-repeat;content:''; }


.data-culture .city-cont { position:relative;width:100%;height:684px;background:#f4f5f9;box-shadow:inset 0px 4px 2px #dcdfe6; }
.data-culture .city-cont > li { display:none; }
.data-culture .city-cont > li.active { display:block; }
.data-culture .city-cont .left-menu { position:absolute;left:50%;top:28px;width:216px;margin-left:-563px; }
.data-culture .city-cont .left-menu .btn-close { position:absolute;top:0;right:0;width:53px;height:53px;background:url('../images/culture/ico_info_box_close.png') no-repeat center;text-indent:-9999px; }
.data-culture .city-cont .left-menu .tab-menu > li a { display:inline-block;width:216px;height:56px;padding-left:45px;color:#666;font-size:15px;font-weight:500;letter-spacing:-0.5px;line-height:54px;cursor:pointer; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(1) a { background:url('../images/culture/ico_stab01.png') no-repeat 20px 20px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(2) a { background:url('../images/culture/ico_stab02.png') no-repeat 20px 20px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(3) a { background:url('../images/culture/ico_stab03.png') no-repeat 20px 20px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(4) a { background:url('../images/culture/ico_stab04.png') no-repeat 20px 20px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(5) a { background:url('../images/culture/ico_stab05.png') no-repeat 20px 20px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(6) a { background:url('../images/culture/ico_stab06.png') no-repeat 20px 20px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(7) a { background:url('../images/culture/ico_stab07.png') no-repeat 20px 20px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(8) a { background:url('../images/culture/ico_stab08.png') no-repeat 20px 20px;}
.data-culture .city-cont .left-menu .tab-menu >li+li { margin-top:8px; }
.data-culture .city-cont .left-menu .tab-menu >li.active a,
.data-culture .city-cont .left-menu .tab-menu >li a:hover  { border-radius:7px;color:#fff; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(1).checked a { background:url('../images/culture/ico_oneclick.png') no-repeat 178px center,url('../images/culture/ico_stab01.png') no-repeat 20px 20px; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(2).checked a { background:url('../images/culture/ico_oneclick.png') no-repeat 178px center,url('../images/culture/ico_stab02.png') no-repeat 20px 20px; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(3).checked a { background:url('../images/culture/ico_oneclick.png') no-repeat 178px center,url('../images/culture/ico_stab03.png') no-repeat 20px 20px; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(4).checked a { background:url('../images/culture/ico_oneclick.png') no-repeat 178px center,url('../images/culture/ico_stab04.png') no-repeat 20px 20px; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(5).checked a { background:url('../images/culture/ico_oneclick.png') no-repeat 178px center,url('../images/culture/ico_stab05.png') no-repeat 20px 20px; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(6).checked a { background:url('../images/culture/ico_oneclick.png') no-repeat 178px center,url('../images/culture/ico_stab06.png') no-repeat 20px 20px; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(7).checked a { background:url('../images/culture/ico_oneclick.png') no-repeat 178px center,url('../images/culture/ico_stab07.png') no-repeat 20px 20px; }
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(8).checked a { background:url('../images/culture/ico_oneclick.png') no-repeat 178px center,url('../images/culture/ico_stab08.png') no-repeat 20px 20px; }

.data-culture .city-cont .left-menu .tab-menu >li:nth-child(1).active a,
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(1) a:hover { background:#5f0080 url('../images/culture/ico_stab01.png') no-repeat 20px -36px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(2).active a,
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(2) a:hover { background:#5f0080 url('../images/culture/ico_stab02.png') no-repeat 20px -36px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(3).active a,
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(3) a:hover{ background:#5f0080 url('../images/culture/ico_stab03.png') no-repeat 20px -36px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(4).active a,
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(4) a:hover { background:#5f0080 url('../images/culture/ico_stab04.png') no-repeat 20px -36px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(5).active a,
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(5) a:hover { background:#5f0080 url('../images/culture/ico_stab05.png') no-repeat 20px -36px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(6).active a,
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(6) a:hover { background:#5f0080 url('../images/culture/ico_stab06.png') no-repeat 20px -36px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(7).active a,
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(7) a:hover { background:#5f0080 url('../images/culture/ico_stab07.png') no-repeat 20px -36px;}
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(8).active a,
.data-culture .city-cont .left-menu .tab-menu >li:nth-child(8) a:hover { background:#5f0080 url('../images/culture/ico_stab08.png') no-repeat 20px -36px;}
.data-culture .city-cont .left-menu .tab-menu >li a.check { color:#ddd; }
.data-culture .city-cont .sub-tab-wrap { position:absolute;left:50%;top:23px;right:0;min-height:600px;padding:33px 0 32px 32px;margin-left:-323px;background:#fff;border-radius:10px 0 0 10px; }
.data-culture .city-cont .sub-tab-wrap .sub-inner { width:853px; }
.data-culture .city-cont .sub-tab-wrap .default-txt { position:relative;width:100%;height:400px;border:2px solid #eaecee;border-radius:7px; } 
.data-culture .city-cont .sub-tab-wrap .default-txt > p { position:absolute;top:145px;left:50%;padding-top:50px;background:url('../images/culture/ico_default.png') no-repeat center 0;font-size:16px;font-weight:500;color:#666;line-height:1;text-align:center;transform:translateX(-50%); } 
.data-culture .city-cont .sub-tab-wrap .current { width:100%;height:48px;margin-bottom:32px;background:#f5f5f5;border-radius:8px;text-align:center; }
.data-culture .city-cont .sub-tab-wrap .current > p { display:inline-block;padding-left:36px;background:url('../images/culture/ico_current01.png') no-repeat 0 center;color:#000;font-size:14px;font-weight:500;line-height:46px;letter-spacing:-0.75px; }
.data-culture .city-cont li:nth-child(1) .sub-tab-wrap .current > p { background:url('../images/culture/ico_current01.png') no-repeat 0 center; }
.data-culture .city-cont li:nth-child(2) .sub-tab-wrap .current > p { padding-left:80px;background:url('../images/culture/ico_current02.png') no-repeat 0 center; }
.data-culture .city-cont li:nth-child(3) .sub-tab-wrap .current > p { background:url('../images/culture/ico_current03.png') no-repeat 0 center; }
.data-culture .city-cont li:nth-child(4) .sub-tab-wrap .current > p { background:url('../images/culture/ico_current04.png') no-repeat 0 center; }
.data-culture .city-cont .sub-tab-wrap .current > p > strong { font-size:18px;font-weight:700;color:#280035; }
.data-culture .city-cont .sub-tab-wrap .tab-cont > li { display:none; } 
.data-culture .city-cont .sub-tab-wrap .tab-cont > li.active { display:block; } 
.data-culture .city-cont .sub-tab-wrap .tab-cont .cont-tit { padding-left:8px;margin-bottom:24px;color:#000;font-size:24px;font-weight:700;line-height:1;letter-spacing:-0.75px; }
.data-culture .city-cont .score-list { width:853px;font-size:0; }
.data-culture .city-cont .score-list li { display:inline-block;width:273px;height:204px;padding:30px 0;margin-top:17px;border:2px solid #eaecee;border-radius:7px;text-align:center;color:#000;font-size:14px;line-height:20x; }
.data-culture .city-cont .score-list li:nth-child(1),
.data-culture .city-cont .score-list li:nth-child(2),
.data-culture .city-cont .score-list li:nth-child(3) { margin-top:0; }
.data-culture .city-cont .score-list li:nth-child(3n-2) { margin-left:0; }
.data-culture .city-cont .score-list li > span { font-weight:700; }
.data-culture .city-cont .score-list li+li { margin-left:17px; }
.data-culture .city-cont .score-list .tit { display:block;padding-top:65px;margin-bottom:12px;color:#5f0080;font-size:18px;font-weight:700;letter-spacing:-0.5px; }
.data-culture .city-cont .score-list li:nth-child(1) .tit { background:url('../images/culture/ico_score01.png') no-repeat center top; }
.data-culture .city-cont .score-list li:nth-child(2) .tit { background:url('../images/culture/ico_score02.png') no-repeat center top; }
.data-culture .city-cont .score-list li:nth-child(3) .tit { background:url('../images/culture/ico_score03.png') no-repeat center top; }
.data-culture .city-cont .score-list li:nth-child(4) .tit { background:url('../images/culture/ico_score04.png') no-repeat center top; }
.data-culture .city-cont .score-list li:nth-child(5) .tit { background:url('../images/culture/ico_score05.png') no-repeat center top; }


.k-list-wrap { overflow:hidden; }
.k-list-wrap > .cont-txt { padding:36px 0 37px;text-align:center;font-size:16px;font-weight:500;letter-spacing:-1px;color:#000; }
.k-list-wrap > .cont-txt > strong { position:relative;display:inline-block;margin-left:5px;font-size:20px;font-weight:700;color:#280036; }
.k-list-wrap > .cont-txt > strong:after { position:absolute;left:0;bottom:-1px;width:100%;height:8px;background:#c7c0dd;content:'';    z-index:-1; }
.k-list-wrap .list-cont { height:432px; }
.k-list-wrap .list-cont > div { float:left;width:50%;height:432px;background:#f4f6f7; }
.k-list-wrap .list-cont > div .list-tit { display:block;height:41px;line-height:40px;text-align:center;box-shadow:inset 0px 3px 3px #efefef;border-bottom:1px solid #e5e6e6;background:#fff; }
.k-list-wrap .mCustomScrollbar { height:367px; }
.k-list-wrap .mCSB_inside>.mCSB_container { margin-right:0; }
.k-list-wrap .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background:#d7d7de; }
.k-list-wrap .mCS-dark.mCSB_scrollTools .mCSB_draggerRail { background:#fff; }
.k-list-wrap .mCSB_container > ul { padding:2px 20px 6px 3px; }
.k-list-wrap .mCSB_container > ul .sub-list { display:none; }
.k-list-wrap .mCSB_container > ul > li.active .sub-list { display:block; }
.k-list-wrap .mCSB_container > ul > li { padding:0 25px 0 23px;background:url('../images/culture/ico_acco.png') no-repeat 243px 25px;box-shadow:0px 2px 6px 1px #e4e4e4;border-radius:7px; }
.k-list-wrap .mCSB_container > ul > li.active { background:url('../images/culture/ico_acco_on.png') no-repeat 243px 25px; }
.k-list-wrap .mCSB_container > ul > li+li { margin-top:12px; }
.k-list-wrap .list .cont { padding:21px 0 20px 20px;background:#fff; }
.k-list-wrap .list .cont .btn-acco { height:56px;cursor:pointer;line-height:54px; }
.k-list-wrap .list .cont .btn-acco > strong { display:inline-block;padding-left:40px;font-size:16px;font-weight:500;color:#000; }
.k-list-wrap .list .music .btn-acco > strong { background:url('../images/culture/ico_k_list01.png') no-repeat 0 center; }
.k-list-wrap .list .sports .btn-acco > strong { background:url('../images/culture/ico_k_list02.png') no-repeat 0 center; }
.k-list-wrap .list .art .btn-acco > strong { background:url('../images/culture/ico_k_list03.png') no-repeat 0 center; }
.k-list-wrap .list .media .btn-acco > strong { background:url('../images/culture/ico_k_list04.png') no-repeat 0 center; }
.k-list-wrap .list .etc .btn-acco > strong { background:url('../images/culture/ico_k_list05.png') no-repeat 0 center; }

.k-list-wrap .list .sub-list { padding-bottom:25px; }
.k-list-wrap .list .sub-list > li { height:56px;padding-left:59px;line-height:54px;border:1px solid #e0e0e7;border-radius:7px;box-shadow:0px 2px 6px 1px #e4e4e4;color:#000;font-size:15px;font-weight:700;cursor:pointer; }
.k-list-wrap .list .sub-list > li+li { margin-top:8px; }
.k-list-wrap .list .music .sub-list > li:nth-child(1) { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .list .music .sub-list > li:nth-child(2) { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .list .music .sub-list > li:nth-child(3) { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .list .music .sub-list > li:nth-child(4) { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .list .sports .sub-list > li:nth-child(1) { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .list .sports .sub-list > li:nth-child(2) { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .list .sports .sub-list > li:nth-child(3) { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .list .sports .sub-list > li:nth-child(4) { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .list .art .sub-list > li:nth-child(1) { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .list .art .sub-list > li:nth-child(2) { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .list .art .sub-list > li:nth-child(3) { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .list .art .sub-list > li:nth-child(4) { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .list .media .sub-list > li:nth-child(1) { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .list .media .sub-list > li:nth-child(2) { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .list .media .sub-list > li:nth-child(3) { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .list .media .sub-list > li:nth-child(4) { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .list .etc .sub-list > li:nth-child(1) { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .list .etc .sub-list > li:nth-child(2) { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .list .etc .sub-list > li:nth-child(3) { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .list .etc .sub-list > li:nth-child(4) { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .list .music .sub-list > li.selected { color:#8c8c8f;cursor:default;box-shadow:none; }
.k-list-wrap .list .music .sub-list > li.selected:nth-child(1) { background:#e9e9ee url('../images/culture/ico_li_m_01.png') no-repeat 15px -54px; }
.k-list-wrap .list .music .sub-list > li.selected:nth-child(2) { background:#e9e9ee url('../images/culture/ico_li_m_02.png') no-repeat 15px -54px; }
.k-list-wrap .list .music .sub-list > li.selected:nth-child(3) { background:#e9e9ee url('../images/culture/ico_li_m_03.png') no-repeat 15px -54px; }
.k-list-wrap .list .music .sub-list > li.selected:nth-child(4) { background:#e9e9ee url('../images/culture/ico_li_m_04.png') no-repeat 15px -54px; }
.k-list-wrap .list .sports .sub-list > li.selected:nth-child(1) { background:#e9e9ee url('../images/culture/ico_li_m_01.png') no-repeat 15px -54px; }
.k-list-wrap .list .sports .sub-list > li.selected:nth-child(2) { background:#e9e9ee url('../images/culture/ico_li_m_02.png') no-repeat 15px -54px; }
.k-list-wrap .list .sports .sub-list > li.selected:nth-child(3) { background:#e9e9ee url('../images/culture/ico_li_m_03.png') no-repeat 15px -54px; }
.k-list-wrap .list .sports .sub-list > li.selected:nth-child(4) { background:#e9e9ee url('../images/culture/ico_li_m_04.png') no-repeat 15px -54px; }
.k-list-wrap .list .art .sub-list > li.selected:nth-child(1) { background:#e9e9ee url('../images/culture/ico_li_m_01.png') no-repeat 15px -54px; }
.k-list-wrap .list .art .sub-list > li.selected:nth-child(2) { background:#e9e9ee url('../images/culture/ico_li_m_02.png') no-repeat 15px -54px; }
.k-list-wrap .list .art .sub-list > li.selected:nth-child(3) { background:#e9e9ee url('../images/culture/ico_li_m_03.png') no-repeat 15px -54px; }
.k-list-wrap .list .art .sub-list > li.selected:nth-child(4) { background:#e9e9ee url('../images/culture/ico_li_m_04.png') no-repeat 15px -54px; }
.k-list-wrap .list .media .sub-list > li.selected:nth-child(1) { background:#e9e9ee url('../images/culture/ico_li_m_01.png') no-repeat 15px -54px; }
.k-list-wrap .list .media .sub-list > li.selected:nth-child(2) { background:#e9e9ee url('../images/culture/ico_li_m_02.png') no-repeat 15px -54px; }
.k-list-wrap .list .media .sub-list > li.selected:nth-child(3) { background:#e9e9ee url('../images/culture/ico_li_m_03.png') no-repeat 15px -54px; }
.k-list-wrap .list .media .sub-list > li.selected:nth-child(4) { background:#e9e9ee url('../images/culture/ico_li_m_04.png') no-repeat 15px -54px; }
.k-list-wrap .list .etc .sub-list > li.selected:nth-child(1) { background:#e9e9ee url('../images/culture/ico_li_m_01.png') no-repeat 15px -54px; }
.k-list-wrap .list .etc .sub-list > li.selected:nth-child(2) { background:#e9e9ee url('../images/culture/ico_li_m_02.png') no-repeat 15px -54px; }
.k-list-wrap .list .etc .sub-list > li.selected:nth-child(3) { background:#e9e9ee url('../images/culture/ico_li_m_03.png') no-repeat 15px -54px; }
.k-list-wrap .list .etc .sub-list > li.selected:nth-child(4) { background:#e9e9ee url('../images/culture/ico_li_m_04.png') no-repeat 15px -54px; }
.k-list-wrap .select-list .cont > ul { padding:22px 25px; }
.k-list-wrap .select-list .cont > ul > li+li { margin-top:11px; }
.k-list-wrap .select-list .cont > ul .select-cont { position:relative;height:57px;background:#5f0080;font-size:15px;font-weight:700;color:#fff;letter-spacing:-0.3px;border-radius:7px;line-height:55px; }
.k-list-wrap .select-list .cont > ul .select-cont > div { padding-left:58px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_01_01 { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_01_02 { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_01_03 { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_01_04 { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_02_01 { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_02_02 { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_02_03 { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_02_04 { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_03_01 { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_03_02 { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_03_03 { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_03_04 { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_04_01 { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_04_02 { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_04_03 { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_04_04 { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_05_01 { background:url('../images/culture/ico_li_m_01.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_05_02 { background:url('../images/culture/ico_li_m_02.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_05_03 { background:url('../images/culture/ico_li_m_03.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .li_05_04 { background:url('../images/culture/ico_li_m_04.png') no-repeat 15px 10px; }
.k-list-wrap .select-list .cont > ul .select-cont .btn-delete { position:absolute;top:0;right:0;width:34px;height:57px;background:url('../images/culture/btn_close.png') no-repeat center;text-align:center;text-indent:-9999px; }
.k-list-wrap .select-list .cont > ul .info-txt { height:57px;background:#fff;border:2px dashed #bebec5;font-size:15px;font-weight:500;color:#666;letter-spacing:-0.3px;border-radius:7px;line-height:55px;text-align:center; }
.k-list-wrap .list-cont .select-list .list-tit { box-shadow:inset 0px 3px 3px #dee0e2;background:#edeff1; }


/* tutorial */
.tutorial-wrap { position:relative;cursor:pointer; }
.tutorial-wrap:before,
.tutorial-wrap:after { position:absolute;width:50%;top:0;bottom:0;height:100%;content:'';z-index:-1; }
.tutorial-wrap:before { left:0;background:url('../images/culture/bg_tutorial_left.png'); }
.tutorial-wrap:after { right:0;background:url('../images/culture/bg_tutorial_right.png'); }
.tutorial-wrap > .dim { display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.67);z-index:1; }
.tutorial-wrap .fix { position:relative;width:1150px;height:815px;margin:0 auto; }
.tutorial-wrap .fix .skip-cont { position:absolute;right:40px;bottom:40px;z-index:200;font-size:0; }
.tutorial-wrap .fix .skip-cont .checkbox { display:inline-block;margin:14px 20px 0 0;vertical-align:top; }
.tutorial-wrap .fix .skip-cont .checkbox input { display:none;appearance:none; }
.tutorial-wrap .fix .skip-cont .checkbox input:checked+label { background-position:0 -24px; }
.tutorial-wrap .fix .skip-cont .checkbox label { display:inline-block;height:24px;padding-left:34px;background:url('../images/culture/ico_skipcheck.png') no-repeat 0 0;color:#fff;font-size:16px;font-weight:500;letter-spacing:-0.5px;line-height:22px; }
.tutorial-wrap .fix .skip-cont .btn-skip { display:inline-block;width:120px;height:50px;border-radius:3px;background:#5f0080;color:#fff;font-size:17px;font-weight:700;text-align:center;letter-spacing:-1px;line-height:48px;box-shadow:1px 1px 10px 0px #2b2b2b; }
.tutorial-wrap .desc { position:absolute;bottom:60px;left:40px;z-index:3; }
.tutorial-wrap .desc-txt { display:block;margin-bottom:15px;color:#fff;font-size:18px;font-weight:700;letter-spacing:-0.75px; }
.tutorial-wrap .navi { font-size:0;text-align:left; }
.tutorial-wrap .navi > li { display:inline-block;width:8px;height:8px; }
.tutorial-wrap .navi > li > a { display:inline-block;width:8px;height:8px;background:rgba(255,255,255,0.3);border-radius:25px;vertical-align:middle; }
.tutorial-wrap .navi > li.active a { width:10px;height:10px;background:#fff; }
.tutorial-wrap .navi > li+li { margin-left:8px;}
.tutorial-wrap .tutorial-info { position:absolute;top:0;left:0;width:100%;height:100%;z-index:2; }
.tutorial-info > .inner { position:relative;width:1150px;padding-top:10px; }
.tutorial-info .step li { position:absolute;display:none; }
.tutorial-info .step li.active { display:block; }
.tutorial-info .step li.step01 { top:13px;left:-28px;width:800px;height:140px; background:url('../images/culture/img_tuto01.png') no-repeat; }
.tutorial-info .step li.step01 p { top:125px;left:380px; }
.tutorial-info .step li.step02 { top:131px;left:-28px;width:640px;height:570px;background:url('../images/culture/img_tuto02.png') no-repeat; }
.tutorial-info .step li.step02 p { top:237px;left:328px; }
.tutorial-info .step li.step03 { top:11px;right:3px;width:600px;height:150px; background:url('../images/culture/img_tuto03.png') no-repeat right 0; }
.tutorial-info .step li.step03 p { top:135px;left:14px; }
.tutorial-info .step li p { position:absolute;color:#fff;font-size:18px;font-weight:700;letter-spacing:-0.75px; }
.tutorial-info .step li p .color1 { color:#fa6252; }


/* result */
.result-wrap { padding:30px 0 80px;background:#e5e8ed; }
.result-box { padding:72px 0 60px;background:#f0f4f7 url('../images/culture/bg_result_wrap.png') no-repeat center 0; }
.result-box > .txt01 { color:#000;font-size:30px;font-weight:400;line-height:44px;text-align:center;letter-spacing:-1.6px; }
.result-box > .txt01 > strong { font-weight:700; }
.result-box > .txt01 > strong.color1 { color:#280035; }
.result-box > .txt02 { color:#000;font-size:22px;font-weight:500;line-height:44px;letter-spacing:-0.5px;text-align:center; }
.result-box .progress-wrap { width:1040px;height:388px;padding:40px 42px 0;margin:37px auto 0;background:rgba(255,255,255,0.7);border-radius:15px;text-align:center;box-shadow:-1px 4px 9px 0 #d5d8de; }
.result-box .progress-wrap > .tit { display:inline-block;height:48px;padding-left:55px;color:#333;font-size:28px;font-weight:700;letter-spacing:-1.5px;background:url('../images/culture/ico_progress_tit.png') no-repeat 0 center;line-height:48px; }
.result-box .progress-box { height:228px;padding:28px 35px;margin-top:32px;border:1px solid #e1e2e4;border-radius:10px;background:#fff; }
.result-box .progress-box li+li { margin-top:10px; }
.result-box .progress-box .bar-tit { position:relative;display:inline-block;width:150px;height:32px;margin-bottom:8px;background:#191919;border-radius:3px;text-align:center;color:#fff;font-size:18px;font-weight:700;letter-spacing:-0.4px;line-height:30px; }
.result-box .progress-box .bar-tit:after { position:absolute;left:70px;bottom:-6px;width:13px;height:12px;background:url('../images/culture/bg_bar_tit.png') no-repeat;content:''; }
.result-box .progress-box .progress { text-align:left; }
.result-box .progress-box .progress > span { display:inline-block;width:32px;height:32px;text-indent:-9999px;vertical-align:middle; }
.result-box .progress-box .progress .bad { margin-right:8px;background:url('../images/culture/ico_smile.png') no-repeat 0 0; }
.result-box .progress-box .progress .good { margin-left:7px;background:url('../images/culture/ico_smile.png') no-repeat -62px 0; }
.result-box .progress-box .bar-wrap { display:inline-block;width:800px;height:24px;background:#e5e8ed;border-radius:25px; }
.result-box .progress-box .bar-wrap .bar { height:24px;border-radius:25px;text-indent:-9999px; }
.result-box .progress-box .bar-wrap .bar.color1 { background:#fc3578; }
.result-box .progress-box .bar-wrap .bar.color2 { background:#32c4d1; }
.result-box .graph-wrap { margin-top:60px;overflow:hidden;box-shadow: -4px -3px 4px #d9d9d9 }
.result-box .graph-wrap > li { float:left;width:375px;height:286px;padding:30px;background:#fff; }
.result-box .graph-wrap > li:nth-child(2n) { background:#f7f8f9; }
.result-box .graph-wrap > li > .tit { display:block;margin-bottom:18px;color:#333;font-size:18px;font-weight:700;letter-spacing:-1.5px; }
.result-box .chart-cont { display:flex;align-items:center;width:315px;height:186px;padding:0;border:1px solid #d9dbdd;box-shadow: 0 1px 4px #d9d9d9;background:#fff;border-radius:0; }
.result-box .chart-cont .chart-box { height:auto; }

.result-wrap .figure:after { clear:both;display:block;content:''; }
.result-wrap .figure > li { float:left;width:553px;box-shadow:-1px 4px 9px 0 #d5d8de; }
.result-wrap .figure > li+li { margin-left:18px; }
.result-wrap .figure > li:nth-child(1) .tit-cont { background:#71468c; }
.result-wrap .figure > li:nth-child(2) .tit-cont { background:#d34f64; }
.result-wrap .figure .tit-cont { display:block;height:72px;padding-left:40px;color:#fff;font-size:22px;font-weight:700;letter-spacing:-1px;line-height:70px; }
.result-wrap .figure > li > div { padding:62px 0;background:#fff;text-align:center; }
.result-wrap .figure > li > div > span { color:#000;font-size:28px;font-weight:500;letter-spacing:-1px; }
.result-wrap .figure > li > div > span > em { font-size:48px;font-weight:700;letter-spacing:-1px; }
.result-wrap .proportion { height:520px; padding:40px;margin-top:20px;background:#eef3f7;box-shadow:-4px -5px 9px 0 #d5d8de; }
.result-wrap .proportion > .tit { display:block;margin-bottom:40px;color:#000;font-size:22px;font-weight:700;letter-spacing:-1px; }
.result-wrap .proportion > ul { position:relative; }
.result-wrap .proportion > ul:after { clear:both;display:block;content:''; }
.result-wrap .proportion > ul > li { float:left;width:50%; }
.result-wrap .proportion > ul > li+li { position:relative; }
.result-wrap .proportion > ul > li+li:before { position:absolute;top:50%;left:-40px;width:88px;height:160px;background:url('../images/culture/bg_proportion.png') no-repeat;transform:translateY(-50%);content:''; }
.result-wrap .proportion .chart-cont { width:auto;padding:0;border:none;box-shadow:none; }
.result-wrap .proportion .chart-cont > .tit { margin-bottom:8px;text-align:left;color:#666;font-size:16px;font-weight:700; }
.result-wrap .proportion > ul > li:nth-child(1) .chart-cont > .tit { padding-left:20px; }
.result-wrap .proportion > ul > li:nth-child(2) .chart-cont > .tit { padding-left:10px; }
.result-wrap .proportion .chart-box { margin-top:-25px; }
.result-wrap .proportion > ul > li:nth-child(1) .chart-box { width:280px;height:336px; }
.result-wrap .proportion > ul > li:nth-child(2) .chart-box { width:336px;height:336px;margin:-25px 0 0 115px; }

.result-wrap .proportion .chart-legend { position:absolute;left:50%;bottom:-40px;transform:translateX(-50%); }
.result-wrap .proportion .chart-legend li { font-size:14px; }
.result-wrap .proportion .chart-legend li+li { margin-left:27px; }
.result-wrap .proportion .chart-legend li span { width:24px;height:10px;margin-right:10px;border-radius:0; }

.data-culture .keyword { width:800px; }
.data-culture .keyword img { width:100%; }


/* print */
@page {
	size: A4;
	margin:0;
}
@media print {
	html, body { margin:0;padding:0; }
	#footer, .page-location { display:none; }
	#container { padding:0 !important; }
	#container.bigdata { padding-top:0 !important; }
	.bigdata .data-culture .content { padding-top:0; }
	.main-renew { display:none;padding:0;height:0; }
	.top-cont { display:none;height:0; }
	.bigdata .data-culture .cont-tit-box.result { height:200px;min-height:0;padding-bottom:0;background:#fff;border-bottom:4px solid #5f0080;box-sizing:border-box;}
	.bigdata .data-culture .cont-tit-box.result .sub-title { padding-top:55px !important;color:#000;letter-spacing:-1px; }
	.bigdata .cont-tit-box strong.tit-txt { color:#000 !important;font-size:38px !important;font-weight:700 !important;line-height:1 !important; }
	.bigdata .cont-tit-box .btn-return { display:none; }
	.data-culture .break { page-break-before:always; }
	.result-wrap { padding-bottom:10px; }
	.result-box { padding: 30px 0 20px; }
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust:exact;
    }
}


