.inner.wide-inner{width:100%;}
.s-tit { color:#000;font-size:30px;font-weight:500;line-height:22px;letter-spacing:-0.3px;}
.s-tit-txt { color:#555;font-size:16px;font-weight:400;line-height:24px;letter-spacing:-0.3px; }
.cont-s-tit { font-family: "Noto Sans KR", sans-serif; }

/* button */
.btn-pop { display:inline-block;height:40px;padding:0 19px;line-height:37px;border:1px solid #ccc;border-radius:3px;background:#fff;text-align:center;color:#111;font-size:14px;font-weight:500;letter-spacing:-0.3px;box-sizing:border-box; }
.btn-red { display:inline-block;height:40px;padding:0 19px;line-height:37px;border:1px solid #f64656;border-radius:3px;background:#fff;text-align:center;color:#d2192b;font-size:14px;font-weight:500;letter-spacing:-0.3px;box-sizing:border-box; }
.btn-red span { padding-right:37px;background:url('../images/content/ico_red_arrow.png') no-repeat right center; }
.btn-gray { display:inline-block;min-width:103px;height:42px;background:#777;color:#fff;border:none;border-radius:3px;font-size:16px;font-weight:700;line-height:40px; }

/* popup */
.rm-popup { position:fixed;top:50%;left:50%;width:720px;height:656px;display:none;background:#fff;z-index:1000;transform:translate(-50%,-50%); }
.rm-popup.on { display:block;}
.rm-popup .popup-header { width:100%;height:59px;padding:0 30px;background:#4764c0;box-sizing:border-box; }
.rm-popup .popup-header .popup-tit { margin:0;color:#fff;font-size:20px;font-weight:500;line-height:59px;letter-spacing:-0.3px; }
.rm-popup .popup-cont { width:100%;height:490px;padding:32px;overflow-y:auto;box-sizing:border-box; }
.rm-popup .popup-footer { padding:0 32px;background:#fff;text-align:center; }
.rm-popup .popup-footer .inner { width:auto;padding:32px 0;border-top:1px solid #999; }
.dim { position:fixed;top:0;left:0;display:none;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:500; }

/* table */
.board-list > em { display:block;margin:31px 0 15px;color:#111;font-size:14px;line-height:24px; }
.board-list > em > span { color:#f74657;font-weight:700; }
.board-list table { width:100%;border:1px solid #d6d6d6;text-align:center; }
.board-list table th { height:40px;padding:0 24px;border-bottom:1px solid #e6e8da;border-right:1px solid #e6e8da;background:#f6f9ef;font-family: "Noto Sans KR", sans-serif;color:#111;font-size:14px;font-weight:400;letter-spacing:-0.3px; }
.board-list table th:last-child { border-right:none; }
.board-list table td { height:40px;padding:0 23px;border-bottom:1px solid #e6e8da;border-right:1px solid #e6e8da;font-family: "Noto Sans KR", sans-serif;color:#111;font-size:14px;font-weight:400;line-height:24px;letter-spacing:-0.4px; }
.board-list table tr:last-child td,.board-list table tr td.line-btm { border-bottom:1px solid #d6d6d6;; }
.board-list table td:last-child { border-right:none; }
.board-list table td a { color:#2763dc;font-size:14px;font-weight:500; }
.board-list .txt-left { text-align:left; }

.board-list02 table { width:100%;border-top:2px solid #555;text-align:center; }
.board-list02 table th { height:48px;padding:0 24px;border-bottom:1px solid #d5d5d5;font-family: "Noto Sans KR", sans-serif;color:#333;font-size:15px;font-weight:500;letter-spacing:-0.3px; }
.board-list02 table th:last-child { border-right:none; }
.board-list02 table td { height:42px;padding:10px 23px;border-bottom:1px solid #d5d5d5;border-right:1px solid #d5d5d5;font-family: "Noto Sans KR", sans-serif;color:#666;font-size:14px;font-weight:400;line-height:20px;letter-spacing:-0.4px;    box-sizing:border-box; }
.board-list02 table tr:last-child td,.board-list02 table tr td.line-btm { border-bottom:1px solid #d5d5d5; }
.board-list02 table td:last-child { border-right:none; }
.board-list02 table td a { color:#666666;font-size:14px;font-weight:400;font-family: "Noto Sans KR", sans-serif; }
.board-list02 table td a:hover { color:#4764c0; }
.board-list02 .txt-left { text-align:left; }

/* text style */
.info-txt { margin-top:14px;color:#555;font-size:14px;line-height:24px;letter-spacing:-0.3px; }
.info-txt a { position:relative;color:#2763dc;font-size:14px;line-height:24px; }
.info-txt a:after { position:absolute;left:0;bottom:0;width:100%;height:1px;background:#2763dc;content:''; }
.info-txt em { font-weight:700;color:#000; }
.info-txt + .info-txt { margin-top:0; }
.txt-red { display:block;margin:39px 0 15px;color:#f63245;font-size:16px;font-weight:700;letter-spacing:-0.3px;}
.txt01 { color:#000;font-size:16px;line-height:24px;letter-spacing:-0.3px; }

/* list */
.possible-list li { padding-left:28px;background:url('../images/content/ico_posssible.png') no-repeat 0 center;color:#555;font-size:16px;line-height:32px;letter-spacing:-0.3px; }
.possible-list li em { display:inline-block;margin-right:10px;color:#000;font-weight:700; }

.dot-list { margin-top:10px; }
.dot-list li { color:#555;font-size:16px;line-height:26px;letter-spacing:-0.3px; }
.dot-list li:before { display:inline-block;width:6px;height:6px;margin-right:10px;background:#ccc;border-radius:25px;vertical-align:3px;content:''; }
.dot-list li+li { margin-top:10px; }
.dot-list li .go-link { font-size:16px; }

.dot-txt { margin-top:17px; }
.dot-txt li { color:#000;font-size:16px;font-weight:400;line-height:36px;letter-spacing:-0.3px; }
.dot-txt em { display:inline-block;margin-right:10px;color:#000;font-size:16px;font-weight:700;line-height:36px;letter-spacing:-0.3px; }
.dot-txt em:before { display:inline-block;width:6px;height:6px;margin-right:10px;background:#ccc;border-radius:25px;vertical-align:3px;content:'';}
.dot-txt li .board-list { margin-top:11px; }

/* content */
.cutoff-line { width:100%;height:4px;margin:37px 0 42px;background:url('../images/content/cutoff_line.png') no-repeat 0 center;}
.ico-new { display:inline-block;width:15px;height:15px;margin-right:4px;background:url('../images/content/ico_new.png') no-repeat 0 center;text-indent:-9999px; }

.go-link { position:relative;margin-right:8px;color:#2763dc;font-size:18px;font-weight:500;line-height:26px;letter-spacing:-0.3px; }
.go-link:before { position:absolute;left:0;bottom:1px;width:calc(100% - 25px);height:1px;background:#2763dc;content:''; }
.go-link:after { display:inline-block;width:16px;height:16px;margin-left:7px;background:url('../images/content/ico_go_link.png') no-repeat right 0;vertical-align:-2px;content:''; }

.remote-top { position:relative;padding-top:20px;font-family: "Noto Sans KR", sans-serif; }
.remote-top h2,.remote-top h3,.remote-top h4,.remote-top a,.remote-top button { font-family: "Noto Sans KR", sans-serif; }
.remote-top:before { position:absolute;left:0;bottom:0;width:100%;height:133px;background:linear-gradient(to top, #f4f4f7,#fdfcfd);content:''; }
.remote-top .inner { width:996px; }
.remote-top .s-tit { padding-left:6px; }
.remote-top .s-tit-txt { padding-left:6px;margin-top:28px; }
.remote-top .remote-cont { margin-top:55px; }

.remote-tab { padding:57px 6px 40px;overflow:hidden; }
.remote-tab > li { float:left; width:184px;height:160px;background:#fff;border-radius:24px;box-shadow:0 2px 8px 0 rgba(51,51,51,0.16);overflow:hidden; }
.remote-tab > li+li { margin-left:16px; }
.remote-tab > li > a { display:block;width:100%;height:100%;padding:15px 24px 15px 20px;box-sizing:border-box;transition:0.2s; }
.remote-tab > li:nth-child(1) > a { background:url(../images/content/img_remote_t01.png) no-repeat 96px 78px; }
.remote-tab > li:nth-child(2) > a {  background:url(../images/content/img_remote_t02.png) no-repeat 96px 78px; }
.remote-tab > li:nth-child(3) > a {  background:url(../images/content/img_remote_t03.png) no-repeat 96px 78px; }
.remote-tab > li:nth-child(4) > a {  background:url(../images/content/img_remote_t04.png) no-repeat 96px 78px; }
.remote-tab > li:nth-child(5) > a {  background:url(../images/content/img_remote_t05.png) no-repeat 96px 78px; }
.remote-tab > li:nth-child(1).on > a,.remote-tab > li:nth-child(1) > a:hover { background-color:#8469e3; }
.remote-tab > li:nth-child(2).on > a,.remote-tab > li:nth-child(2) > a:hover { background-color:#506af1; }
.remote-tab > li:nth-child(3).on > a,.remote-tab > li:nth-child(3) > a:hover { background-color:#44cf86; }
.remote-tab > li:nth-child(4).on > a,.remote-tab > li:nth-child(4) > a:hover { background-color:#f06439; }
.remote-tab > li:nth-child(5).on > a,.remote-tab > li:nth-child(5) > a:hover { background-color:#fd4885; }
.remote-tab > li > a > strong { color:#555;font-size:18px;font-weight:500;line-height:26px;letter-spacing:-0.3px; }
.remote-tab > li.on > a > strong,.remote-tab > li > a:hover strong { color:#fff;font-weight:700; }

.remote-cont,.remote-cont a,.remote-cont button { font-family: "Noto Sans KR", sans-serif; }
.remote-cont .inner { padding:59px 0 60px; }
.remote-cont .cont-tit { position:relative;padding-left:33px;margin:59px 0 39px;color:#000;font-size:24px;font-weight:500;letter-spacing:-0.3px; }
.remote-cont .cont-tit:first-child { margin-top:0;}
.remote-cont .cont-tit:before { position:absolute;top:1px;left:0;width:24px;height:24px;border-radius:25px;content:''; }
.remote-cont .cont-tit.type01:before { background:#8665f2; }
.remote-cont .cont-tit.type02:before { background:#7388f4; }
.remote-cont .cont-tit.type03:before { background:#69d99e; }
.remote-cont .cont-tit.type04:before { background:#f38361; }
.remote-cont .cont-tit.type05:before { background:#fd6d9d; }
.remote-cont .cont-tit:after { position:absolute;top:8px;left:7px;width:10px;height:10px;background:#fff;border-radius:25px;content:''; }
.remote-cont .cont-tit + .cont-tit-txt { margin-top:-7px;}
.remote-cont .cont-tit-txt { color:#000;font-size:18px;font-weight:400;line-height:30px;letter-spacing:-0.5px; }
.remote-cont .cont-tit-txt + .cont-tit-txt { margin-top:17px; }
.remote-cont .cont-s-tit { margin-top:40px;color:#000;font-size:18px;font-weight:500;line-height:22px;letter-spacing:-0.3px; }
.remote-cont .cont-s-tit:nth-of-type(1) { margin-top:0; }
.remote-cont .cont-stit-txt { margin-top:12px;color:#555;font-size:16px;font-weight:400;line-height:26px;letter-spacing:-0.5px; }
.remote-cont .cont-stit-txt .go-link { font-size:16px; }

.remote-cont .btn-down { display:block;height:20px;margin-top:24px;background:url('../images/content/ico_down.png') no-repeat 0 4px; }
.remote-cont .btn-down+.btn-down { margin-top:16px; }
.remote-cont .btn-down span { position:relative;margin-left: 23px;color:#111;font-size:14px;font-weight:500;line-height:16px;letter-spacing:-0.3px; }
.remote-cont .btn-down span:after { position:absolute;left:0;bottom:0;width:100%;height:1px;background:#111;content:''; }
.remote-cont .btn-down span em { color:#f53144;font-weight:700;}
.remote-cont .btn-down.big { height:26px;margin-top:30px;background:url('../images/content/ico_down_big.png') no-repeat 0 2px; }
.remote-cont .btn-down.big span { margin-left:34px;font-size:16px;line-height:24px; }
.remote-cont .btn-wrap { margin-top:17px; }
.remote-cont .btn-wrap .btn-down { display:inline-block;margin-top:0; }
.remote-cont .btn-wrap .btn+.btn { margin-left:6px; }
.remote-cont .btn-wrap .btn+.btn-down { margin-left:16px; }

.img-wrap-cont { margin:43px 0 32px;overflow:hidden; }
.img-wrap-cont .img-cont { float:left; }
.img-wrap-cont .txt-cont { float:right;width:492px;padding-top:34px; }
.img-wrap-cont .txt-cont .tit { display:block;margin-bottom:30px;color:#000;font-size:30px;font-weight:500;line-height:44px;letter-spacing:-0.75px;}
.img-wrap-cont .txt { margin-top:17px;color:#000;font-size:16px;font-weight:400;line-height:26px;letter-spacing:-0.3px; }
.img-wrap-cont .btn-down { margin-top:22px; }
.img-wrap-cont .txt-cont .txt-red { margin:0; }
.img-wrap-cont .possible-list { margin-top:40px; }

.remote3_vr { background: url('../images/content/img_re03_vr.jpg') no-repeat right 15px;}

.remote-tyep-img { margin:17px 0 14px; }
.remote05-img { margin-top:36px; }